[2022-04-02 17:52] adrianinsaval commented on #6697
Most likely yes if the filesystem supports it, AFAIK ext4 and co don't support that so if you create it on Linux FS and the copy to a windows fs it might not be hidden. But that isn't FreeCAD's responsibility.
We should also take into account if we actually want the backups hidden, as noobs won't immediately know they exist, perhaps it should be a regular directory called FCBak, and ideally the ba

[2022-04-02 18:05] hjalti-thor opened #6706 "[Bug] Keyboard shortcuts not working in undocked doc window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?t=67606

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When menu _View → Document window → Undocked_  is selected, keyboard shortcuts stop working
For example, in a _sk

[2022-04-02 18:22] #6702 closed

[2022-04-02 19:02] Roy-043 commented on #6030
As discussed in the forum thread: this issue can be closed.

[2022-04-02 19:04] Roy-043 commented on #6265
OpenBrain's analysis is correct. This issue can be closed.

[2022-04-02 19:10] Roy-043 commented on #6102
Yes, the problem still exists.

[code]

[2022-04-02 20:10] #6265 closed

[2022-04-02 21:20] luzpaz commented on #6704
The fact is that if you change your locale and don't restart, there are certain aspects of FreeCAD that still won't respect the locale change. This is why I'm proposing the top to options

[2022-04-03 02:51] luzpaz opened #6707 "[Problem] TechDraw: File properties point to deleted Snap/AppImage install directories"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

DIscussion: https://github.com/ppd/freecad-ppd/issues/27#issuecomment-1086731946
In which it was discovered that this is not Snap package related per se but a limitation in TechDraw and possibly FreeCAD in general.

### Version

0.20 (Development)

### Full version info

[code]

### Subproje

[2022-04-03 03:03] JohnOCFII commented on #6108
I'm not them, but I don't see this issue with any of: the last weekly: 27936; nor iPatch's 28574, nor my self-compiled (with Homebrew) 28578.

[code]
OS: macOS 12.3
Word size of FreeCAD: 64-bit
Version: 0.20.28578 (Git)
Build type: Release
Branch: master
Hash: 4cffe64b623054207050a047bbb1926a83ceb747
Python 3.9.12, Qt 5.15.3, Coin 4.0.0, OCC 7.5.3
Locale: English/United States (en_US)
[/code]

[2022-04-03 03:05] luzpaz commented on #6108
Thanks! Closing. If this issue persists, please don't hesitate to re-open.

[2022-04-03 03:05] #6108 closed

[2022-04-03 05:23] PLChris commented on #6040
Retested and error doesn't occur anymore.

[2022-04-03 05:23] #6040 closed

[2022-04-03 11:53] luzpaz commented on #6698
This issue is not present on latest Snap edge/nightly package. @WandererFan suspects it has to do with Qt5.15.2 since Snap is using Qt5.15.3

[code]

[2022-04-03 13:04] CharlemagneLasse opened #6709 "[Bug] Flipping rectangles in"fully constrainted"parametric sketch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=67720

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

[This is an extremely simplified reproducer - I know how to work around this by constraining it differently bu

[2022-04-03 13:05] WandererFan commented on #6698
Qt 5.15.2 works in at least 1 case.  Waiting for local build of release version

From **stable PPA** - does not work
OS: Ubuntu 21.10 (ubuntu:GNOME/ubuntu)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.19.
Build type: Release
Branch: unknown
Hash: 0d9536ed3e8c7f40197b5606e1b7873625e1d6fe
Python version: 3.9.6
Qt version: 5.15.2
Coin version: 4.0.0
OCC version: 7.5.2
Locale: Engli

[2022-04-03 13:14] luzpaz commented on #6704
BTW, QtDesigner is hard to use. I tried to break the layout of the .ui and add a Qlabel and jeez it was not cooperating :disappointed:

[2022-04-03 13:20] luzpaz commented on #6268
@0penBrain is this OCC issue a known issue or do we need to open an upstream ticket ?

[2022-04-03 13:25] luzpaz commented on #6313
bumped [thread](https://forum.freecadweb.org/viewtopic.php?p=585766#p585766)

[2022-04-03 13:30] 0penBrain commented on #6268
@luzpaz I have no clue about that. 😞

[2022-04-03 13:38] realthunder commented on #6672
Case A is most like fixed already, as I cannot reproduce the crash.

B is property item display problem. The `Support` contains two entries, but only one is displayed. It's fixed in one of the commit above.

C is a problem regarding the `Sync sub object` option in the property editor dialog. With this option checked, the sub-object path is captured from 3D view selection. The commit above auto ena

[2022-04-03 14:38] mfraser commented on #6698
With the latest weekly AppImage build:
[code]
OS: Ubuntu 21.10 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.20.28611 (Git) AppImage
Build type: Release
Branch: (HEAD detached at a3b804e)
Hash: a3b804e7806c2b3b5e1228c41bca4569a743b400
Python 3.9.12, Qt 5.12.9, Coin 4.0.0, OCC 7.5.3
Locale: English/United Kingdom (en_GB)
Installed mods:
  * sheetmetal 0.2.49
  * lattice2 1.0.0
  * fcgear 1.0

[2022-04-03 14:45] WandererFan commented on #6698
The Qt 5.15.2 theory is discredited.
Local release build works
[code]
OS: Ubuntu 21.10 (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 0.20.28608 (Git)
Build type: Release
Branch: master
Hash: 66d0c35dc780459be0253a990abe2c2afa8fa814
Python 3.9.7, Qt 5.15.2, Coin 4.0.0, OCC 7.5.2
Locale: English/Canada (en_CA)
[/code]

[2022-04-03 14:55] mfraser commented on #6698
So that would point to something in the PPA builds causing this?

[2022-04-03 15:08] WandererFan commented on #6698
I guess so, but I have no idea what it might be at this point.

[2022-04-03 15:25] luzpaz commented on #6698
So what do we have left?
python, OCC, coin ?

[2022-04-03 15:41] luzpaz commented on #6707
Easier way to reproduce:

1. Start FC
2. Switch to TechDraw WB
3. Create new document (ctrl+n)
4. Choose 'Insert Default Page'

**Result**: `Template File: /snap/freecad-ppd/107/usr/share/Mod/TechDraw/Templates/A4_LandscapeTD.svg is not readable`

[2022-04-03 15:48] luzpaz commented on #6295
CC @adrianinsaval

[2022-04-03 15:54] luzpaz commented on #6245
@chennes can you weigh in on this feature request? Is there any capability in the recent 'Addon Manager adding macro to toolbar' effort that is similar to this?

[2022-04-03 16:00] wwmayer commented on #6655
After applying the changes of 484ff4fafb607d to a v0.19 build then the exact same problems occur. So, this means the behaviour of Part or PD hasn't changed in this context.

[2022-04-03 16:02] luzpaz commented on #6225
'jmaustpc' writes:

you have bought a computer with an ARM cpu not x86. Very bad idea if you want easy access to compatible software. Although their performance is improving all the time, ARM is still a primarily low power energy efficient risk architecture cpu. For power applications like CAD, x86 makes more sense at this point in history.

[2022-04-03 16:05] luzpaz commented on #6163
Forum post doesn't exist. Closing ticket

[2022-04-03 16:05] #6163 closed

[2022-04-03 16:09] luzpaz commented on #6152
@abdullahtahiriyo shares his perspective:

![Peek 25-01-2021 07-37](https://user-images.githubusercontent.com/4140247/161437094-af118cba-d304-4435-85f4-8d164907e0d2.gif)

[2022-04-03 16:10] luzpaz commented on #6152
CC @paddlestroke

[2022-04-03 16:13] luzpaz commented on #6120
@paddlestroke this looks like something you've been working on, right?

[2022-04-03 16:16] adrianinsaval commented on #6295
We have an option to name FCbak, that also mentions date and time of the backup, that should be explicit enough. In any case we could change the default to FCBak. Or if we do a subdirectory the problem is solved.

[2022-04-03 16:30] luzpaz commented on #6295
Thanks for weighing-in. Should I close in favor of #6697 then?

[2022-04-03 16:35] adrianinsaval commented on #6295
I say yes

[2022-04-03 16:48] mfraser commented on #6698
Compiled it and the lines are visible.

[code]
OS: Ubuntu 21.10 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.20.28613 (Git)
Build type: Unknown
Branch: master
Hash: ab2461629cb06e08441943709ece6eff3a662434
Python 3.9.7, Qt 5.15.2, Coin 4.0.0, OCC 7.5.2
Locale: English/United Kingdom (en_GB)
Installed mods:
  * sheetmetal 0.2.49
  * lattice2 1.0.0
  * fcgear 1.0.0
  * Curves 0.3.0
  * Assem

[2022-04-03 16:53] luzpaz commented on #5862
Crowdin -> Discord webhooks: https://github.com/SwitchbladeBot/crowdin-discord-webhooks

[2022-04-03 17:14] 0penBrain commented on #6268
@luzpaz I did a search and that's only ticket/post/... that include `BRepFill_PipeShell::BuildHistory` so most probably we can open an upstream ticket.

[2022-04-03 17:49] luzpaz commented on #6268
Thanks! Posted to [OCC Bugs in the Bugtracker](https://forum.freecadweb.org/viewtopic.php?p=585850#p585850)

[2022-04-03 18:57] FEA-eng commented on #6538
Still, maybe we could report this OCC bug. There's always a chance that they will fix this one.

[2022-04-03 19:05] chennes commented on #6268
This does not crash when using:
[code]
(though it does not create the pipe, it produces an error). So it appears that at least the crash has already been fixed upstream.

[2022-04-03 20:10] #6295 closed

[2022-04-03 20:13] #6030 closed

[2022-04-03 20:20] luzpaz commented on #6220
@donovaly would you consider this bug important for v0.20 ?

[2022-04-03 20:35] luzpaz commented on #6704
The more I think of this, the more it merits a dialog asking if the user wants to restart now or later.
CC @donovaly

[2022-04-03 21:15] PLChris commented on #6709
Known behaviour. It has often been discussed, that this may be unexpected, but it is no error.

[2022-04-03 21:15] #6709 closed

[2022-04-03 22:33] luzpaz commented on #6538
Please x-post to OCC bug to this [thread](https://forum.freecadweb.org/viewtopic.php?t=20264) so we can discuss in more depth. Thanks!

[2022-04-03 22:46] #6559 closed

[2022-04-04 00:13] donovaly commented on #6220
Since there is no crash nor regression and also no dataloss, I don't see it as mustfix.

[2022-04-04 00:15] donovaly commented on #6704
@OpenBrain, is a restart necessary? For me this is not necessary and If a restart is necessary, I think this would be a bug, right?

[2022-04-04 12:01] AjinkyaDahale commented on #6584
Just where the inversion check happens. A user there did some benchmarks and found a significant speed difference in #6665. HOWEVER, they have since found an error in that test so now it looks quite better.

I guess #6671 does the check at the very end, so it happens even if refine is set to false. #6665 on the other hand will also correct the loose solids if that is wanted.

[2022-04-04 13:51] WandererFan commented on #6707
All of the "not found" files use App::Application::getResourceDir to build the extended file name, as in:
    std::string defaultDir = App::Application::getResourceDir() + "Mod/TechDraw/PAT/";

What do the numbers(107, 214) mean in:
/snap/freecad-ppd/**107**/usr/share/Mod/TechDraw/PAT/FCPAT.pat

[2022-04-04 17:09] Nicolaus93 commented on #5785
Any development on this?

[2022-04-04 18:36] WandererFan commented on #6707
getResourceDir returns /snap/freecad-ppd/**${revision_number}**/usr/share/
Apparently, it should return  /snap/freecad-ppd/**current**/usr/share.

getHomePath returns /snap/freecad-ppd/${revision_number}/usr/
It may be that this should return /snap/freecad-ppd/current/usr, but I'm can't confirm this.

It looks like FC determines these directories from the path to the executable.   If it is possibl

[2022-04-04 18:50] adrianinsaval commented on #6045
considering what is actually wanted is a higher "minimum" number of backup files, can someone change the title accordingly?

[2022-04-05 22:34] luzpaz commented on #6707
So this is a Snap packaging issue? Or should we add logic that ascertains where the `getResourceDir` by querying the system instead of assuming it's the path for the executable?

[2022-04-05 23:07] WandererFan commented on #6707
How this occurs:

- install snap revision 001
- set file location preferences to defaults based on getResourceDir
- defaults will point to install directories of revision 001
- create xxxx.FCStd that uses file properties (templates, hatches, etc) and leave file locations at defaults

- install snap revision 002
- 002 will be installed to a different location from 001
- revision 001 directories may

[2022-04-05 23:15] WandererFan commented on #6707
We could write code that says "if this file is in a Snap directory and it can't be read, change the file name to point to the current Snap installation and try again".  But when do you stop?  Do you search the whole disk for a likely looking file and use that?

Maybe we just tell people using the "edge" Snap that file references might go stale and need to be updated manually.

If they are using th

[2022-04-06 00:40] luzpaz commented on #6707
CC @ppd

[2022-04-06 02:55] williamlugg opened #6715 "After cloning PartDesign body entering scale values has no effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=67736&p=586548#p586548

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

Draft

### Issue description

1. I create a model in the Part Design workbench, for example.
2. I then clone the model for the pur

[2022-04-06 10:19] ppd commented on #6707
In general, there seem to be two different problems, as far as I understand it:

1. References to absolute paths will break if files move between installations, e.g. Windows to AppImage, or Snap to Windows etc. This is unavoidable if you do not use relative paths. To solve this, you'd need path variables, e.g. `${FREECAD_RES}/some/dir/pattern.svg` or similar. This has nothing to do with snaps and

[2022-04-06 12:13] yorikvanhavre commented on #6514
That's a pandoc message... Looking into it!

[2022-04-06 12:37] yorikvanhavre commented on #6242
On it!

[2022-04-06 15:06] sliptonic commented on #6257
This is a limitation of the dogbone.  Converting to a feature request and tagging for 0.21.

[2022-04-06 15:51] sliptonic opened #6719 "[Feature Request] Let User set the order of drilling (helix) targets."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=67775&p=586671#p586671

### Subproject(s) affected?

_No response_

### Idea description

The user may want to override the default order of drilling targets.  He should be able to sort the list as desired.

### Anything else?

_No respon

[2022-04-06 16:16] 0penBrain commented on #6641
@adrianinsaval

[2022-04-06 17:40] adrianinsaval commented on #6641
I was referring to boolean operations as BO. With fillet instability do you mean the topo naming problem or something else? IMO waiting for topo naming merge is not a good idea because as we've seen in the past it can be years before it gets merged.

[2022-04-06 20:07] luzpaz commented on #6667
Indeed!

[2022-04-06 20:07] #6667 closed

[2022-04-06 23:48] sliptonic commented on #5944
Closing due to lack of interest.  The original test file is wildly out of date.  It has no dogbone dressup in it.
Dogbone dressup is designed to work on profiles, not pockets.
If OP wants to reopen the issue, we need a recent test shape demonstrating the problem.

[2022-04-06 23:48] #5944 closed

[2022-04-06 23:50] sliptonic commented on #5978
Is this even an issue?  Which part of this is not resolved by extensions?
Will close if no reason to keep open.

[2022-04-07 00:39] Russ4262 commented on #6217
0.20 pre-release analysis with Revision 28638:
This screen shot is from the above revision.
![Snip macro screenshot-70ab79](https://user-images.githubusercontent.com/47639332/162096849-23764574-a46a-447a-acae-32ba7f62bcb1.png)
The Adaptive algorithm has problems.

The key issue that I see reported is the erroneous lateral paths that are produced, as seen in the screenshots in the forum post.  Howe

[2022-04-07 00:42] Russ4262 commented on #6275
0.20 pre-release analysis with Revision 28638:

This is a candidate in my opinion for correction in 0.20.  I can believe the re-use of a tool controller with different speeds occurring with some frequency in production lines.

[2022-04-07 00:46] MicobyteMichael commented on #6692
I believe I've addressed this issue in PR #6720 by moving execution of Python code to a background thread and adding a Ctrl+C listener to the GUI. Please see the PR for details.

[2022-04-07 00:50] Russ4262 commented on #6199
0.20 pre-release analysis with Revision 28638:

The root cause of this bug is related to the current Millface bug not respecting the model: weakness in target shape formation.  While this clearly is a bug, the user is able to mill the selected faces in this case, just not in one smooth operation.  This fix will likely not be a mild fix, but I can only speculate.  Personally, I am not in a place to

[2022-04-07 00:55] Russ4262 commented on #6092
0.20 pre-release analysis with Revision 28638:

Memory leaks are likely beyond my skill set.  Nonetheless, ETrombly posted a great tutorial with example in the forum at [Python profiling tutorial](https://forum.freecadweb.org/viewtopic.php?f=10&t=44785).  Perhaps the techniques posted there could be key to identifying a solution.

I think the root issue could be related to the root issue of 3D Sur

[2022-04-07 01:11] Russ4262 commented on #5978
0.20 pre-release analysis with Revision 28638:

My thinking at the moment as it pertains to preparations for 0.20 release is similar to that of @sliptonic, as posted above.  I am convinced that the Pocket op with the Extensions feature should allow for many use cases where MillFace is currently failing due to the bug reported here.  In my opinion, priority is low for this bug, while per MillFace i

[2022-04-07 05:41] luzpaz commented on #5785
@Nicolaus93 we're currently in a feature freeze but you can bump the forum thread and see who weighs-in...?

[2022-04-07 05:41] AjinkyaDahale commented on #6641
This is not related to the topo-naming issue. I was referring to https://forum.freecadweb.org/viewtopic.php?f=19&t=67161&start=10#p582840 and following posts on the thread. You can try the file from https://forum.freecadweb.org/viewtopic.php?f=19&t=67161&start=30#p583583 and change the number of repetitions to see what I meant by "instability".

[2022-04-07 09:58] J-Dunn commented on #6719
I've often been frustrated by the lack of control on this feature too. This can be inconvenient when automatic routing is unsuitable in particular with avoiding clamps, for example.

It would be nice if the order could be set in the base geometry tab of the UI, if that widget can allow that or could be modified to allow user reordering.

[2022-04-07 13:44] J-Dunn commented on #6719
Poking around in UI files it seems this should be possible but Qt widget is behaving oddly and it seems to lose the list entry on drop.  I guess others have looked at this and decided it was a bit flakey.

Apart from losing the first entry on dropping , the list reorders well so presumably this could be used to let the user reorder the holes as desired, with some simple coding to adjust path order

[2022-04-07 14:17] sliptonic commented on #6719
Of course it's possible.  That's why I added the feature request issue.  It isn't even difficult now that the helix and drilling have been refactored to generators.  But it won't happen for 0.20.  If you want to work on a PR for 0.21, please do.

[2022-04-07 14:41] sliptonic commented on #6199
Hm.  I'm getting the segfault even in trivial tests.  Just FYI, it's BULL cutter not BALL.  Any use of the bullcutter is segfaulting for me.

[2022-04-07 15:20] luzpaz commented on #6715
@williamlugg thanks but next time wait for confirmation to open a ticket (unless I missed where in the thread someone gave the green light to do so). This needs to be verified on development version before a ticket is issued. Thanks

[2022-04-07 18:31] WandererFan commented on #6698
[Help request posted to Packaging forum](https://forum.freecadweb.org/viewtopic.php?f=42&t=67842)

[2022-04-08 10:56] yorikvanhavre commented on #6514
Ok the two pages above are solved (thanks to your recent edits I believe), still looking at the pandoc issue, but it's basically just a warning, it does not prevent the page to render, so it's no blocking

[2022-04-08 11:00] yorikvanhavre commented on #6242
Damn this is complicated.. I can't find what makes this widget show. It seems in any case bound to the qt objectName property. If one changes this objectName ( https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Draft/DraftGui.py#L302 ), on next FreeCAD run, things works as expected. On subsequent run, the new name is "remembered" somewhere, and the bar is shown on next start. I think there is

[2022-04-08 14:28] PaddleStroke commented on #6120
Dev branch : https://www.youtube.com/watch?v=J7khOBhch44&t=53s&ab_channel=FreeCADDevDiary
Video showing the tool :
https://www.youtube.com/watch?v=J7khOBhch44

[2022-04-08 15:47] #5885 closed

[2022-04-08 16:22] CharlemagneLasse commented on #6625
@chennes, I can at least create such a crash with my example from https://forum.freecadweb.org/viewtopic.php?f=8&t=67870 with OCC 7.6.0. The problem about this crash was reported to @realthunder in https://github.com/realthunder/FreeCAD/issues/309

How can I get a build of realthunder's FreeCAD linkstage fork with OCC 7.6.1? I would like to test it

[2022-04-08 22:56] luzpaz commented on #6120
Thanks!
Can you also add the forum thread to the above reply if you don't mind (so users can follow the development discussion)

[2022-04-09 00:50] J-Dunn commented on #6719
This allegedly works for QTableView but the vertical header needs to be visible ( not really a problem ) and a called is needed to setSectionsMoveable()

https://bugreports.qt.io/browse/QTBUG-13873?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel

However, that does not seem to be available from python :(  Or at least I can't find what it's called.

The ui may have to be reorgan

[2022-04-09 01:44] luzpaz commented on #6625
@CharlemagneLasse you can use the [realthunder snap edge](https://snapcraft.io/freecad-realthunder) but there is an instability issue in the latest snap https://github.com/realthunder/FreeCAD/issues/307

[2022-04-09 09:46] mpetrasinovic opened #6727 "[Bug] Missing B-Spline in STEP file after Part Offset2D"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=67776

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

After applying Part Offset2D to a sketch (or Wire) that has B-Spline it is computed and shown like it is supposed

[2022-04-09 22:07] luzpaz commented on #6727
CC @AjinkyaDahale do you mind weighing-in?

[2022-04-09 22:20] CharlemagneLasse commented on #6625
Thanks for the info. But yes, I have the same problem. So I've setup DRAWEXE from OCCT and created some tests as described in https://forum.freecadweb.org/viewtopic.php?p=587437#p587437
Unfortunately, it is not the same problem as I have seen in https://github.com/realthunder/FreeCAD/issues/309
But hey, when I am already here, why shouldn't I just the test for this specific example from ktostam. F

[2022-04-09 23:15] CharlemagneLasse commented on #6625
There is also another similar crash in https://forum.freecadweb.org/viewtopic.php?p=584239#p584239
The brp for it can be found in [Body.Shape.brp.gz](https://github.com/FreeCAD/FreeCAD/files/8457882/Body.Shape.brp.gz)

How to reproduce the crash:

[code]
* @blobfish V7_6_0-12-gac645430b3: [crash2-V7_6_0-12-gac645430b3.txt](https://github.com/FreeCAD/FreeCAD/files/8457892/crash2-V7_5430b3.txt)
6_0-

[2022-04-09 23:29] luzpaz commented on #6625
Just a side note: This is such impressive and extensive testing. #nextlevel

[2022-04-10 00:44] chennes commented on #6625
So we can mitigate the crash by checking TF before accessing it: it won't make the fillet work, but it will resolve the hard crash. Do you want to register as an OCCT developer and submit that patch via their PR system? Just attaching it to a bug report won't work, they won't use the code there.

[2022-04-10 00:46] mlampert commented on #5677
I think this bug can be closed, the visualisation was added and I still can't think of any preferences. Not sure why we didn't close it back when.

[2022-04-10 11:08] CharlemagneLasse commented on #6625
@chennes, I am not a CG developer and have no idea how these algorithms are supposed to work. So the two workarounds which I've posted at the end of the comments is the best which I can make without studying the algorithms in detail.

I've tried to register with their bug tracker (which created a single-sign on account) but I am unable to use this account on the bugtracker. Instead of going to the

[2022-04-10 12:30] wwmayer commented on #6672
I can confirm that B+C is fixed by the PR #6710 but the crash isn't. The crash is fixed with 1ff4ad085c2

[2022-04-10 12:31] #6672 closed

[2022-04-10 14:04] voukka opened #6731 "[Bug] freecad crashes opening IFC file, which was generated by itself"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecad.org/

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

Arch

### Issue description

Opening .ifc file crashes FreeCAD every single time. IFC file was generated from the attached .FCStd file, which I got going through the [BIM tuto

[2022-04-10 14:11] AjinkyaDahale commented on #6727
I'll take a look when I can. @PaddleStroke you are also working on offsets for sketches right? Anything that strikes a bell?

[2022-04-10 14:17] #6060 closed

[2022-04-10 14:33] mpetrasinovic commented on #6727
I want to add that spline from the sketch is exported, but one from the offset is ignored.

The most promising workaround (that maybe can be implemented behind the scene) is to use the same underlying functions that Draft Shape2DView uses but to keep geometry at the exact placement. After this function, everything is exported as expected.

[2022-04-10 14:50] #5677 closed

[2022-04-10 15:02] luzpaz commented on #6731
Crash output? If you dont see any, please start FreeCAD from the CLI

[2022-04-10 15:11] luzpaz commented on #6731
I can open the FC file just fine. the IFC file I can't open because I don't have IfcOpenShell installed for the Snap package.

`11:07:55  IfcOpenShell was not found on this system. IFC support is disabled.
Visit https://wiki.freecadweb.org/IfcOpenShell to learn about installing it.`

[code]
OS: Ubuntu Core 20 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.20.28671 (Git)
Build type: Release
B

[2022-04-10 15:25] luzpaz commented on #6731
CC @yorikvanhavre (should probably be moved to the BIM WB repo)

[2022-04-10 19:09] PaddleStroke commented on #6727
Unfortunately I don't know how offset 2D tool works in details. I know how it gets the offset geometries from OCC but that's about it. And this part is working OK because you can see the offset bspline before exporting.
So my guess is that the issue is at the export function. I would guess that the handling of the offset 2D object by the export has a problem with bspline (or they may not even be c

[2022-04-10 20:44] J-Dunn commented on #6275
Nice. This may also relate to LASER cutters / pyrography where spindle "speed" is used as the LASER power setting. Changing power setting from one op to another would seem a likely requirement.

[2022-04-10 20:44] PLChris commented on #5694
Link to different flavors, which may be handy: https://forum.freecadweb.org/viewtopic.php?p=587659#p587659

[2022-04-10 21:55] #6584 closed

[2022-04-11 02:18] luzpaz commented on #6282
Forum thread: https://forum.freecadweb.org/viewtopic.php?f=3&t=67920

[2022-04-11 02:44] luzpaz commented on #6282
Bug still exists for
[code]

[2022-04-11 03:30] luzpaz commented on #6276
No crash, but i see some artifacts as well (but this is not uncommon AFAICT)
![Screenshot_20220410_232932](https://user-images.githubusercontent.com/4140247/162660577-28ab9be6-be44-4c50-9655-63321ba4073f.png)

[code]

[2022-04-11 03:46] luzpaz commented on #6259
@paullee0 is this issue still presenting in latest v0.20dev ?

[2022-04-11 03:51] luzpaz commented on #6208
Attached test file to ticket

[2022-04-11 03:58] luzpaz commented on #6179
@PLChris @chennes @ipatch
Do y'all mind testing to see if this issue still persists?

[2022-04-11 04:03] luzpaz commented on #5993
Mod/Assembly was removed in 245f5b6c7d5bbbb55a0ab2fb65dcf326ea086d03

[2022-04-11 04:03] #5993 closed

[2022-04-11 04:05] luzpaz commented on #5989
@chennes is this good to go?

[2022-04-11 04:11] luzpaz commented on #5849
Closing as @PLChris couldn't reproduce

[2022-04-11 04:11] #5849 closed

[2022-04-11 04:13] #5850 closed

[2022-04-11 04:14] Russ4262 commented on #6199
Is the seg fault using the FC file provided in the forum link provided in this issue?  And, you say that 3D Surface is throwing a fault whenever the bull cutter is used, at any time?  Will you please post your FC info.  Perhaps this is OS specific, or python related?  Will you please post the seg fault error text.  Thanks.

My FC info for reference.
[code]
OS: Windows 10 Version 2009
Word size of

[2022-04-11 04:26] luzpaz commented on #5856
Closing in favor of https://github.com/FreeCAD/FreeCAD-Bundle/issues/6

[2022-04-11 04:26] #5856 closed

[2022-04-11 04:34] luzpaz commented on #5551
CC @mwganson

[2022-04-11 05:47] chennes commented on #5989
The patch has been merged upstream.

[2022-04-11 05:48] waebbl commented on #6274
On Gentoo we have the same issue, if built with `CMAKE_INSTALL_PREFIX=/usr`[1]. I made attempts for the Gentoo Linux package to relocate the Mods into `/usr/lib/freecad` when built with `CMAKE_INSTALL_PREFIX=/usr`, by patching all the CMake DESTINATION options in the Mods install targets[2,3]. But there's actual C++ and/or Python code, which expects the Mod directory just below prefix and thus loo

[2022-04-11 09:59] #6282 closed

[2022-04-11 10:38] donovaly commented on #6731
All verified crashes and regressions can be put to the 0.20 milestone

[2022-04-11 10:42] donovaly commented on #6731
I see now that the crash was not verified.

@voukka , please open a forum thread. This is our rule. When others can reproduce the issue it can be reported.

I am closing this now. Please reopen when others could verify the crash.

[2022-04-11 10:42] #6731 closed

[2022-04-11 10:58] wwmayer commented on #6727
It's not only a problem with B-Spline but also ellipses, parabolas and hyperbolas are affected.

When looking at the output shape of the 2D offset then in most cases it's a wire of several edges. Depending on the geometry of the input shape the edges of the output shape can be lines, circles, B-Splines and sometimes the curve type "offset curve".

It looks like this curve type is causing problems

[2022-04-11 11:24] mpetrasinovic commented on #6727
I have posted on the forum model that has problems also with IGES export and import  (https://forum.freecadweb.org/download/file.php?id=185333&sid=b4b162c8dcc60fa209123547bbcbafd7). I tried several times to use IGES as a workaround but it transforms solid to faces while exporting. This makes new problems for usability.

[2022-04-11 11:28] jthiesen commented on #5648
I think #5867 solved this by allowing TAB to cycle between objects under cursor?

[2022-04-11 12:14] wwmayer commented on #6727
Here is a function to convert the offset curve of a wire with B-Splines: 3d249e0e67

[2022-04-11 12:17] wwmayer commented on #6727
a13e251ad4 uses the newly added function to replace offset curves. Please check if it solves the issue.

[2022-04-11 12:20] adrianinsaval commented on #5648
No, at most #5867 would be a duplicate of this, there it looks like it was solved for BIM workbench and Draft snap, but there isn't a general solution. I agree that TAB looks like a good button to use for this.

[2022-04-11 12:38] Nicolaus93 commented on #5785
[This conversation](https://forum.freecadweb.org/viewtopic.php?p=229986&sid=9d09be58fdfbf90981b85440b3e0823e#p229986) is from almost 4 years ago. Should I post another reply on the same thread or do something else?
![image](https://user-images.githubusercontent.com/13076944/162740795-b5055db4-ea17-4b63-b26a-fb9de68bdc60.png)

[2022-04-11 13:46] mpetrasinovic commented on #6727
I tried to compile FreeCAD again and this time I have got:

![img7](https://user-images.githubusercontent.com/33840625/162753310-f62821af-617c-45c0-b8d3-b3e4ccf78543.png)

[2022-04-11 14:22] mpetrasinovic commented on #6727
I guess this is now the limit of the Offset function, I have changed the spline to the following one and now everything works, the model is exported to STEP and imported back without any problem.

![img8](https://user-images.githubusercontent.com/33840625/162760244-cd29e8cf-c7ab-4e9d-912f-bdcca09ae057.png)

[2022-04-11 14:56] mpetrasinovic commented on #6727
I just checked, offsetting ellipse also worked as expected.

[2022-04-11 15:15] luzpaz commented on #5785
Yes, please  post to the thread and x-post back to this ticket (Since it's migrated to GH from MantisBugtracker)

[2022-04-11 15:18] luzpaz commented on #5989
Closing ticket then.

[2022-04-11 15:18] #5989 closed

[2022-04-11 16:32] FEA-eng opened #6733 "[Bug] DraftView - line style property not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=67928

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

DraftView objects have the Line Style property but it doesn't work - there's no drop-down list for it and typ

[2022-04-11 16:46] FEA-eng opened #6734 "[Bug] Draft Join fails when there is a minor difference in coordinates due to rounding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=67936

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Draft

### Issue description

Draft Join fails even when points are visually coincident but their coordinates are slightly different due to rou

[2022-04-11 17:06] ipatch commented on #6179
compiled a recent commit the other day, on my big sur VM

[code]

running the commands mentioned in the linked forum thread in the python console

[code]

<details>

<summary> 📸 screenshot </summary>

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/613805/162792952-8699cc83-a884-4966-af78-702677fdf65a.png">

</details>

[2022-04-11 17:20] ipatch commented on #6179
and for what it's worth i still see files being written in `$HOME/Library/Preferences/FreeCAD`

[code]

[2022-04-11 17:27] ipatch commented on #6179
so i just renamed dir `FreeCAD` within the `$HOME/Library/Preferences` to `FreeCADbkp` relaunched FreeCAD.app and sure enough the "launch scrips" recreated the `$HOME/Library/Preferences/FreeCAD` directory.

[code]

[2022-04-11 18:48] wwmayer commented on #6727
I think that's an issue that must have happened before the change, too.

Do you have a test file? What could possibly happen is that the edges of the wire are not in the expected order and thus if a new edge isn't adjacent to an edge of the wire it will be rejected.

There should be no limitation compared to the old behaviour

[2022-04-11 23:11] luzpaz commented on #6282
Confirmed fix on
[code]

[2022-04-12 00:48] donovaly commented on #6641
Update:
- the Polar pattern issue was resolved by: https://github.com/wwmayer/FreeCAD/commit/6662a0afdb6
- the bug is that Pipe and Loft cannot be transformed anymore: https://forum.freecadweb.org/viewtopic.php?p=587977#p587977

[2022-04-12 00:52] donovaly commented on #6727
I gave it a try and for me the issue is resolved.

[2022-04-12 01:21] luzpaz commented on #6280
Can anyone still reproduce this?

[2022-04-12 01:25] luzpaz commented on #6099
Looks like @PLChris is having issues per the [forum thread](https://forum.freecadweb.org/viewtopic.php?p=573688#p573688). @ipatch + @chennes do you mind testing on macOS and confirming ?

[2022-04-12 01:58] luzpaz commented on #5977
@Roy-043 I can't make heads or tails of this ticket. And the clip in the original is lost. Any idea?

[2022-04-12 02:01] luzpaz commented on #5720
What's the status of this ticket?

[2022-04-12 02:04] spanner888 opened #6735 "[Bug] [regression] unit python code N/mm^2 works in 0.19, but fails in 0.20"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=67882

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Core

### Issue description

[code]

Works fine in FC 0.19 and gives output:

`13:33:53  Kf :  1400000.0 kg/(mm*s^2) Unit: kg/(mm*s^2) (-1,1,-

[2022-04-12 02:19] luzpaz commented on #6735
CC 0penBrain

[2022-04-12 02:22] luzpaz commented on #6735
[code]

[2022-04-12 03:30] donovaly commented on #6276
I see the same as you, no crash but artifacts

[2022-04-12 06:03] KeithSloan commented on #6247
I originally had problems with pip install [https://gitlab.onelab.info/gmsh/gmsh/-/issues/1449](url) which got closed and I was eventually able to find the library at least. As it then works with Native Gmsh and Python the  AttributeError: dlsym(RTLD_DEFAULT, gmshInitialize) is not a Gmsh problem as it only happens with FreeCAD.

One of the reasons I am trying to use the python Gmsh library is to

[2022-04-12 07:06] mpetrasinovic commented on #6727
Yes, I also think so.

Maybe, I will try to find that file. But I will tomorrow have the same computer.

I do not think there is a limitation compared to the old behavior.

[2022-04-12 07:22] 0penBrain commented on #6735
BTW I don't see purpose of this commit. This isn't adding atomic unit but composed unit, which IMO are indeed prone to break the system.

[2022-04-12 09:22] wwmayer commented on #6727
But in your second picture an edge of the offset wire is missing. However, it's also possible that it was already missing before doing the replacement.

I have tested the offset function a bit further by using an input wire where the edges are added in arbitrary order and the replacement still worked fine.

[2022-04-12 10:08] Roy-043 commented on #5977
This issue does not occur in V0.20, so has presumably been fixed in the meantime.

There was an issue where removing lines from a multi-line label did not work properly. I suppose the OP is referring to that, but I can't be sure. The OP says that it has been fixed anyway.

In the current version `TextAlignment` is ignored if the `DisplayMode` is `"2D text"`.
See https://github.com/FreeCAD/FreeCAD/

[2022-04-12 12:51] luzpaz commented on #6276
@donovaly closing ticket.

[2022-04-12 12:51] #6276 closed

[2022-04-12 13:35] luzpaz commented on #6247
@KeithSloan can you re-edit the format of your previous comment. looks like you copy/pasted but it didn't translate well

[2022-04-12 16:13] goatchurchprime commented on #6692
Thinking a bit more about this, it might be a good idea to implement this with a pop-up window (instead of the Ctrl-C) similar to the "FreeCAD is not responding" one, but to include the option to interrupt/cancel the running Python macro instead of Force quit the whole application.

Such a popup would automatically appear when a macro runs for more than five seconds and it would show a timer for h

[2022-04-12 16:21] AjinkyaDahale commented on #6641
@donovaly this can probably be closed.

[2022-04-12 16:44] 0penBrain commented on #6698
Don't know at which point it can lead to such effect, but comparing library dependencies, I found that my self-compiled version (that works correctly) still depends on `libQt5OpenGL` while PPA version (that shows problem) doesn't -- but my PPA version is pretty old as I'm running Kubuntu 21.04 --.

[2022-04-12 17:02] mfraser commented on #6698
https://wiki.freecadweb.org/Compile_on_Linux quotes libqt5opengl5-dev as a dependency for compiling.

Can't see libqt5opengl as a dependency for freecad-daily-python3 from the PPA:
freecad-daily-common, python3-matplotlib, python3-pivy, python3-ply, python3-pyqt5, python3-pyside2.qtcore, python3-pyside2.qtgui, python3-pyside2.qtuitools, python3-pyside2.qtsvg, python3-pyside2.qtwidgets, python3-pys

[2022-04-12 17:23] mnesarco opened #6739 "Sketcher: Document recompute does not honor configured Sketcher default Solver"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=22&t=67896

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

After configuring Sketcher default solver and restarted Freecad, recompute still uses DogLeg solver, until yo

[2022-04-12 17:56] WandererFan commented on #6733
This has to be fixed on the Draft/Arch side, I believe.

[2022-04-12 20:31] ipatch commented on #6099
using the [build](https://github.com/FreeCAD/homebrew-freecad/releases/tag/0.20.28575-git-master) of freecad i published a around a week ago. and a recent build i've been using,

[code]

it looks like the appearance of a line in the **Draft** workbench does not increase ie. there is no visual difference in the viewport with the line size is increased beyond **10**

<img width="1743" alt="image" sr

[2022-04-12 20:57] luzpaz commented on #6099
@donovaly should we fix before release v0.20 release?

[2022-04-13 00:45] donovaly commented on #6641
Cllosing. Fixed with: https://github.com/FreeCAD/FreeCAD/commit/5ab7d17f679

[2022-04-13 00:45] #6641 closed

[2022-04-13 00:49] donovaly commented on #6099
No crash, no regression, therefore me will have to postpone this - except someone sends in a patch of course.

Inviting @marioalexis84 and @Roy-043 .

[2022-04-13 00:50] donovaly commented on #6099
To me it seems it is a bug in Draft, not in Arch, right?

[2022-04-13 01:04] donovaly opened #6741 "[Bug] PD primitives cannot be copied to another body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=588092#p588092

### Version

0.19 (Release)

### Full version info

[code]
### Subproject(s) affected?

PartDesign

### Issue description

PartDesign primitives, no matter if subtractive or additive, cannot be copied to an other body.

- copy an a

[2022-04-13 01:45] #6735 closed

[2022-04-13 01:47] donovaly commented on #6514
Fine. Removing the issue from the milestone. It also seems to be an upstream bug.

[2022-04-13 01:49] donovaly commented on #5984
Unless there will be a PR the next days, I would like to remove this issue from the 0.20 milestone.

[2022-04-13 05:21] marioalexis84 commented on #6099
It's a bug in Coin. I can reproduce use only Coin in a very basic example with no relation to FreeCAD.
In the other hand,  seems to be platform dependent: After trying in several machines to draw a basic cube in FreeCAD and change the line width, only works fine in the older machine.
Attempting to downgrade the OpenGL implementation to a version earlier than the one used on the machine where the e

[2022-04-13 08:27] m1cha1 opened #6744 "[Bug] Spreadsheet merge/split cells bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=67969

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Spreadsheet

### Issue description

Steps to reproduce:
Problem with merging
1. Merge cells A1 & B1
2. Merge A1 & B1 & C1 - it's not working

P

[2022-04-13 11:36] luzpaz commented on #6099
@marioalexis84 thanks for the research. Do you mind opening an upstream ticket on https://github.com/coin3d/coin/issues ?

[2022-04-13 11:44] luzpaz commented on #5691
bumped forum thread

[2022-04-13 11:50] luzpaz commented on #5759
Bumped forum thread.
CC @joha2

[2022-04-13 11:51] luzpaz commented on #5865
@donovaly can we close this ticket? (And others that are 'FIxed for 0.20') ?

[2022-04-13 12:01] luzpaz commented on #6131
Confirmed on
[code]

[2022-04-13 12:35] CharlemagneLasse commented on #6625
Bug was forwarded to:

* https://tracker.dev.opencascade.org/view.php?id=32930 (crash + workaround)
* https://tracker.dev.opencascade.org/view.php?id=32931 (crash + workaround)
* https://tracker.dev.opencascade.org/view.php?id=32932 (failed fillet)
* https://tracker.dev.opencascade.org/view.php?id=32933 (failed fillet)

[2022-04-13 12:38] WandererFan commented on #6099
Line width change not reflected in display is one of the symptoms in #6698.  Coin uses Quarter widget which is based on Qt Graphics Framework as is page display in TechDraw.  Any chance the issues are related?

[2022-04-13 13:49] marioalexis84 commented on #6099
I don't see #6698 in TechDraw with Qt5.15.2 nor Qt5.15.3,
For completeness, just add that VTK also uses Qt+OpenGL and there is no issue with the line width in the scene.

[2022-04-13 14:44] YosypC opened #6746 "[Bug] Draft breaks the model and therefore breaking subsequent features"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=67941

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

A draft breaks the model (although not visually), bringing problems in later PartDesign features.

### Anyth

[2022-04-13 15:47] sliptonic opened #6747 "[Feature Request] Implement Chip-breaking drill cycle (G73)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

None

### Subproject(s) affected?

Path

### Idea description

LinuxCNC now support G73 chip breaking.  This is a bit like peck drilling but doesn't fully retract between pecks.  It just retracts a small amount to break off the chip.

http://linuxcnc.org/docs/html/gcode/g-code.html#gcode

[2022-04-13 16:04] 0penBrain commented on #6744
As a whole, PR #6748 should resolve this ticket.
There are possible further improvements as discussed in the forum thread, but that should IMO be traced as other feature improvement tickets.

[2022-04-13 16:30] WandererFan commented on #6733
If you take the text of DraftView's Symbol property and give it to Inkscape you will get what looks like solid lines. Inkscape will tell you that in fact you have a line with a custom dash property, which is correct.

The issue is this code "stroke-dasharray:0.09,0.05" in the style attribute.  This code creates a dashed line made up of very small dashes separated by very small gaps.  The result ap

[2022-04-13 21:30] luzpaz commented on #5699
Once this FR gets address, please update https://wiki.freecad.org/FEM_ConstraintPressure

[2022-04-14 00:57] donovaly commented on #5865
My intention was to keep them open until the fix is released. This way affected users will find the issue and not open a new one. When they find it and see it is already fixed, they could try out our weekly build.

However, there is no rule so far on closing issues.

[2022-04-14 00:59] donovaly commented on #5865
But OK, FC 0.20 is near, so let's close the 0.20 fixes.

[2022-04-14 00:59] #5865 closed

[2022-04-14 01:30] luzpaz commented on #6739
This ticket is formatted really well! Thanks for the effort and research!!!

[2022-04-14 01:34] luzpaz commented on #6739
@mnesarco Question: are you positive this issues is also accurate in FreeCAD master (since you're using LinkDaily as the basis for this bug report)?

[2022-04-14 01:36] mnesarco commented on #6739
@luzpaz yes, the code I am referencing is from FreeCAD master. I also have a clone of master in my local env.

[2022-04-14 14:32] mpetrasinovic commented on #6727
I tested some sketches and found this one that I can't offset.

(added zip extension in order to be able to upload it)

[2d-offset-sketch-bug.FCStd.zip](https://github.com/FreeCAD/FreeCAD/files/8489980/2d-offset-sketch-bug.FCStd.zip)

[2022-04-14 14:38] mpetrasinovic commented on #6727
I think that there are two coincident control points, which is probably why offset is not working.

I can't reproduce that again.

[2022-04-14 14:40] WandererFan commented on #6698
When started from terminal, local build issues "Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway."

The PPA build does not issue this message when started from terminal.

Is this a clue?

[2022-04-14 14:51] 0penBrain commented on #6698
@WandererFan I have no such message (neither on self-compiled nor PPA) but still can reproduce the issue.
So I'd tend to say it is not related to issue.

[2022-04-14 16:12] luzpaz opened #6752 "DeprecationWarning: distutils package is deprecated and slated for removal in Python 3.12"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=67985

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Issue description

Compiling FreeCAD on Arch I saw this:

[code]
Here is https://peps.python.org/pep-0632/

[2022-04-14 19:35] WandererFan commented on #6655
Not a regression.  Shape was infinite in 0.19 but the infinite plane was not visible.

[2022-04-14 20:37] luzpaz commented on #6746
Per @kisolre

[2022-04-14 21:05] luzpaz commented on #6169
CC @PLChris as you're mentioned in this ticket

[2022-04-14 21:55] luzpaz commented on #6226
CC @mnesarco are you encountering this at all in your scripting API explorations?

[2022-04-14 22:00] luzpaz commented on #6181
@Roy-043 do you want to take a stab at this?

[2022-04-14 22:08] mnesarco commented on #6226
@luzpaz nop. At least not yet.

[2022-04-14 22:23] luzpaz commented on #6226
CC @macdroid53 since you're mentioned in the original ticket

[2022-04-15 12:24] luzpaz commented on #6706
Page of interest: https://wiki.freecad.org/Std_ViewDockUndockFullscreen
A workaround is presented in this macro: https://forum.freecadweb.org/viewtopic.php?f=3&t=35568&start=10#p571640

[2022-04-15 12:36] donovaly commented on #6200
Confirmed with latest master:

[code]

[2022-04-15 13:01] luzpaz commented on #6277
@PLChris @donovaly have you seen any similar bug reports on the forum ?

[2022-04-15 13:17] luzpaz commented on #6283
@paddlestroke would you be open to take a stab at this?

[2022-04-15 13:18] luzpaz commented on #6410
@PLChris @chennes @KeithSloan is this a QtWebEngine issue? Can you still reproduce on v0.20 macOS ?

[2022-04-15 13:22] luzpaz commented on #6376
There is some activity in the [forum thread](https://forum.freecadweb.org/viewtopic.php?f=3&t=66300)
CCing @mwganson

[2022-04-15 15:39] adrianinsaval commented on #6655
didn't you say that techdraw already handles infinite shapes now? can this still be considered a bug?

[2022-04-15 16:24] luzpaz commented on #6285
bumped forum thread

[2022-04-15 16:26] luzpaz commented on #6280
@marioalexis84 ping

[2022-04-15 16:27] luzpaz commented on #6272
CC @chennes @donovaly what the status of this ticket?

[2022-04-15 16:50] donovaly commented on #6727
Confirmed using recent master.

[2022-04-15 16:53] donovaly commented on #6277
No.
@Sylva1n , does the problem still exist? If so, please open a forum thread that others can hep. If the bug can be reproduced, please reopen this bug.

[2022-04-15 16:53] #6277 closed

[2022-04-15 16:55] donovaly commented on #6272
I think only @wwmayer has the overview here. However, not pressing thus postponing.

[2022-04-15 17:14] #6744 closed

[2022-04-15 23:50] luzpaz commented on #6102
@Roy-043 can you provide a succinct screenshot of the issue to add to this ticket? I think that would help get this ticket addressed

[2022-04-15 23:54] luzpaz commented on #6103
@donovaly this is a crash bug but haven't been able to reproduce. But not sure I'm doing it right

[2022-04-15 23:57] luzpaz commented on #6103
@realthunder can you reproduce?

[2022-04-16 00:00] donovaly commented on #6103
As long as nobody can reproduce this with current FreeCAD master, I see no need for action.

I cannot reproduce, in the forum I see @kisolre reports the same.

In case it is reproducible, please reopen.

[2022-04-16 00:00] #6103 closed

[2022-04-16 10:04] wwmayer commented on #6744
Are you sure the issues are solved? Especially none of the issues described by the OP in the forum are solved for me. It's even worse now. While in an older version the splitting worked for C1+D1 it now doesn't work at all any more because the command is disabled.

[2022-04-16 10:47] wwmayer commented on #6727
I can confirm the failure, too. But fortunately, it's not a regression of my fix. The OCC algorithm already fails to create an initial wire from the sketch.

[2022-04-16 11:31] luzpaz opened #6757 "[Feature Request] QMdiArea supports two modes: tabbed and sub-window. Implement a way to toggle between them"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=588960#p588960

### Subproject(s) affected?

Core

### Idea description

Per wmayer:

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-16 12:58] WandererFan commented on #6655
I think it is a bug.  The LCS is an artificial construct.  It shouldn't be included in the shape.

[2022-04-16 14:18] Roy-043 commented on #6102
![Std_SetAppearance_taskpanel_without_and_with_frames](https://user-images.githubusercontent.com/70520633/163678310-d4b4fe3d-f869-4ed3-883d-167433914257.png)

On the left a task panel when `qwindowsvistastyle.dll` is available. On the right the same task panel after `qwindowsvistastyle.dll` has been renamed.

[2022-04-16 14:21] mpetrasinovic commented on #6727
The reported bug is then solved. The latest reported problem is a different bug. This should be closed?

[2022-04-16 14:28] Roy-043 commented on #6181
IMO this should become a "normal" incommand shortcut (a single letter without Ctrl). This would then mean that the `ui` file for the preferences also needs to be updated. Since I do not have experience with that, it is better that somebody else fixes this.

Note that AFAICT Ctrl+Z has never worked.

[2022-04-16 14:43] donovaly commented on #6727
Closing as fixed then

[2022-04-16 14:43] #6727 closed

[2022-04-16 15:30] FEA-eng opened #6759 "[Feature Request] Dowel/center of gravity symbol"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=66789

### Subproject(s) affected?

Techdraw

### Idea description

A symbol common for dowel pin and center of gravity could be useful in TechDraw.

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this pro

[2022-04-16 16:58] JohnOCFII commented on #6410
I'm not one of those fine individuals, but I still see a blank Start WB with the latest Conda weekly build 28697.  The Start WB seems to work properly with the build from @ipatch (his build 28575 is what I tested).  Need to see if we can integrate his build magic with the Conda builds.

This on macOS Monterey 12.3.1 on an M1 MacBook Pro.

[2022-04-16 18:00] luzpaz commented on #6102
Thanks!

[2022-04-16 18:03] luzpaz commented on #6102
@donovaly do we want to try to get this in before v0.20 ?

[2022-04-16 18:53] sedatkrn commented on #6329
[code]
OS: Ubuntu 21.10 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.20.
Build type: Release
Branch: unknown
Hash: 93d745235cdccce8652e6eb97309f7b2764bf367
Python 3.9.7, Qt 5.15.2, Coin 4.0.0, OCC 7.5.2
Locale: Turkish/Turkey (tr_TR)
Installed mods:
  * sheetmetal 0.2.49
  * BOLTSFC
  * BIM 2021.12.0
  * fasteners 0.3.40
  * A2plus 0.4.56
  * dodo
  * fcgear 1.0.0
[/code]

The bug is still

[2022-04-16 21:24] luzpaz commented on #6329
bumped the [thread](https://forum.freecadweb.org/viewtopic.php?p=589093#p589093)

[2022-04-17 12:43] wwmayer commented on #6450
@Roy-043 I have tested it with current master (cfe94b00d343) and for me it works as expected. Does it still fail for you?

[2022-04-17 14:13] Roy-043 commented on #6450
This has indeed been fixed now. This issue can be closed. Thanks.
[code]

[2022-04-17 15:33] wwmayer commented on #6324
Today I got a crash when following the instructions as described in the forum. Apparently the issue is not related to the knot insertion but the creation of the new B-Spline.
With the address sanitizer option it told me there was a heap-buffer overflow in the function `DrawSketchHandlerBSpline::drawCursorToPosition`

Checking why this happens revealed that the vector BSplinePoles is empty. Thus th

[2022-04-17 18:18] AjinkyaDahale commented on #6324
@wwmayer did you reopen this or was this never closed? @donovaly maybe this should also be on milestone if it still exists.

[2022-04-17 21:08] wwmayer commented on #6324
It was never closed. I was looking through some open issues and found this one.

[2022-04-17 22:30] wwmayer commented on #6450
Was fixed with d355b9d9e2f836

[2022-04-17 22:30] #6450 closed

[2022-04-17 23:27] FEA-eng opened #6762 "[Bug] Involute gear tool duplicated in the menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68069

### Version

0.19

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

Steps to reproduce:
1) Create a new body
2) Create involute gear, leave the default settings
3) Pad with a default length

[2022-04-18 10:28] wwmayer commented on #6274
With 6bc65bdd99 it's now possible to launch FreeCAD without the -M option.

[2022-04-18 14:24] #6275 closed

[2022-04-18 14:31] #6306 closed

[2022-04-18 17:38] chrisb-github opened #6765 "UI: Overlay Icons for Std Link nearly invisible small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68061&p=589456#p589444

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The overlay icons are on a high resolution near to invisible.
Other overlays e.g. indica

[2022-04-18 17:41] luzpaz commented on #6765
Added screenshot to ticket

[2022-04-18 18:10] howie-j opened #6766 "[Bug] [regression] Navigation Cube -> Isometric View does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68029

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When choosing Isometric in the dropdown menu under Navigation Cube, nothing happens. The other options (O

[2022-04-18 19:36] donovaly commented on #6765
Is this also in FC 0.19?

[2022-04-18 19:38] donovaly commented on #6766
This is a regression to 0.19.

[2022-04-18 19:42] donovaly commented on #6762
Confirmed. The issue is also in OS:

Windows 10 Version 2009
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.19.24267 +148 (Git)
Build type: Release
Branch: Branch_0.19.4
Hash: 476ecf091941bead59b14e44afa6064d5a66afa3
Python version: 3.8.6+
Qt version: 5.15.2
Coin version: 4.0.1
OCC version: 7.5.3
Locale: German/Germany (de_DE)

[2022-04-18 19:45] donovaly commented on #6324
If this commit: https://github.com/FreeCAD/FreeCAD/commit/139370a20fd
does not fix the segfault then yes.

[2022-04-18 19:51] AjinkyaDahale commented on #6324
There is one last remaining thing:
1. Begin creating a b-spline and add a few points.
2. Hover over the last circle or center and press backspace to delete it.
3. Press LMB without moving cursor.

There will be redundant constraints. They can be selected and deleted, but they exist.

[2022-04-18 20:02] donovaly commented on #6102
Does the bug only occur when qwindowsvistastyle.dll is missing? I checked and this file is part of our Windows releases.

[2022-04-18 20:05] donovaly commented on #6324
I cannot test FC 0.20 here (for the next week). If there is a regression to 0.19 or a crash, please add the milestone 0.20.

[2022-04-18 20:09] AjinkyaDahale commented on #6324
Since it relates to a new feature (deleting last pole) it can't be a regression.

[2022-04-18 21:02] luzpaz commented on #6762
Confirmed on Linux
[code]
![Screenshot_20220418_170209](https://user-images.githubusercontent.com/4140247/163877520-283a2462-d652-4df7-9b9c-f49eef6f8c6a.png)

[2022-04-18 21:13] luzpaz commented on #6766
JFYI, there is another open Navicube related bug #6689

[2022-04-18 21:56] donovaly commented on #6689
This is a known issue and also in FreeCAD 0.19

[2022-04-18 22:49] luzpaz commented on #6319
Can someone be so kind to Explain Like I'm 5 y.o. (ELI5) what is going on in the [upstream ticket](http://tracker.dev.opencascade.org/view.php?id=24909) ?

[2022-04-18 22:57] luzpaz commented on #5611
Related to #5546

[2022-04-19 08:37] m1cha1 opened #6767 "[Problem] Draft: Big Scale Multiplier with 2d text causes crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&p=589558#p589558

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Draft

### Issue description

In the Draft Workbench:
1. Create Text (for example "HELLO")
2. Change properties Display mode: 2D text

[2022-04-19 12:02] luzpaz commented on #6767
@donovaly I've added this to the 0.20 milestone because it's a crash

[2022-04-19 13:14] donovaly commented on #6102
qwindowsvistastyle.dll is part of Qt. The image at the left in your post: https://github.com/FreeCAD/FreeCAD/issues/6102#issuecomment-1100674245
looks right, the one at the right uses Win XP style.

If you like to have the QGroupBox frame in another color, this can be changed. This is just how we define it in our default style sheet. Take for example the Style "light-orange" in the FreeCAD setting

[2022-04-19 14:01] sliptonic opened #6768 "[Feature Request] Improve Job Path visibility control"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

None

### Subproject(s) affected?

Path

### Idea description

Placeholder issue for bountysource.

Issue is already resolved.  Will close this issue as soon as bountysource responds.

Currently the Job object contains a visualization of the gcode of all child "Operations" objects and al

[2022-04-19 14:31] Roy-043 commented on #6102
I suppose you mean *.qss files? Can you tell me where the default style sheet is located? I can only find the custom style sheets (...\data\Gui\Stylesheets\). Thanks.

[2022-04-19 15:39] #6762 closed

[2022-04-19 16:01] luzpaz commented on #6093
I've updated the ticket to reflect @AjinkyaDahale forum response + the attached sample files

[2022-04-19 17:08] #6766 closed

[2022-04-19 18:57] donovaly commented on #6102
Yes.

I am in vacation and thus away from my development PCs. If you ask in the developer's forum, someone can tell you where this is. Since our task panels use a non-standard color design, I am sure we just need to change a color setting somewhere in our code.

[2022-04-19 21:06] luzpaz commented on #6102
lol @donovaly make sure you vacation some (so you don't burn out).

[2022-04-19 21:16] luzpaz opened #12968 "[FEATURE] Add Changelog feature for addon devs to display what is new in an addon update"
**Is your feature request related to a problem? Please describe.**
Not necessarily. It would be nice as an end user to know what was updated in the latest addon that needs to be updated.

**Describe the solution you'd like**
Perhaps a dialog box or some sort of output when installing an update of a specific addon to output what has changed in this version update.

**Describe alternatives you've co

[2022-04-20 10:26] wwmayer commented on #6274
The actual bug is closed but the points @waebbl brought up should still be discussed. This can also be done in a separate forum thread.

[2022-04-20 11:44] luzpaz commented on #6274
@wwmayer we could also do this
![Screenshot_20220420_074307](https://user-images.githubusercontent.com/4140247/164223181-96a9bbda-9f60-47e8-a555-9d943a3bf5cc.png)

[2022-04-20 20:03] sliptonic opened #6772 "[Feature Request] Support Height-map milling from image data."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

None

### Subproject(s) affected?

Path

### Idea description

Many CAM applications can take a grey scale image and interpolate the color to a height map.  This is useful for producing lithophanes.  LinuxCNC has a image to gcode capability.  It would be nice if FreeCAD could generate th

[2022-04-20 21:36] ipatch opened #6773 "[Feature Request] [macos] [mac] [osx] update `MakeMacBundleRelocatable.py` to work with python 3"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=68154

### Subproject(s) affected?

Other (specify in description)

### Idea description

basically as of macos monterey and newer aple stopped shipping a python 2 interpreter thus making a `FreeCAD.app` apple app bundle presently not pos

[2022-04-20 21:37] FEA-eng opened #6774 "[Feature Request] Option to add gaps between the dimension extension lines and the part"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=68153

### Subproject(s) affected?

Techdraw

### Idea description

Several users have already asked for an option to add gaps between dimension extension lines and parts being drawn. Currently, this is only possible with ASME dimensionin

[2022-04-20 22:55] ArifiKoseoglu opened #6775 "[Bug] 3D Surface operation fails when Optimize Stepover Transitions is enabled in Multi-pass layer mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68145

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The sample model for this issue involves a pocket created by revolving a b-spline for 180 degrees and the

[2022-04-21 01:44] AjinkyaDahale commented on #6324
I don't think so. No mention in the forum on a cursory look.

[2022-04-21 09:29] PaddleStroke commented on #6283
This bug is indeed annoying.
However I don't know much on that part of the code. Maybe OpenBrain might know how to solve this. As he recently made a commit to disable constraint selectability when using geometry tools.

[2022-04-21 10:12] DEL-TRONIK opened #6776 "[Bug] Compound transparency bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=589883#p589883

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

The compound is not displayed correctly if we apply transparency :

![1qeo](https://user-images.githubusercon

[2022-04-21 10:41] luzpaz commented on #5845
@kisolre on the [forum](https://forum.freecadweb.org/viewtopic.php?p=565307#p565307) couldn't reproduce.

@mwganson wrote

Closing this ticket for now. Please re-open if necessary

[2022-04-21 10:41] #5845 closed

[2022-04-21 11:00] luzpaz commented on #6271
Posted to the tracking forum thread: [Problem OpenSCAD scad & csg files - PLEASE Add them to this thread - Thanks](https://forum.freecadweb.org/viewtopic.php?p=590079#p590079)

[2022-04-21 11:05] luzpaz commented on #6177
@PLChris This is most likely Graphic Driver related right?

[2022-04-21 15:46] adrianinsaval commented on #6776
compound is not to blame, if you make a union instead of a compound its also buggy but less noticeable, presumably because there's less overlapping faces, according to yorik (https://forum.freecadweb.org/viewtopic.php?f=23&t=21144&start=10#p172110):

[2022-04-22 05:42] LemanRus commented on #5653
A huge problem is the seams themselves. In many cases, their presence destroys the geometry (see links above), and if you create a technical drawing of a complex part, they greatly interfere and really annoy

[2022-04-22 07:45] sedatkrn commented on #6329
[code]
OS: Windows 10 (10.0)
Word size of FreeCAD: 64-bit
Version: 0.20.28730 (Git)
Build type: Release
Python 3.8.13, Qt 5.12.9, Coin 4.0.0, OCC 7.5.3
Locale: Turkish/Turkey (tr_TR)
Installed mods:
  * A2plus 0.4.56
  * BIM 2021.12.0
  * CurvedShapes 1.0.3
  * Curves 0.4.2
  * dodo
  * fasteners 0.3.40
  * fcgear 1.0.0
  * sheetmetal 0.2.49
[/code]

![Ekran görüntüsü 2022-04-22 104201](https://us

[2022-04-22 11:05] yorikvanhavre commented on #6329
This requires an observer to be added (ref https://forum.freecadweb.org/viewtopic.php?p=564680#p564680 ) but I am not sure it is wise to be done so close to the release as it can introduce more bugs. In the meantime, we could either:
1) Add a text to the appropriate Draft preferences page telling users to turn the grid off/on to apply changes
2) Remove grid settings entirely from the preferences p

[2022-04-22 11:46] adrianinsaval commented on #5653
Techdraw has an option to hide seam edges I believe, as for the problems the seam edges give for Boolean operations, there's no way around it. OCC requires the existence of those seam edges, the most that can be done in FreeCAD is to hide their existence for cosmetic porpuses but the edges would still be there under the hood.

[2022-04-22 19:09] nexx512 commented on #6734
Actually, there seem to be more precision issues.
When drawing 2 wires on an arbitrary plane, even when end point snapping is used, the points of the two wires don't match. Therefore joining these wires is not possible.

I tried to work around this using a macro that connects close lines by assigning the points. However this didn't work either. The points were assigned correctly, But after then ne

[2022-04-22 19:09] bhowiebkr opened #6842 "Path workbench Post Process not starting spindle in git build 27422"
Missing commands like M3, M4, S##### and possibly others

[2022-04-24 06:23] #5594 closed

[2022-04-24 11:11] luzpaz commented on #6179
CC @pilhuhn

[2022-04-24 22:53] donovaly commented on #6775
@sliptonic can you please have a look?

[2022-04-25 14:18] sliptonic commented on #6775
I've asked @Russ4262 to have a look.

[2022-04-25 15:17] iliaskessaris opened #6790 "FreeCad does not start on windows 10 even though it used"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecad.org/viewtopic.php?f=3&t=30573&sid=d9b4a91fdbb7acc09ea1439a943a9f27

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The application does not start on windows 10. I tried many previous version

[2022-04-25 18:58] xStreeme opened #6793 "Snapping feature will not work under certain conditions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=67463

### Version

0.19 (Release)
0.20
0.21

### Full version info

[code]

[code]

### Subproject(s) affected?

_No response_

### Issue description

I cannot object snap.
Neither the snap icon nor the white dot will appear.
It looks like I

[2022-04-25 20:37] luzpaz commented on #6793
Why was this ticket created without testing in v0.20dev ?

[2022-04-25 20:50] luzpaz commented on #6790
No information provided about crash.
No forum thread. (Please don't link to a non-relevant forum thread. You need to start your own thread and get validation from the community.)
Ticket doesn't follow guidelines. Closing.

[2022-04-25 20:50] #6790 closed

[2022-04-25 21:39] luzpaz commented on #5602
Closing since we think it is a display driver issue.

[2022-04-25 21:39] #5602 closed

[2022-04-25 22:03] xStreeme commented on #6793
Because it behaves exactly the same way.

[code]
OS: macOS 10.16
Word size of FreeCAD: 64-bit
Version: 0.20.28751 (Git)
Build type: Release
Python 3.9.12, Qt 5.12.9, Coin 4.0.0, OCC 7.5.3
Locale: C/Default (C)
[/code]

All existent tickets seem oriented to issues that have not much to do with the one I'm reporting.

<img width="3008" alt="Screenshot" src="https://user-images.githubusercontent.com/

[2022-04-25 22:06] luzpaz commented on #5854
Per user1234 on the forum:

![image](https://user-images.githubusercontent.com/4140247/165182739-6bd31ade-4f80-4151-8655-504bea561885.png)

CC @abdullahtahiriyo @PLChris

[2022-04-25 22:17] PLChris commented on #5854
Fixed.

[2022-04-25 22:17] #5854 closed

[2022-04-25 22:18] luzpaz commented on #5854
@PLChris any idea in what commit ?

[2022-04-25 22:28] luzpaz commented on #5780
https://github.com/sanguinariojoe/freecad.xray

[2022-04-26 12:06] luzpaz commented on #6765
Thanks wwmayer!

* Are we going to backport?
* Can we close this ticket?

[2022-04-27 02:04] luzpaz opened #6799 "[Bug] Can't exit Stereo view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68314

### Version

0.20 (Development)

### Full version info

[code]

[code]

### Subproject(s) affected?

Core

### Issue description

### Steps to Reproduce:
* Create new documemt
* View > Stereo > (Choose any stereo mode)
* View > Stereo >

[2022-04-27 02:18] luzpaz commented on #6799
That is as far as I got: https://github.com/FreeCAD/FreeCAD/blob/cb1093ef305010d218c74868e65d64e261fce3fb/src/Gui/CommandView.cpp#L2285

[2022-04-27 03:32] #6799 closed

[2022-04-27 03:36] chennes commented on #6799
The problem is that "None" is not actually the value in that enumeration: it's "Mono".

[2022-04-27 13:17] luzpaz commented on #6799
@chennes just for my edification, where is the enumeration located in the code?

[2022-04-27 13:48] luzpaz commented on #6689
![Screenshot_20220427_094704](https://user-images.githubusercontent.com/4140247/165533471-1c42c505-71f6-45f8-af4a-2b5f06559ed6.png)
Kinda looks the same on @realthunder's branch as well.

[2022-04-27 15:39] luzpaz opened #6801 "Gui: StereoTypeEnums - once View3DInventor inherits from PropertyContainer we can use PropertyEnumeration"
There is a FIXME that I turned in to an issue for more exposure:

https://github.com/FreeCAD/FreeCAD/blob/f8f3ba7a04f85ba379e68c624557d1d053013ef5/src/Gui/View3DPy.cpp#L1331-L1332

[2022-04-27 15:44] luzpaz opened #6802 "[Core] Base/FileInfo.cpp: macOS path names are UCS-4 encoded. For the moment we cannot handle path names containing non-ASCII characters."
https://github.com/FreeCAD/FreeCAD/blob/cb1093ef305010d218c74868e65d64e261fce3fb/src/Base/FileInfo.cpp#L282-L284

[2022-04-27 15:47] luzpaz opened #6803 "[Core] Base/FileInfo.cpp: To avoid race conditions we should rather return a file pointer than a file name"
https://github.com/FreeCAD/FreeCAD/blob/cb1093ef305010d218c74868e65d64e261fce3fb/src/Base/FileInfo.cpp#L138-L141

[2022-04-27 16:40] luzpaz opened #6805 "[Tracking] All Qt UI elements that aren't themeable"
### Idea description

This ticket tracks all UI elements that aren't exposed to stylesheet theme-ability.
- [x] #16454
- [x] FreeCAD/FreeCAD#7582
- [ ] FreeCAD/FreeCAD-themes#5
- [x] FreeCAD/FreeCAD#8168
- [ ] FreeCAD/FreeCAD#8250
- [x] FreeCAD/FreeCAD#8297
- [x] FreeCAD/FreeCAD#8440
- [ ] FreeCAD/FreeCAD#9944
- [x] FreeCAD/FreeCAD#12208
- [x] https://github.com/FreeCAD/FreeCAD-addons/issues/262
-

[2022-04-27 21:05] PLChris commented on #5704
Fixed in this version:

OS: macOS 10.16
Word size of FreeCAD: 64-bit
Version: 0.20.28751 (Git)
Build type: Release
Python 3.9.12, Qt 5.12.9, Coin 4.0.0, OCC 7.5.3
Locale: C/Default (C)

[2022-04-27 21:05] #5704 closed

[2022-04-27 23:26] realthunder commented on #6689
@luzpaz Did you turn on MSAA. Increasing border width will make the effect more obvious. Just compare it with the axis line. The border of the cube is rendered as texture in upstream if I remembered correctly, which is why it does not respond to MSAA setting. I have changed it to OpenGL line rendering.

https://user-images.githubusercontent.com/1207888/165647225-a8963957-885b-47af-9c81-b0e6bde0d11

[2022-04-28 08:07] yorikvanhavre opened #6807 "Remove old fat files from the repo"
Remove the leftover fat Qt Help files from the repo history. They account for almost 50% of the repo size. Only problem, rewriting the history will force everybody who has a local copy of the git repo to force pull the repo manually.

Idea: Do that while switching the main branch from "master" to "main". (Which is becoming a norm a bit everywhere anyway) so it forces people to update

Forums discu

[2022-04-28 12:01] luzpaz opened #6809 "[Feature Request] CLI -t flag should list all available unit tests instead of user guessing which to run (besides `-t 0` AKA all tests)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

n/a

### Subproject(s) affected?

Core

### Idea description

When running FreeCAD executable from the CLI with the `-t` flag, user should get a list of optional individual tests to choose from instead of needing to guess or lookup the names for them.

`./Applications/FreeCAD_weekly-buil

[2022-04-28 15:32] luzpaz commented on #6177
@wwmayer is this that old graphic driver issue?

[2022-04-28 20:24] kisolre commented on #6234
When MapReverse is On the elliptical sector (Pocket.Edge17) is somehow wrongly mapped to the sketch plane and the weirdness starts. Delete the external edge - no issue. Add it again (not undo) - same weirdness
![ExternalEllipse](https://user-images.githubusercontent.com/15333315/165839392-a800b170-5299-4ca1-b1ec-dfdd6170aef8.gif)
.

[2022-04-28 20:28] felixknollmann opened #6810 "FreeCAD fails to open OpenSCAD files."
When opening a OpenSCAD file I get the following error:
[code]

Instead of opening the part with all subsections, it just makes a single cube.

[2022-04-28 23:24] felixknollmann commented on #6810
I tested with the 0.20 branch and had the same result. Also used 0.19.1 (originally using 0.19.4)

[2022-04-28 23:29] felixknollmann commented on #6810
Here is an example (scad files uploaded as .txt) The first is a dependency of the second.
[thorlabs_optomech.txt](https://github.com/FreeCAD/FreeCAD/files/8587232/thorlabs_optomech.txt)
[baseplate_test1.txt](https://github.com/FreeCAD/FreeCAD/files/8587233/baseplate_test1.txt)
:

[2022-04-29 00:25] luzpaz commented on #6810
Next time, just zip scad files in to 1 archive + please add your full FreeCAD [About](https://wiki.freecad.org/About) info when reporting issues.

[2022-04-29 01:01] luzpaz commented on #6810
Honestly, I think we should close this ticket and post the issue to the [dedicated forum thread for OpenSCAD issues](https://forum.freecadweb.org/viewtopic.php?f=3&t=61777)

[2022-04-29 02:20] felixknollmann commented on #6810
Here is the full FreeCAD about info for my version:
OS: macOS 10.16
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.19.24366 (Git)
Build type: Release
Python version: 3.9.7
Qt version: 5.12.9
Coin version: 4.0.0
OCC version: 7.5.3
Locale: C/Default (C)

I also tried versions 0.20 dev, 0.19.4, and 0.19.1 on Windows 10.

[2022-04-29 08:21] 0penBrain opened #6811 "Call 'Deactivated' method of active WB when FC closes"
We can try it in v0.21.

_Originally posted by @wwmayer in https://github.com/FreeCAD/FreeCAD/issues/6798#issuecomment-1110996499_

[2022-04-29 10:27] PLChris commented on #6202
Fixed in

OS: macOS 10.16
Word size of FreeCAD: 64-bit
Version: 0.20.28751 (Git)
Build type: Release
Python 3.9.12, Qt 5.12.9, Coin 4.0.0, OCC 7.5.3
Locale: C/Default (C)

[2022-04-29 12:00] luzpaz commented on #6810
Closing in favor of https://forum.freecadweb.org/viewtopic.php?f=3&t=61777&p=592113#p592113

[2022-04-29 12:00] #6810 closed

[2022-04-29 13:23] AjinkyaDahale commented on #6582
@WandererFan I saw that only SVGs are supported, and "bitmap" was a raster format. WIth "bitmap" did you mean custom pattern in general? If so I'm sorry.

[2022-04-29 17:40] luzpaz commented on #6410
@carsten-bruckhaus still an issue?

[2022-04-29 17:45] luzpaz commented on #6281
Renamed forum thread

[2022-04-29 17:48] luzpaz commented on #6280
CC
@marioalexis84
@Roy-043

[2022-04-29 17:55] luzpaz commented on #6179
Lets get this macOS stuff fixed before release

[2022-04-29 17:57] luzpaz commented on #5683
Lets get this working before v0.20 release

[2022-04-29 17:59] luzpaz commented on #6099
@marioalexis84 is there an upstream ticket yet?

[2022-04-29 18:14] marioalexis84 commented on #6099
Not yet.

[2022-04-29 18:18] WandererFan commented on #6582
Faces are supposed to support an SVG tile fill, Autodesk PAT fill, solid
colour or jpeg/png/bmp fill.  The jpeg/png/bmp part is only 1/2 done and
will be fixed in v0.21.

On Fri, Apr 29, 2022 at 9:24 AM Ajinkya Dahale ***@***.***>
wrote:

[2022-04-29 19:19] carsten-bruckhaus commented on #6410
Yes, still an issue in latest LinkBranch installed via AppImage or snap on Manjaro KDE (snap is auto build and therefor more recent than AppImg) . Still no problem in native FC 0.19, though.

I tried 4 machines, the issue always occured with Qt 5.12 (as bundled in snap and AppImage releases, apparently), never with Qt 5.15.

[2022-04-30 09:14] Roy-043 commented on #6280
I cannot reproduce with the version mentioned below. So this has indeed been fixed by @marioalexis84 with the already mentioned commit.

Note that even with the new code rounding errors will occur. But they are much smaller. You may for example see -0.00mm for the delta Z coordinate. These rounding errors cannot be avoided when calculating with floating point numbers:
https://docs.python.org/3/tut

[2022-04-30 11:34] luzpaz commented on #6280
Closing ticket. Fixed in 1cd01248e0fb42baace06ae7ff2475e6dd60c68d by @marioalexis84

[2022-04-30 11:34] #6280 closed

[2022-04-30 18:49] ipatch commented on #6410
i downloaded the conda release from the weekly releases page, and this is what im seeing...

![image](https://user-images.githubusercontent.com/613805/166118757-eb1bb9c7-45ca-4d6f-b069-519410604ac8.png)

[2022-04-30 20:20] olddude56 opened #6815 "[Problem] CAM: 3D Pocket does not develop path to bottom when selecting multiple surfaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=68055

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

When using 3D pocket to tool path  a pocket with multiple surfaces and depths, the toolpath will be developed to

[2022-05-01 02:36] JohnOCFII commented on #6410
Still a blank Start workbench for me using the same Conda build (28765).  Perhaps related to macOS 10.16 vs. 10.15?  Or perhaps that I'm on an M1 Mac?

<img width="1728" alt="Screen Shot 2022-04-30 at 9 33 54 PM" src="https://user-images.githubusercontent.com/7844212/166129735-439f81b2-f47d-43c0-983c-e97477945142.png">
?

[2022-05-01 02:39] ipatch commented on #6410
start wb wont work on m1 due to qt@5 webengine is not m1 compat nor the qt devs plan on making it compat, so

[code]

[2022-05-01 02:46] JohnOCFII commented on #6410
But since the Conda builds are built for Intel, shouldn't this run correctly via Rosetta?  I DO get a Start WB when using your version, as shown below:

<img width="1728" alt="Screen Shot 2022-04-30 at 9 44 25 PM" src="https://user-images.githubusercontent.com/7844212/166129978-546cedad-c484-467c-8e2a-a89addfeaf28.png">

[2022-05-01 02:53] ipatch commented on #6410
okay thanks for that.

m1 does not natively support qt@5 with qt webengine, so if you do see the start wb with homebrew freecad build then its working via rosetta as you stated. however conda uses an older version of qt i believe qt v5.12 or qt v5.13.x where as the versions i publishing use qt v5.15.3 also theres enough difference between the conda builds and hbfc builds for things like this crop

[2022-05-01 03:20] JohnOCFII commented on #6410
Good Question.  I pulled down a version of 0.19, and also do NOT see a Start WB.  Last time I used 0.19 I had an Intel Mac.  So -- not sure.  I do think you are on the right track regarding QT v5.12 vs. v5.13 (or something in that area...).

I don't think I've every seen the Start Workbench working in 0.20, though, including when I did have an Intel Mac -- so something MAY have changed to allow th

[2022-05-01 09:06] donovaly commented on #6689
@realthunder , can you please make a PR to fix the issue also for master? This PR should go in for 0.20 is possible.

[2022-05-01 09:08] donovaly commented on #6765
No backport since there won't be a further 0.19 release.
Closing as fixed.

Yes, please do so when you find time.

[2022-05-01 12:50] luzpaz commented on #6765
![Screenshot_20220501_084900](https://user-images.githubusercontent.com/4140247/166146730-83b39769-f451-4881-acab-a8c51a3a930a.png)
ref: https://github.com/FreeCAD/FreeCAD/blob/4f9eb9ebcea67bff2a46cfc97ae125472f115a11/src/Gui/Icons/resource.qrc#L230-L233

Are we keeping the xpm files for any reason?

[2022-05-01 13:13] luzpaz commented on #6765
Also the overlay icons in the wiki page look nothing like the ones that were altered in wwmayer's commit:

https://github.com/FreeCAD/FreeCAD/blob/0cf9a778a54cf4aff76863ec1bf4c265b2596ef0/src/Gui/Icons/LinkOverlay.svg
https://github.com/FreeCAD/FreeCAD/blob/0cf9a778a54cf4aff76863ec1bf4c265b2596ef0/src/Gui/Icons/LinkSubElement.svg
https://github.com/FreeCAD/FreeCAD/blob/0cf9a778a54cf4aff76863ec1bf4

[2022-05-02 11:03] wwmayer opened #6818 "[Feature Request] Add an option to lock the NaviCube"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=34&t=68390

### Subproject(s) affected?

_No response_

### Idea description

Sometimes it happens that the NaviCube is dragged by accident. To avoid this an option to lock it would be nice.

In the preferences dialog a check box can be added

[2022-05-02 16:17] sundtek commented on #6217
#5276 is still valid and fixes the issue, I'm using that modification since December last year.
I just don't want to spend more time on it, so someone else might pick it up and rewrite it.

[2022-05-02 19:19] mdziczkowski opened #6824 "[Bug] Crash on startup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

na

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

While starting, FreeCAD has crashed with following error:

[code]
The initialization strings in the log file look normal, except the last lines containing above

[2022-05-02 23:26] luzpaz commented on #6824
Closing in favor of https://github.com/FreeCAD/FreeCAD-Bundle/issues/102#issuecomment-1113631223

[2022-05-02 23:26] #6824 closed

[2022-05-03 05:51] marshr32 opened #6826 "[Bug] Path/Helix Start radius broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=68150&start=10

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

When using the helix tool for holes greater that 2x tool dia, a second path should be created to remove

[2022-05-03 08:00] mdziczkowski commented on #6824
Hello.

First, on forum is no seperate sub-category for neither bug reports, nor feature requests and for second, your request stands in opposite to a forum entry, where stands that on developrs may miss it there, so they write to open a issue here.

[2022-05-03 12:00] luzpaz commented on #6824
Help subforum is for Bugs.  Open subforum is for FR.

FC is complex due to it's many 3rd party dependencies. We prefer users not rely on their distro's default FC build or that they know what they're doing when building from source because since too many bugs are produced due to conflicts/mishaps.

[2022-05-03 14:33] luzpaz commented on #6256
Per @donovaly in the forum:
![Screenshot_20220503_103243](https://user-images.githubusercontent.com/4140247/166473844-256e5d87-2fdb-4b03-999e-22f8a738103e.png)

[2022-05-03 14:40] luzpaz commented on #6226
CC @onekk (participating in the thread)

[2022-05-03 14:46] luzpaz commented on #6274
@waebbl do you mind opening a new ticket so we can track this issue? :pray:

[2022-05-03 14:47] onekk commented on #6226
Thanks for the CC, but Sketcher is not my most known WB of FC.
My comments on thread was more general, sadly after some time (almost 1 year from the last post) my knowledge has not improved in such field.

Regards

Carlo D.

[2022-05-03 14:51] luzpaz commented on #6452
@wwmayer can you take a look at this at your convenience?

[2022-05-03 14:58] luzpaz commented on #6243
This is really a chronic undo/redo problem in Sketcher that we need to address

[2022-05-03 15:01] luzpaz commented on #6218
@PLChris would you mind confirming this on macos?

[2022-05-03 15:07] luzpaz commented on #6218
I can'r reproduce this on
[code]

[2022-05-03 15:16] luzpaz commented on #6150
@Russ4262 have you seen an issue like this before?

[2022-05-03 15:27] luzpaz commented on #6131
Can confirm on
[code]

[2022-05-03 15:38] Kuzma30 opened #6858 "[Feature] Add unicode to python console"
![Знімок екрана з 2022-05-03 18-32-13](https://user-images.githubusercontent.com/1382812/166485559-37988e90-14ea-43fd-a38e-98b19853ef1f.png)
[code]

In upstream new document "Без Назви" shown in python console as "_________".

In realthunder branch it shown correct
![зображення](https://user-images.githubusercontent.com/1382812/166486145-3bf8ea7b-d4de-4f4d-81a6-7aa01fe59836.png)

[code]

Can we in

[2022-05-03 15:41] luzpaz commented on #6074
Per @yorikvanhavre in https://forum.freecadweb.org/viewtopic.php?p=405231#p405231

@Roy-043 then mentions that he can't reproduce in v0.19.24219

[2022-05-03 15:48] luzpaz commented on #6056
Closing

[2022-05-03 15:48] #6056 closed

[2022-05-03 16:09] waebbl opened #6828 "Linux: Use of `CMAKE_INSTALL_PREFIX=/usr` installs files into unexpected locations"
On Gentoo we have the same issue, if built with `CMAKE_INSTALL_PREFIX=/usr`[1]. I made attempts for the Gentoo Linux package to relocate the Mods into `/usr/lib/freecad` when built with `CMAKE_INSTALL_PREFIX=/usr`, by patching all the CMake DESTINATION options in the Mods install targets[2,3]. But there's actual C++ and/or Python code, which expects the Mod directory just below prefix and thus loo

[2022-05-03 16:10] waebbl commented on #6274
Done. Feel free to change the title if desired.

[2022-05-03 16:13] wwmayer commented on #6452
Wasn't able to reproduce it.

[2022-05-03 16:25] luzpaz commented on #6452
Do you mind adding your About info? Thanks!

[2022-05-03 16:47] luzpaz commented on #6274
Thanks! Closing ticket

[2022-05-03 16:47] #6274 closed

[2022-05-03 20:29] BloodyRain2k commented on #6192
Not sure if there *should* be a change in 0.20.28774, but there still isn't.

Can't add multiple edges in a row nor preselect a couple and THEN press "Add Edge" to add the selected edges.

[2022-05-03 21:37] ifohancroft commented on #6256
Like I said in the forum, for me, ideally, it would be if the option was to control the number of digits shown after the decimal point.

[2022-05-03 21:49] Roy-043 commented on #6062
Confirmed.

The OP has attached a user.cfg file to the forum thread:
https://forum.freecadweb.org/viewtopic.php?p=401193#p401193

Here is a smaller user.cfg file that demonstrates the problem:
[user-roy.zip](https://github.com/FreeCAD/FreeCAD/files/8614459/user-roy.zip)

[code]

[2022-05-03 21:57] luzpaz commented on #6192
Please open a forum thread to discuss with the rest of the communtiy

[2022-05-03 23:18] Russ4262 commented on #6150
Reading the Original Report Text, I see, "Impossible to export the 3D model to print it with my 3D printer."  This has nothing to do with Path.  As for what the reporter is wanting to do, export a solid for printing with a 3D printer, this has been functioning successfully since at least 0.19, if not previously.  The shape export format for 3D printer slicing is not ".gc" as far as I know.  I use

[2022-05-04 01:16] luzpaz commented on #6150
Thx for the comprehensive answer. Closing sounds like the right move

[2022-05-04 01:16] #6150 closed

[2022-05-04 05:33] luzpaz commented on #5916
@FEA-eng do you mind trying to reproduce on v0.20dev ?

[2022-05-04 05:43] luzpaz commented on #5781
@0penBrain anything still remaining with this ticket/issue?

[2022-05-04 06:34] 0penBrain commented on #5781
@luzpaz Not that I know of. ;)

[2022-05-04 08:19] Roy-043 commented on #5896
I can't reproduce this.
[code]

[2022-05-04 08:24] Roy-043 commented on #6074
Still can't reproduce. IMO this issue can be closed.
[code]

[2022-05-04 16:55] luzpaz commented on #5781
Fixed by @0penBrain in b809867.  Thanks!
Closing.

[2022-05-04 16:55] #5781 closed

[2022-05-04 16:56] luzpaz commented on #5793
My bad.. the PR hasn't been merged yet :facepalm: (Sorry for all the noise)

[2022-05-04 16:58] luzpaz commented on #5896
Thank Roy. @carlopav do you mind retesting?

[2022-05-04 17:19] luzpaz commented on #5979
Closing ticket

[2022-05-04 18:56] #6058 closed

[2022-05-04 19:03] FEA-eng commented on #5916
I checked this and it still happens (with displacement components) in 0.20.

[2022-05-04 19:47] donovaly commented on #6765
If possible the XPM files should go and we use only SVG files. If you can make such a PR, please do so and this should go in for 0.20.

[2022-05-04 20:47] FEA-eng opened #6831 "[Feature Request] Block constraint for vertices"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68434

### Subproject(s) affected?

Sketcher

### Idea description

Currently, the block constraint doesn't work for free points (reported here: #5844) but it would also be good to make it work for vertices (points belonging to other geome

[2022-05-05 14:55] #6775 closed

[2022-05-05 18:59] luzpaz opened #6835 "Path: Make conditional debug code uniform throughout the Path WB code"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

gitter

### Subproject(s) affected?

Path

### Idea description

Per LGTM, many PathWB conditional DEBUG rules are "_unreachable_".

"_Unreachable code makes the code more difficult to understand and may slow down loading of modules._"

See https://lgtm.com/projects/g/FreeCAD/FreeCAD?mod

[2022-05-05 20:47] #6773 closed

[2022-05-05 20:51] Buffalo1John opened #6836 "[Bug] Disappearing faces (+ corners appear cut) (Coin3D related)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?t=68353

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

the behaves the same way in 19.3 release and all of the versions of 0.20 that I have tried for the last few m

[2022-05-05 20:56] Buffalo1John commented on #6836
Forgot to add this, I can make the improper rendering go away, but it can come back it the object is rotated some more.

I am using Orthographic rendering. If I switch to Perspective rendering, I can't get the display problem to reappear.

[2022-05-05 20:56] luzpaz commented on #6836
Looks related to ["Corner appears cut"](https://forum.freecadweb.org/viewtopic.php?f=3&t=64833) thread.

[2022-05-05 22:36] Buffalo1John commented on #6836
Similar - maybe...

The corner cut seems to be on just the one corner, but it does not change as the rotation changes. And if you rorate slightly, the cut goes away.

Just tried the 40 mm cube and if I switch to the Isometric view, the corner is cut, and interestingly, you can see the inside corner because my cube is a cube.
![t1p_ISOMETRIC](https://user-images.githubusercontent.com/46139884/16703

[2022-05-06 00:10] luzpaz commented on #6765
@donovaly sorry, i know you're busy but there are two issues:
1) I can remove the XPMs but I wouldn't know if there were correctly replaced by their SVGs
2) I haven't heard a response about the pending question: where are the overlay icons used in the treeview (the ones wwmayer updated look nothing like the overlay icons in the wiki)

[2022-05-06 15:51] wwmayer opened #6840 "[Bug] Crash in ObjectIdentifier::resolveProperty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68514

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Expressions

### Issue description

Open the project file, close the document -> Crash

### Anything else?

https://github.com/FreeCAD/FreeCAD/

[2022-05-06 18:34] #6840 closed

[2022-05-07 03:23] Buffalo1John commented on #6836
More information:
I colored each face of the cube with a different color. It seems that it is possible to create this improper rendering with any cube corner. The cube is sliced by the clipping plane and parts on one side of the plane are visible while the parts on the other side of the clipping plane are hidden. The hidden parts are facing the screen but it is not clear if this clipping plane is

[2022-05-07 10:33] donovaly commented on #6765
I would say just compare the SVG with the XPM. If it fit, remove the XPM, if not put it on the list that our icon guys like @bitacovir  can create a proper SVG/fix the SVG

I don't understand your question. The tree view uses them, no? And if so, use the ones used by the tree view for the Wiki.

[2022-05-07 11:29] wwmayer opened #6844 "[Bug] Crash in PropertyXLinkContainer::updateDeps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=593693#p593693

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Expressions

### Issue description

See https://forum.freecadweb.org/viewtopic.php?p=593693#p593693

### Anything else?

The crash is part

[2022-05-07 11:34] wwmayer opened #6845 "[Bug] Crash in DocumentObject::getOutList"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=593697#p593697

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Core

### Issue description

https://forum.freecadweb.org/viewtopic.php?p=593697#p593697

### Anything else?

_No response_

### Code of C

[2022-05-07 14:37] ageeye commented on #6802
Is there a source, that MacOS used UCS-4 (similar UTF-32?) for path names? If I try to get the file system encoding by python console[1], the result is UTF-8. But MacOS used other representing form, which called NFD [2]. If I understand correctly, the standard libraries which FreeCAD used not support NFD. That means many lines of the source code have to changed.

 Or did I understand that incorrec

[2022-05-07 14:59] adrianinsaval commented on #6836
IMO it's the same issue, it always seemed random to me, I can't pinpoint the required conditions for it. My guess is that this is a bug in Coin3D rather than FreeCAD.

[2022-05-07 15:29] ageeye commented on #6410
It looks like to locate the problems with webengine in the old qt library. Maybe the Qt 5.15 LTS versions (commercial licenses) fix it. But this is not an option. It remains to switch to Qt 6.
It is possible that Cmake warn if the Qt tree is older than 5.15 and build runs on macOS.
As we cannot see the wood for the trees, will this warning lose oneself. [See forum](https://forum.freecadweb.org/vie

[2022-05-07 17:03] ageeye commented on #6410
[Please read this hint](https://forum.freecadweb.org/viewtopic.php?p=593746#p593746) from @looooo

[2022-05-07 20:26] hervyqa commented on #6068
It happened to me too.
OS: voidlinux
Graphic platform: KDE wayland

output:
[code]

[2022-05-07 23:39] luzpaz commented on #6068
This is a non-issue for v0.20dev correct?

[2022-05-08 00:00] luzpaz commented on #6802
Per the git blame that portion of the code is ~11 years old. That FIXME maybe obsolete at this point. @wwmayer can you confirm ?

[2022-05-08 02:14] hervyqa commented on #6068
sorry, I don't know anything about this :"(

[2022-05-08 02:38] Russ4262 opened #6849 "[Problem] CAM: LeadInOut dressup created on Cancel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?style=4&f=15&t=68521

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

The LeadInOut Dressup creates the dressup upon activation even when the Cancel button is pressed in its t

[2022-05-08 02:42] Russ4262 commented on #6815
As a participant in the forum thread linked in the issue description, I would like to add that this error reported appears to be limited to models created in Part Design workbench - at least this is my experience so far.

[2022-05-08 10:36] luzpaz commented on #6253
should we add this as a dependency in cmake?

CC @wwmayer @looooo

[2022-05-08 11:10] luzpaz commented on #6216
Per @PLChris in the [forum thread](https://forum.freecadweb.org/viewtopic.php?p=496384#p496384)

Aside: I've updated the GH ticket to show the screenshots.

[2022-05-08 11:15] luzpaz commented on #6217
#5276 wasn't merged per https://github.com/FreeCAD/FreeCAD/issues/6217#issuecomment-1115084571
This issue is still open.

[2022-05-08 12:59] wwmayer commented on #6845
It appeared that this issue has the same reason as #6844

[2022-05-08 12:59] #6845 closed

[2022-05-08 15:37] luzpaz commented on #6244
Per dxp.dev in the [forum thread](https://forum.freecadweb.org/viewtopic.php?p=593909#p593909)
This is an upstream macOS issue. The workaround:

set to `Always`

[2022-05-08 15:37] #6244 closed

[2022-05-08 15:38] luzpaz commented on #6244
CC @looooo @ipatch @PLChris
just giving you a heads up about this known issue

[2022-05-08 16:22] #6844 closed

[2022-05-08 19:45] ipatch commented on #6244
yes, this i something i've noticed as well.

[2022-05-09 00:32] luzpaz commented on #6068
@hervyqa install v0.20development https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds and see if you can reproduce. Just make sure to backup any 0.19 files you load in to it because some of the features may not be backward compatible.

[2022-05-09 01:03] luzpaz commented on #6187
CC @PLChris (just a heads up since you participate on the forum thread)

@yorikvanhavre any idea who could tackle this issue?

[2022-05-09 06:36] wwmayer commented on #6253
How should this be checked? You can only see that the system OpenGL doesn't work if FreeCAD crashes. But nevertheless, the culprit is the system OpenGL and according to the latest forum post from apeltauer upgrading the driver should fix the problem.

The Mesa3D might be an alternative for the QtWebEngineCore (i.e. when the StartPag is shown) but since it was said that its performance is quite poo

[2022-05-09 09:07] #6242 closed

[2022-05-09 10:16] hervyqa commented on #6068
I used the appimage, it worked (FreeCAD_weekly-builds-28810-Linux-Conda_glibc2.12-x86_64.AppImage). For the freecad_source.tar.gz I will try to compile it tonight.

Appimage & KDE Wayland:
![Screenshot_20220509_171310](https://user-images.githubusercontent.com/45872139/167389577-c0dc9936-81ba-4ead-b9e6-afe9baca2084.png)

[2022-05-09 11:43] wwmayer commented on #6802
When we started to handle the encoding on the different platforms I read some articles about Linux, Windows and macOS and I am pretty sure that somewhere it was claimed that macOS uses UCS-4 or UTF-32 (which is more or less identical). Not sure if it was the same resource that claimed that Windows uses UCS-2 which in fact  was true but has changed with Windows 2000.

Either the resource was plain

[2022-05-09 12:21] #6802 closed

[2022-05-09 12:22] luzpaz commented on #6802
Thanks @ageeye for responding.
Thanks @wwmayer for the follow-up and commit. :+1:

[2022-05-09 12:30] wwmayer commented on #6802
std::wstring uses wchar_t that according to [Wikipedia](https://en.wikipedia.org/wiki/Wide_character#C/C++) is unspecified in C++. It depends on the compiler where it can be even defined as 8-bit char.

Usually on Windows it's defined as 16-bit char and on Linux/macOS it's mostly 32-bit.

[2022-05-09 12:45] luzpaz opened #6855 "Base/PyExport.h: left over tasks regarding pointer management etc..."
https://github.com/FreeCAD/FreeCAD/blob/418cb98010df70d5fbaf3d0323ce146629c45de4/src/Base/PyExport.h#L154

https://github.com/FreeCAD/FreeCAD/blob/418cb98010df70d5fbaf3d0323ce146629c45de4/src/Base/PyExport.h#L196

https://github.com/FreeCAD/FreeCAD/blob/418cb98010df70d5fbaf3d0323ce146629c45de4/src/Base/PyExport.h#L203

https://github.com/FreeCAD/FreeCAD/blob/418cb98010df70d5fbaf3d0323ce146629c45de

[2022-05-09 12:48] luzpaz opened #6856 "CMake: Quarter support on macOS"
Is this FIXME still relevant ?

https://github.com/FreeCAD/FreeCAD/blob/5d49bf78de785a536f941f1a6d06d432582a95d3/src/Gui/Quarter/CMakeLists.txt#L62

[2022-05-09 12:53] luzpaz opened #6857 "App: Do not use stuff from Part module here (`PyObject *PropertyContainerPy::getCustomAttributes`)"
https://github.com/FreeCAD/FreeCAD/blob/eebdaadb94defbe06a64db46e042149ce394fb85/src/App/PropertyContainerPyImp.cpp#L569-L599

[2022-05-09 13:43] luzpaz commented on #6253
So it would be up to the user to manually rename MESA3D DLL ?

[2022-05-09 13:48] luzpaz commented on #6858
@donovaly is it ok to apply the 'For 0.21' to this issue?

[2022-05-09 13:51] luzpaz commented on #6068
Solution: Update to v0.20dev (or v0.20 when it is released which should be imminently).

Closing ticket.

[2022-05-09 13:51] #6068 closed

[2022-05-09 17:12] adrianinsaval commented on #6187
`obj.ViewObject.AngularDeflection` ? however it's a vale in degrees, not sure what unit is 0.7 in or if it's a percentage

[2022-05-09 20:12] luzpaz commented on #6856
@ipatch care to weigh-in ?

[2022-05-09 20:54] luzpaz commented on #5547
CC @kaktusus @Kuzma30

[2022-05-09 20:55] luzpaz commented on #5548
CC @kaktusus @Kuzma30

[2022-05-09 21:43] luzpaz commented on #5914
Related #5566

[2022-05-09 21:47] luzpaz commented on #5926
Closing in favor of #6514

[2022-05-09 21:47] #5926 closed

[2022-05-09 21:56] luzpaz commented on #5863
Closing in favor of the documentation on translation in https://wiki.freecad.org/Translating_an_external_workbench#Technical_details_and_advanced_usage

[2022-05-09 21:56] #5863 closed

[2022-05-09 22:02] luzpaz commented on #6064
See #5914

[2022-05-09 23:42] luzpaz commented on #5581
Found an interesting commit in OpenCascade git log:
ref: https://github.com/Open-Cascade-SAS/OCCT/commit/7e785937b3e65df86f35364e1036e446d6339cec

  or in addition to the draw interpreter, instead of trigger option "-tclOutput".

  Now any operation can be aborted by Ctrl-C or Ctrl-Break keystroke.

[2022-05-09 23:50] luzpaz commented on #5831
Old Related: #5850 #6066

[2022-05-10 00:36] luzpaz commented on #6225
Per a user 'Mallen' on the [forum thread](https://forum.freecadweb.org/viewtopic.php?p=554717#p554717):

[2022-05-10 02:06] ipatch commented on #6856
ill try and get back to you on that one tomorrow. i've been working towards getting python 3.10 support going with macos. i got pyside, shiboken, and coin, but ran into some issues bulding pivy using the cmale setup, need to open an issue about that. and then build a new app bundle hopefully around python 3.10.

life caught up with me today so didn't get troubleshoot my pivy compliation issue.

[2022-05-10 04:38] ageeye commented on #6856
@ipatch Please use the head:

`brew install --head %your%/freecad/pivy`

[2022-05-10 10:26] wwmayer commented on #6858
When you create a new document by clicking on the toolbar button you will see that the console already prints:
`App.newDocument("Без Назви")`

So, the point is not that the Python console doesn't support unicode but an internal restriction of what a Python identifier is allowed to be. For Py2 one of the rules was that an identifier wasn't allowed to contain any non-7-bit ASCII character while for

[2022-05-10 12:00] realthunder commented on #6858
The relevant change in my branch is https://github.com/realthunder/FreeCAD/commit/950c39efb14258996fb990f7994ea847cff46f35 to produce Python3 valid identifier with UTF8. This means not only the document name, but object name, property name and spreadsheet alias, will all accept UTF8 character. In order for the new names to work in general, there needs to be a gigantic follow up patch to replace ev

[2022-05-10 13:44] Kuzma30 commented on #5547
How do I see the program interface
All names of operations in the tree must be translated.
To identify the operation by users with a different language, either icons or an internal name can be used (as done by RealThunder)

![Знімок екрана з 2022-05-10 16-42-15](https://user-images.githubusercontent.com/1382812/167642647-5b338075-d2c4-4e5a-aa35-a6a55f8d6665.png)
(screen from LinkDaily branch)

As

[2022-05-10 16:06] ita1024 opened #6860 "[Feature Request] UI/UX Fix distance tool's readability (white-on-light)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=34&t=68576

### Subproject(s) affected?

Part

### Idea description

In Freecad 0.2 (28793 Git), the labels from the measurement tool appear as white on light green when the part or a face is selected. This gets even worse with the pre-selecti

[2022-05-10 22:08] luzpaz commented on #5947
This has been addressed

[2022-05-10 22:08] #5947 closed

[2022-05-10 22:21] marshr32 opened #6864 "[Bug] Path 3D surface line pattern doesn't cut full width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=68335

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

Detailed description and pics in the linked forum post, but briefly.....

When a cut is generated using the line

[2022-05-10 23:29] luzpaz commented on #6864
Please x-post this ticket to the forum so users know this is getting tracked.

[2022-05-11 01:20] ipatch commented on #6856
@ageeye

here's what i'm running into with **pivy**

https://github.com/coin3d/pivy/issues/96

[2022-05-11 06:45] wwmayer commented on #6253
Yes, but only if the user trouble with OpenGL

[2022-05-11 11:11] Kilill opened #6869 "[Bug] SVG Import of rotated group misplaces the elements of the group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=48213

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Issue description

Importing an svg that contains grouped elements where the group as been rotated, misplac

[2022-05-11 12:14] yorikvanhavre commented on #6776
This bug happens when an object has a DiffuseColor property that contains color tuples with non-zero alpha values. It's either a bug in Coin3d, or something in it we are not using correctly. So far I've been unable to figure out what, though

[2022-05-11 12:27] yorikvanhavre commented on #6869
Offending code at https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Draft/importSVG.py#L1589

[2022-05-11 12:57] RickX56 opened #6870 "[Feature Request] New Datum Line based on Intersection between two Planes"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?t=62149

### Subproject(s) affected?

PartDesign

### Idea description

Hi,
I'm requesting an old feature discussed on FreeCAD forum (https://forum.freecadweb.org/viewtopic.php?t=62149)
Would it be possible to create a Datum Line from the inters

[2022-05-11 13:01] yorikvanhavre commented on #6767
I can't reproduce the problem.. I can go to one billion without crash (Debian).
Maybe specific to windows?

[2022-05-11 13:48] JanneKro opened #6871 "[Bug] Certain PostProcessors spam errors and other output."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

N/A

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

* Start FreeCAD
* Select Path Workbench
* Go into Edit -> Preferences -> Path
* Expand the "Post Processor"-tab
* However over the list of post-processors.
* -> **Re

[2022-05-11 15:50] donovaly commented on #6767
I cannot reproduce either. I requested a recipe to reproduce in the forum.

[2022-05-11 17:15] luzpaz commented on #6253
Maybe we can create a comment for this in the cmake output?

[2022-05-11 17:34] Kuzma30 opened #6875 "[Crowdin] UI tweak needed for: Preference - Display - Navigation (zoom step)"
Can we align "zoom step" to the right and increase region for text?
I have to shorten the text so that it is not cut off on the left
![Знімок екрана з 2022-05-11 20-30-05](https://user-images.githubusercontent.com/1382812/167911648-ad2bf90d-2225-477c-9381-dd7c00c21e4a.png)

![Знімок екрана з 2022-05-11 20-30-39](https://user-images.githubusercontent.com/1382812/167911667-df251ec8-6e4d-4f3d-9a34-17

[2022-05-11 18:16] luzpaz commented on #6875
Transferred to FreeCAD/FreeCAD for quick discussion

[2022-05-11 18:43] luzpaz commented on #6870
CC @mwganson (as the forum shows your participation)

[2022-05-11 19:47] kaktusus commented on #6875
Aleks how did you achieve that the function buttons at the bottom of the window have their labels translated?

![image](https://user-images.githubusercontent.com/39754351/167933116-bfb28853-f81f-447b-be93-51dba48bb87b.png)

Your point is valid, I didn't even pay attention to it before.
The label is truncated, the caption unreadable.

[2022-05-11 20:07] #6871 closed

[2022-05-11 20:08] JanneKro commented on #6871
The issue does no longer exist on master branch.

[2022-05-11 20:35] JanneKro opened #6876 "CAM: Support G41 and G42"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=68467

### Subproject(s) affected?

Path

### Idea description

Professional controllers/workflow use paths as actual center-, outer-, and inner-lines.

There are two reasons for this:

1. It makes it straight-forward to convert a drawing

[2022-05-11 21:18] JanneKro commented on #5642
I have tested with the example posted by "hirnsalat" in [https://tracker.freecadweb.org/view.php?id=2461#c11373](https://tracker.freecadweb.org/view.php?id=2461#c11373) with 4 splines, but did not manage to get it to crash. Tried adding/removing sections in different orders and it worked just fine.

The original file is no longer available.  Close?

[2022-05-12 00:34] luzpaz commented on #6871
@JanneKro JFYI:
* You can remotely close a ticket by adding `Fixes #<ticket_number>` in the commit message body
* In the ticket you filed above, please always add you full [About](https://wiki.freecad.org/About) info. The desciption of the ticket should go in the 'Issue Description' section. You mixed those up.
* Also you can close a ticket by saying `Closed in <add_link_to_git_commit_here>` which

[2022-05-12 00:38] luzpaz commented on #5642
Please always add the [full version info](https://wiki.freecad.org/About) to the post you've tested so we know what OS and specs/deps you've tested it against

[2022-05-12 03:55] #6689 closed

[2022-05-12 04:55] alwxkxk commented on #6041
window 10 ,
FreeCAD V0.19
Program open crash if user name is chinese ,for Example:
It will crash if my user name is 'C:\Users\中文名称'.
It will work if my user name is 'C:\Users\englishname'

[2022-05-12 07:17] Kuzma30 commented on #6875
Like this? :)
![Знімок екрана з 2022-05-12 10-13-01](https://user-images.githubusercontent.com/1382812/168013110-61e2fbf5-0765-4ee4-b6d3-71fd01817547.png)

You can test with this file https://github.com/Kuzma30/FreeCAD/commit/e4c09e15d097b5ab629392bfd7467df49abfab1e

[2022-05-12 07:35] kaktusus commented on #6875
8-O

[2022-05-12 08:01] kaktusus commented on #6875
Where should I copy this file?

[2022-05-12 08:14] kaktusus commented on #6875
![image](https://user-images.githubusercontent.com/39754351/168023569-e1a0f463-c31b-4d10-a3ac-2a699f3bcd3d.png)

well, I copied it to the standard file location for translations. It worked.
I made one small change in it to make the file 100% compatible with the source file.
Now there are not even warnings.

What needs to be done to make the change permanent and available to all?

[2022-05-12 08:38] Kuzma30 commented on #6875
https://github.com/qt/qttranslations
Branch 5.15.2 more info later if need

[2022-05-12 10:38] #6875 closed

[2022-05-12 10:39] donovaly commented on #6875
There is now place also for longer translations:
![FreeCAD_OCFMHOmcHV](https://user-images.githubusercontent.com/1828501/168052611-b48829b9-4389-4f42-a4e0-8e18d51a035c.png)

[2022-05-12 11:56] luzpaz commented on #6041
@alwxkxk This ticket is for FreeCAD's documentation that is built on Mediawiki. It has nothing to do with FreeCAD itself. Also this is not a place to post bugs until they have been vetted on the forum. Please post to the forum first. BTW, The solution to your issue is updating to [FreeCAD v0.20dev](https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds). I will erase this is a day or

[2022-05-12 14:11] yorikvanhavre commented on #6733
The LineStyle property is working. The problem is that SVG is a bit delicate with line patterns... It gets scaled if placed inside a scaled group. The Draft get_svg() function normally takes care of this, at https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Draft/draftfunctions/svg.py#L52 but it still depends on what defaults are set under Edit->Preferences->Draft->Visual settings. So far I'v

[2022-05-12 15:39] luzpaz commented on #6835
![Screenshot_20220512_113911](https://user-images.githubusercontent.com/4140247/168114405-96c62612-eb42-4a07-9156-e5e41b2f36d0.png)

@Russ4262 do you have any interest working on this issue. I'd love to see the LGTM results diminished as best as possible as we work to improve uniformity in FC code.

[2022-05-12 15:44] luzpaz opened #6878 "[Part] `BOPTools/ShapeMerge.py` code appears to indicate it's inefficient"
https://github.com/FreeCAD/FreeCAD/blob/5d49bf78de785a536f941f1a6d06d432582a95d3/src/Mod/Part/BOPTools/ShapeMerge.py#L100

[2022-05-12 15:51] luzpaz opened #6879 "[Draft] draftguitools/gui_fillets.py code apparently needs to be modified to Qt5 style"
https://github.com/FreeCAD/FreeCAD/blob/c9b772cf7d0ca5ee6bd899ada3922f6d5452522d/src/Mod/Draft/draftguitools/gui_fillets.py#L98-L104

[2022-05-12 18:52] ipatch commented on #6410
https://github.com/FreeCAD/homebrew-freecad/issues/316

[2022-05-12 18:55] JanneKro commented on #5642
Tested without issues.
[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.20.28835 (Git)
Build type: Release
Branch: master
Hash: 55f1222bc29e5e2338ff86175175aa3118faeb01
Python 3.8.6+, Qt 5.15.2, Coin 4.0.1, OCC 7.5.3
Locale: English/Sweden (en_SE)
[/code]

[2022-05-12 21:33] PLChris commented on #5567
New discussion respecting the developments since then, see https://forum.freecadweb.org/viewtopic.php?f=8&t=68646

[2022-05-13 17:18] Russ4262 commented on #6835
I browsed a few of the files, a large percentage use the `if False:` code block for the debugging disablement. Perhaps project supervisors have chosen it for readability and simplicity over LGTM concerns?

I might have some time to go through and standardize some or all of the affected Path files if we decide on a syntax replacement.

Thanks for all you do for FreeCAD and its community.

[2022-05-13 19:13] donovaly commented on #6514
I gave it another test today and meanwhile What's this? works fine for me - also with the items I reported previously here.
-> closing

[2022-05-13 19:13] #6514 closed

[2022-05-13 20:53] luzpaz commented on #6050
I try to load the example file and see
`16:52:08  pycollada not found, collada support is disabled.`
Maybe we can provide a link on how to add install pycollada ?

[2022-05-13 20:59] luzpaz commented on #5645
@realthunder is this addressed in any of the pending spreadsheet PRs ?

[2022-05-13 21:05] luzpaz commented on #5643
@realthunder do you have any of this functionality in Link branch yet?

[2022-05-13 21:22] luzpaz commented on #5655
Forum thread: https://forum.freecadweb.org/viewtopic.php?f=18&t=68668

[2022-05-13 21:24] luzpaz commented on #5609
@wwmayer can you weigh-in on this?

[2022-05-14 01:48] realthunder commented on #5645
I think this issue can be closed, as we've already have cells cut and paste in upstream.

[2022-05-14 01:58] realthunder commented on #5643
Yes, my branch supports drag and drop tree item reordering.

[2022-05-14 03:29] #5645 closed

[2022-05-14 10:59] wwmayer commented on #5609
Here is a method to test the supported MSAA modes:
[code]

On my system msaa2x, msaa4x and msaa8x are all true and msaa6x is false. But I think this should be implemented in v0.21 just in case the method doesn't work (e.g. crashes) on some systems.

[2022-05-14 13:15] donovaly commented on #6879
Can you create a PR that fixes this?

[2022-05-14 14:07] kaktusus commented on #5548
The initial assumptions are good.

Keep in mind that the topic may be considered individually by different nationalities.

Creating a generic mechanism to translate workbench names as well will never be a bad or wrong solution.
The users _(translators)_ will get a well-functioning mechanism to use.
Everyone can translate a name according to "his or her liking" _(or rather the user community of a g

[2022-05-14 14:18] kaktusus commented on #5547
The presented solution seems to be close to ideal.

We have a saying in our country "I wilk jest syty, i owca cała" _(The wolf is full and sheep are whole)_.
And this solution brought this saying to my mind.
Every user _(even the most fierce malcontent)_ should be satisfied when they receive such a prepared "tool".

[2022-05-14 14:42] donovaly commented on #6869
What is the status? Is the issue confirmed and is there a fix insight?

[2022-05-14 15:25] chennes commented on #6869
The if statement is checking to see if a rotation center was specified. If it was, then the object is moved so that point is the origin, then rotated, then moved back. I'm away from my computer for a couple of days here, I can look at this on Monday.

[2022-05-14 15:46] donovaly commented on #6869
Thanks Chris. FC 0.20 is still open for fixes for at least a week.

[2022-05-14 16:08] luzpaz commented on #6879
I don't know what that 'style' is

[2022-05-14 16:11] luzpaz commented on #6835
@Russ4262 thanks for looking through this. I agree, if there is no necessity to do this...we don't have to appease LGTM. But it seems to me that having a uniform debugging approach for Path would make sense.

CC @sliptonic (Care to weigh-in when you get a moment?)

[2022-05-14 16:32] donovaly commented on #6879
Can you please bring this to the developer forum and CC @Roy-043 . I guess Roy knows more.

[2022-05-15 07:50] DEL-TRONIK commented on #6776
I just noticed a few things, I don't know if it may be useful, But when I export the previous file compound bug 3D model in .STEP format and then I open it by unchecking the option "Enable STEP Compound merge" in preferences, the export model is displayed correctly with the compound and transparency :

![Screenshot from 2022-05-14 21-43-11](https://user-images.githubusercontent.com/104136464/16846

[2022-05-15 10:28] wwmayer opened #6884 "PartDesign: Support ability to create holes from sketch points (instead of the extra step of creating a circle)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=68696

### Subproject(s) affected?

PartDesign

### Idea description

Currently a circle must be added to a sketch to allow to make a hole afterwards. Since the radius of a circle is ignored anyway it would be convenient to just add points

[2022-05-15 10:38] luzpaz commented on #6879
Thread: https://forum.freecadweb.org/viewtopic.php?f=8&t=68703

[2022-05-15 11:20] luzpaz commented on #6809
Here's the GUI code used in TestWB to get the tests:
https://github.com/FreeCAD/FreeCAD/blob/aa19e216625cbfdab5099d8eea6b62122917a3f6/src/Mod/Test/Gui/UnitTestImp.cpp#L254-L260

CC @wwmayer

[2022-05-15 11:39] FEA-eng opened #6885 "PartDesign: Thickness tool contains unimplemented options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=19&t=56332

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

PartDesign Thickness tool offers the selection of three modes, only one of which (Skin) works. The Pipe and

[2022-05-15 12:28] donovaly commented on #6857
Why is this for 0.20? Is there a regression or potential memory leak?

[2022-05-15 12:29] donovaly commented on #6857
@wwmayer could you have a quick look if you agree we must do something for 0.20 here?

[2022-05-15 12:35] donovaly commented on #6179
Sine this bug is older, it is no release blocker. If there won't be a PR to fix it this week, the bug cannot be fixed for FreeCAD 0.20.

[2022-05-15 12:35] donovaly commented on #5683
Sine this bug is older, it is no release blocker. If there won't be a PR to fix it this week, the bug cannot be fixed for FreeCAD 0.20.

[2022-05-15 13:09] donovaly commented on #6826
@sliptonic , can you have a quick look. As I understand it the fix is simply to allow also a negative helix start radius.
(FC 0.20 is open for at least another weeks for bugfixes.)

[2022-05-15 13:10] donovaly commented on #6856
What is the status of this bug? If there will not be a PR to fix this in the next week, the bug cannot be fixed for FreeCAD 0.20.

[2022-05-15 15:03] AjinkyaDahale commented on #6200
Judging from the reports, this could also have a `OS: Windows` tag.

[2022-05-15 15:09] donovaly commented on #6200
Can anyone confirm the crash under Linux or MacOS?

[2022-05-15 16:18] Roy-043 commented on #6879
I know very little about Qt. So I can't be of assistance here. Note that similar code is used in other sections of the Draft code.

[2022-05-15 16:29] donovaly commented on #6879
Thanks @Roy-043 , inviting @wwmayer hoping he can state if the style is OK or the Todo in the code is wrong.

[2022-05-15 19:56] wwmayer commented on #6857
It's fine to postpone to v0.21. It's not urgent but at some point it must be fixed.

[2022-05-15 21:10] donovaly commented on #6857
Thanks.

[2022-05-15 21:14] luzpaz commented on #6857
Just for completion: the comment on line 569 says so: ` ///FIXME: For v0.20: Do not use stuff from Part module here!` hence the original title of the ticket.

[2022-05-15 21:14] donovaly commented on #6698
What's the status? It is declared as blocker but as far as I see FreeCAD cannot do anything since it depends on a certain combination of third-party libraries. Right?

[2022-05-15 21:25] donovaly commented on #6410
This bug is also in FC 0.19 -> no blocker for 0.20
The it seems to me the bug only occurs when Qt 5.12 is used. So as solution the MacOS package has to be built using Qt 5.15, right?

[2022-05-16 06:18] Roy-043 opened #6890 "[Bug] Sketcher: Problem with Grid size preference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68717

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

There is a problem with the Sketcher Grid size preference in V0.20:

1. Start FreeCAD without user.cfg.
2. Act

[2022-05-16 06:32] m1cha1 commented on #6767
I still can reproduce in the latest version 0.20.28872

Below updated procedure:
1.Create Text (for example "HELLO")
2.Change properties Display mode: 2D text
3.Change Scale Multiplier by adding 0 after 1 without pressing Enter (10,10,100...) till crash

In the log I have:
[code]
Log: Draft workbench activated.
Msg: ----------------
Msg: GuiCommand: Text
Msg: Pick location point
Log: make_text
Msg

[2022-05-16 08:18] #6890 closed

[2022-05-16 10:27] looooo opened #6892 "Conda: py3.10 fails to start freecad"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Forums discussion

no forum disussion

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

[code]

this only occurs with python3.10.

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Cod

[2022-05-16 11:35] yorikvanhavre commented on #6879
i think qt5 style means: instead of `OtCore.QObject.connect(widget,signal,slot)`, use `widget.signal.connect(slot)`. But it's rather cosmetic only..

[2022-05-16 12:06] luzpaz commented on #6767
@m1cha1 please give a reason why ticket was closed

[2022-05-16 12:40] rmu75 commented on #6068
Are you sure you are not using XWayland? QT_QPA_PLATFORM=wayland-egl doesn't work for me:
[code]

[2022-05-16 13:47] m1cha1 commented on #6767
I'm sorry my mistake

[2022-05-16 13:57] kaktusus opened #6893 "L10N: Sketcher → Combo view (panels) → Tasks (tab)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://github.com/FreeCAD/FreeCAD-translations/issues/106

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

In response to @donovaly's request, I am posting a description of the issue I discovered.

![image](https:

[2022-05-16 14:48] adrianinsaval commented on #6698
so libqt5opengl wasn't the problem? Could it be graphics driver related?

[2022-05-16 15:28] 0penBrain commented on #6698
Don't think so because on any platform where it fails, a local build succeeds ;)

[2022-05-16 15:42] luzpaz commented on #6810
@felixknollmann please retest on the latest v0.20dev
Issue was not reproducible with:
[code]

[2022-05-16 16:10] #6869 closed

[2022-05-16 16:15] luzpaz commented on #6869
Thanks @chennes!

[2022-05-16 18:46] ageeye commented on #6892
Do you check the content of [LibFcDir](https://github.com/FreeCAD/FreeCAD/blob/master/src/App/FreeCADInit.py#L107)?

`Log(LibFcDir.encode('ascii').hex())`

[2022-05-16 20:06] luzpaz commented on #6809
@mwganson i was wondering if you can help me figure out how the UnitTestImp.cpp is getting the names of all the tests. It looks like the names are found in the `src/Mod/$foo/init.py` files, for instance the AddonManager test files
(https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/AddonManager/Init.py#L8)

`FreeCAD.__unit_test__ += ["TestAddonManagerApp"]`

[2022-05-16 21:13] luzpaz commented on #6243
@NickUfer Always post your full [About](https://wiki.freecad.org/About) info when reporting or offering feedback.

[2022-05-16 21:40] luzpaz commented on #6300
@shaise does this patch make sense to you? (since it's fasteners related)

[2022-05-17 00:30] donovaly commented on #6893
@abdullahtahiriyo can you please have a look at this Sketcher translation issue?

[2022-05-17 00:36] donovaly commented on #6451
@yorikvanhavre maybe you have time to have a look?

[2022-05-17 00:37] donovaly commented on #6698
so then it is no blocker

[2022-05-17 00:39] donovaly commented on #6879
Thanks.

[2022-05-17 00:41] #5793 closed

[2022-05-17 01:12] donovaly commented on #6767
I stall cannot reproduce the crash with
[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.20.28886 (Git)
Build type: Release
Branch: master
Hash: a564d5ced7aecf320a0ac2d73f824a3dc7861eb3
Python 3.8.10, Qt 5.15.3, Coin 4.0.1, OCC 7.5.3
Locale: English/United States (en_US) [ OS: German/Germany (de_DE) ]
[/code]

maybe you file has an issue, therefore I requested a testcase.

[2022-05-17 07:01] m1cha1 commented on #6767
Test file added on forum (first post)

[2022-05-17 07:27] m1cha1 commented on #6767
I've loaded freecad to Windbg and recreate crash and I have a lot of this kind information:

[code]
3824.be4): C++ EH exception - code e06d7363 (first chance)
(3824.be4): C++ EH exception - code e06d7363 (first chance)
(3824.be4): Access violation - code c0000005 (first chance)
First chance exceptions are reported before any exception handling.
This exception may be expected and handled.
ig9icd64+

[2022-05-17 07:59] #6879 closed

[2022-05-17 08:07] yorikvanhavre commented on #6300
This should actually be transferred over to https://github.com/shaise/FreeCAD_FastenersWB

[2022-05-17 08:47] yorikvanhavre commented on #6767
There is most probably an issue somewhere related to how much space numbers are allowed to occupy in memory, which can differ depending on the OS, hardware, drivers... The fact that nobody else can reproduce the bug indicates it must be a rather specific combination...

I don't think there is anything we would be able to do on the FreeCAD side at the moment, but maybe let's keep this open in case

[2022-05-17 09:49] yorikvanhavre commented on #6451
Looking at it now, the culprit is basically here:
https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Import/Gui/AppImportGuiPy.cpp#L364
this findColors() function only considers Parts. We should extend it to also consider other view providers which also have a DiffuseColor property (I suppose the Body does its job properly to populate the DiffuseColor). Looking into it now...

[2022-05-17 10:59] luzpaz commented on #6879
Thanks @yorikvanhavre should we open a ticket for other instances of this code formatting? Or do these functions eventually get overridden by the necessity to create .ui files for such files? I ask because I just noticed https://github.com/FreeCAD/FreeCAD/commit/27277e29c68d3f9b2f0d10b70de1ca8444868be5#diff-912c746bfbadeb6a064de2781924e243b63ab3b039376e532c83113d2037bab8R25-R28

[code]

[2022-05-17 11:01] hervyqa commented on #6068
Yeah, you're right. It runs on xwayland (after i check with `xeyes`)

[2022-05-17 11:35] yorikvanhavre commented on #6879
I would say these TODO comments are not all meant to be addressed immediately... For ex. this one is mostly meant at the next person touching that code, if they have courage to undertake some cleaning :) Honestly, to not pollute the tracker too much, I wouldn't turn them all into issues. Everything is still perfectly fine if nobody does it.

If you spot one that looks like it would really need to

[2022-05-17 11:44] luzpaz commented on #6879
Understood. JFYI, I've been using that logic to an extent already because I've been trying to be mindful of not polluting the tracker but at the same time I have found some FIXME's and TODO's that might merit it. But back to my question above, what I surmise is that the overall intention eventually is to move away from generating .ui widgets in code to create dedicated `.ui` fies for files that ar

[2022-05-17 11:51] yorikvanhavre commented on #6451
There is still something I don't understand here: `PartDesignGui::VierwProviderBody` is derived from `PartGui::ViewProviderPart`, which itself is derived from `PartGui::ViewProviderPartExt`. So in the above code, `if (vp && vp->isDerivedFrom(PartGui::ViewProviderPartExt::getClassTypeId()))` should work for bodies too...
Maybe then the problem is that the body doesn't properly populate its DiffuseC

[2022-05-17 11:55] yorikvanhavre commented on #6879
Basically the old DraftGui code creates all kinds of widgets "by hand", without using .ui files. Since that file is an old dinosaur hard to modify, the idea is to stop using it wherever possible, for example for all commands that can have their ui done in an own .ui file. But it's not always simple, because DraftGui has a lot of additional functionality tied into its widgets

[2022-05-17 11:56] luzpaz commented on #6300
It looks like you can't transfer from one org to another. Just in the same org. I have repo access to this FreeCAD master and  fasteners and the option is not available in the transfer dialog. We'll need to close and open there. I was hoping to save some work and figure out if we could just close it here instead, hence I asked @shaise to look at it. (I was being lazy... :blush:)

[2022-05-17 12:43] rmu75 commented on #6068
FWIW I never had any problem running FreeCAD AppImages (neither mainline nor realthunder's) under xwayland. But as this bug concerns native wayland it probably needs to be reopened.

[2022-05-17 12:52] looooo commented on #6892
Interestingly this issue does not occure on windows:

[code]

[2022-05-17 13:19] looooo commented on #6892
freecadcmd still works somehow. The output of `FreeCAD.getLibraryDir()` results in:

[code]

and
[code]

So it seems there is something wrong with `FreeCAD.getLibraryDir()`

[2022-05-17 14:49] ageeye commented on #6892
I think the trouble is [here](https://github.com/FreeCAD/FreeCAD/blob/master/src/App/Application.cpp#L1142). Is LIBRARYDIR set by cmake? It not contains consistent values:

[code]

[2022-05-17 16:03] luzpaz commented on #6698
This should be added to a 'Known Issues' list for downloaders to see when then install v0.20

[2022-05-17 16:14] adrianinsaval commented on #6698
@PLChris

[2022-05-17 16:26] abdullahtahiriyo commented on #6893
@donovaly

I am not sure I understand what I am looking at.

The issue is about translation, but the UI is in English language. In English it makes sense to me (but I am not native).

Because the OP is suggesting to provide plural, I am not sure if that is what is intended. The plural of Degree of Freedom is Degrees of Freedom, I am not sure if DoFs should be used. This was actually provided by a

[2022-05-17 16:34] looooo commented on #6892
uh it's done by cmake... this is for sure a problem. Is there no way to find the library-dir at runtime? The problem is that app images and conda-environments have no constant directory structure.

[2022-05-17 17:33] wwmayer commented on #6892
No. If the extension modules are installed into /usr/lib/x86_64-linux-gnu then FreeCAD won't be able to find them there by default. See issue #6274 which was fixed with 6bc65bdd99d

Can you check the value of the CMake variable `CMAKE_INSTALL_LIBDIR`? In FreeCADApp the variable `LIBRARYDIR` is used as compiler define. Can you also check the content of the created Makefile and check the value of `L

[2022-05-17 17:46] looooo commented on #6892
looks good for both environments:

python3.9:
[code]
python3.10:
[code]

not sure about the appimage.

[2022-05-17 17:57] wwmayer commented on #6892
In some answers at https://stackoverflow.com/questions/32947974/file-path-with-cmake-add-definitions it's recommended to put extra quotes. But since it works for DOCDIR and RESOURCEDIR I am not sure if this is really needed.

But can you also post the value of CMAKE_INSTALL_LIBDIR? Btw, the value passed to the compiler might be in a file called flags.make in the FreeCADApp build directory.

[2022-05-17 18:55] kaktusus commented on #6893
Perhaps I can provide additional clarification:

When I searched for this phrase in Crowdin I used the translated string to search.
The search engine found one occurrence. I made an entry for the issue in Crowdin.

After a while I repeated the search by typing `DoF` this time the search engine found two hits. My report in Crowdin is not relevant.

However, a string variation according to the quant

[2022-05-17 19:45] mwganson commented on #6809
Sorry, I'm not feeling well right now.

[2022-05-17 19:54] chennes commented on #6893
Do you want us to provide the `n` argument to `tr()`, or to just split the use of "DoF" into two branches, one for 1 DoF, and one for more than one DoF?

[2022-05-17 20:08] looooo commented on #6892
@wwmayer sry, I haven't compiled freecad for a long time on my local machine. Maybe this helps:
https://github.com/looooo/freecad-feedstock/blob/master/recipe/build.sh#L53

[2022-05-18 01:46] donovaly commented on #6451
@wwmayer , what do you think?

[2022-05-18 02:21] donovaly commented on #6200
This seems to be a bug in OpenCasCade: https://forum.freecadweb.org/viewtopic.php?p=595673#p595673

[2022-05-18 03:12] kaktusus commented on #6893
Here is an example to make things clear:

![image](https://user-images.githubusercontent.com/39754351/168949276-576d8d1e-1911-4f4f-b755-3f501a5cfdfd.png)

https://crowdin.com/translate/freecad/27907/en-pl#6589158

Right now it looks bad.
![image](https://user-images.githubusercontent.com/39754351/168949580-e39404e2-e22d-43a3-9b00-b590cd94c47d.png)

[2022-05-18 06:17] 0penBrain commented on #6698
IMO, asking a user to self-compile to get something working isn't really a good option :)

[2022-05-18 07:51] Jihadist opened #6900 "[Draft] Importing SVG: missing colors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=66981

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

FreeCAD renders long (very long) colored lines as black when importing from svg
FreeCAD view:
![изображение](

[2022-05-18 07:57] ageeye commented on #6809
You can clone [TestApp.All](https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Test/TestApp.py#L55):

[code]

Untested:
[code]

[2022-05-18 08:08] wwmayer commented on #6892
OK, you make it an absolute path here. This explains the weird path name
 'C:/Program Files/FreeCAD/FreeCAD_weekly-builds-28751-Win-Conda_vc14.x-x86_64/D:/bld/freecad_1650781659541/_h_env/Library/lib' ageeye has reported.

[2022-05-18 08:29] wwmayer commented on #6892
f3fd1d2035c4d fixes the issue with the absolute path name. But I don't know if the issue with null bytes is related to that. Can you run a new build and test, please?

[2022-05-18 08:54] yorikvanhavre commented on #6900
The issue here is that the color info is done on groups, not on geometry. See [file to download](https://forum.freecadweb.org/download/file.php?id=182291). Seems supported by Firefox, and I couldn't see in inkscape... We need to see if this is officially supported in SVG

[2022-05-18 09:00] yorikvanhavre commented on #6809
From the command line, though, not all tests are present I think:
[code]
Of course a quick fix would be to hard-code the list in the help text shown to the user...

[2022-05-18 09:12] Jihadist opened #6901 "[Bug] Crash on start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=68657

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

I used FreeCAD for months, but after one day I see crash every time I launch freecad.
Console log:
[code]

Th

[2022-05-18 11:26] wwmayer commented on #6451
It doesn't look like the STEP export function is broken but the Body object hasn't correctly set the colors. If you open the .FCStd file and check `App.ActiveDocument.Body.ViewObject.DiffuseColor` it only prints a single color value (0.8, 0.8, 0.8) which is the standard grey. For comparison the colors of `App.ActiveDocument.Fillet004.ViewObject.DiffuseColor` (the tip) is set to (0.33, 0.66, 1.0).

[2022-05-18 11:54] looooo opened #6902 "Conda: test errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

no forum discussion

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

testing the gui-tests I run into this error

[code]

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this pr

[2022-05-18 12:12] wwmayer commented on #6892
Great!

[2022-05-18 13:58] #6826 closed

[2022-05-18 18:55] ageeye commented on #6809
Yes. "./FreeCADCmd -t" only display which do not need the GUI. But "./FreeCAD -t" lists all test units.

[First Draft](https://github.com/ageeye/FreeCAD/commit/698a585740ff84074fcb1cf47b54a990576f85b3)

[2022-05-19 01:25] Frank-Schruefer commented on #6300
Hy, I posted this patch and was asked to 'weigh-in'. Don't know what that means.
Obviously It's the wrong place for the patch, should I post it where yorikvanhavre suggested?

[2022-05-19 04:22] turn211 commented on #6805
1. Navigation style light icons - https://forum.freecadweb.org/viewtopic.php?f=34&t=57034&p=492685#p492685 - How can we access them to change from dark to light
2. QLineEdit#qt_spinbox_linedit - seem to be hard coded in Path Workbench
3. Url links - About | License still has Dark Blue links - I thought this had a PR and commit by chennes
4. Spreadsheet Text - Cannot change text colour from Black -

[2022-05-19 10:29] wwmayer commented on #6902
This is the code of the unit test:
[code]

According to the error message it fails inside `det=coin.cast(det,str(det.getTypeId().getName()))` but I have no idea why. Could it be that your pivy is somehow broken? What's the output when you execute the Python code?

[2022-05-19 11:07] yorikvanhavre commented on #6300
The ideal would be if you could open a pull request on the https://github.com/shaise/FreeCAD_FastenersWB repo. Are you comfortable with git? Otherwise I explain you how to proceed...

[2022-05-19 11:39] looooo commented on #6902
If I run the code in the python console, I get the same issue:
[code]

[2022-05-19 16:56] yorikvanhavre commented on #6805
qt designer has the annoying "feature" to hardcode blue underline style for links, when using rich text in qlabels. usually one needs to go there and manually remove a styling span tag

[2022-05-19 17:02] chennes commented on #6805
The credits tab isn't created in Qt Designer, the one in there is just a placeholder. It gets replaced in the code that generates the About dialog by reading in an HTML file that's got the formatted license in it.

[2022-05-19 17:11] yorikvanhavre commented on #6805
Oh yeah sorry, i misread your previous reply

[2022-05-20 00:07] WandererFan commented on #6698
I hate to say this, but this has me beat.  I can build the PPA packages locally using the Launchpad recipe, but from there I hit the infamous brick wall.  Is there somebody in the community that knows this stuff that could help out?

[2022-05-20 01:48] donovaly commented on #6451
Thanks.
Could you make a PR?

[2022-05-20 01:56] donovaly commented on #6698
Please explain what is happening. When you compile FC on your own it works. So FC is not to blame but a certain combination of packages.
It would be good to know what combination of packages causes the issue otherwise I have no idea how to fix the issue.

[2022-05-20 06:26] yorikvanhavre commented on #6451
Let me try to do it today ;) then we ask @wwmayer if I can't :sweat_smile:

[2022-05-20 08:32] yorikvanhavre commented on #6451
Ok I guess I need your help @wwmayer :sweat_smile:
I added the following code under [ViewProviderBody's updateData()](https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/PartDesign/Gui/ViewProviderBody.cpp#L231):
[code]
But no effect, the DiffuseColor is still standard grey after the tip's DiffuseColor has changed (even after touching it). I guess updateData is not the right place to do it, as

[2022-05-20 10:32] wwmayer commented on #6451
This happens when just loading the test file. However, when you set the new tip via context-menu the correct colors are set.

It is the right place (it should be inside the `if (prop == &body->Tip)`) but because the Body has saved the wrong colors they will be restored after the tip property and thus overrides the correct colors again.

It's up to the user to manually change & restore the tip to c

[2022-05-20 12:12] yorikvanhavre commented on #6074
I cannot reproduce either, and tried all kinds of tricks to make it appear, nothing seems unusual. Let's close it I guess...

[2022-05-20 12:12] #6074 closed

[2022-05-20 12:15] yorikvanhavre commented on #5896
I can't reproduce either. I think the focus has been fixed a while ago, which now makes the "Del" key delete the input field contents. In any case, the problem is certainly solved.

[2022-05-20 12:15] #5896 closed, assigned to nobody

[2022-05-20 13:04] WandererFan commented on #6698
Judging by what flashes past on the screen, the compile/link that debuild
performs to build the packages is not the same as the traditional
cmake+make compile/link.  I don't know if it uses different options, or
pulls in different libraries, or if this is just revealing a weakness in
the code.  Debuild makes 3 packages whereas the local compile makes 1 big
executable.

On Fri, May 20, 2022 at 8:15

[2022-05-21 02:04] donovaly commented on #6698
Can you please explain I understand it too? ;-)
What is PPA?: https://en.wikipedia.org/wiki/PPA
I guess you refer to this?: https://en.wikipedia.org/wiki/Personal_Package_Archive

If so, this is a distribution-specific thing. Can you please inform the persons who are responsible for the packages there?

In general, we can't hold the release for a distribution-specific issue because otherwise a rel

[2022-05-21 02:09] donovaly commented on #6901
Please only report issue s that are confirmed by others. Up to now nobody can confirm the crash and there is no response in the forum
-> closing for now

[2022-05-21 02:09] #6901 closed

[2022-05-21 02:21] donovaly commented on #6900
I tried the brand-new Inkscape version 1.2 and also with this, the example SVG from the previous post is not displayed as you expect it - there are no lines at all and Inkscape only allows you to zoom out down to 1.0 % of the original size.

It is see
https://www.w3.org/TR/SVG11/struct.html#GElement
and as example
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g

So independent that Inks

[2022-05-21 02:48] adrianinsaval commented on #6698
There is an official freecad PPA for various ubuntu versions mainly maintained by @kkremitzki I believe, but the issue is not limited to these because it was supposedly reproduced in 3 different independent families of distros (fedora, ubuntu,  arch/manjaro). I can't properly judge if this can be considered a release blocker but IMO it isn't, if we find a solution it might be done at the packaging

[2022-05-21 09:34] yorikvanhavre commented on #6900
indeed... and the group supports the whole array of styling that normal entities do... okay, indeed we need to add that!

[2022-05-22 03:49] donovaly commented on #6698
Just to get it right:
sicne it works when users compile FC themselves, it always works -> so we have no bug in FC
Since it does not work for the Ubuntu PPA -> the bug must be in the packaging.
@kkremitzki can you please have a look?

[2022-05-22 10:30] FEA-eng opened #6908 "[Feature Request] A workbench or tool for kinematic analysis of mechanisms (linkages)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=68826

### Subproject(s) affected?

Sketcher

### Idea description

It would be great to have a workbench or tool in FreeCAD that could make use of Sketcher's constraint capabilities to simulate 2D mechanisms (linkages) and calculate veloc

[2022-05-22 15:34] donovaly commented on #6900
I reported the bug also to Inkscape:
https://gitlab.com/inkscape/inbox/-/issues/7030

[2022-05-23 17:59] AjinkyaDahale commented on #6878
We can replace
https://github.com/FreeCAD/FreeCAD/blob/5d49bf78de785a536f941f1a6d06d432582a95d3/src/Mod/Part/BOPTools/ShapeMerge.py#L99-L102
with
[code]
This removes the unnecessary search in `connected_to`

[2022-05-24 01:17] Frank-Schruefer commented on #6300
Ok, we have a newborn here so it took me a while to get back to this :-)

Until now I never used git for more than clone / pull / status so I took the chance to learn a bit about it because nowadays there's no more way around it.
Until now I forked the mentionend repo and cloned it to my local machine.
Now I'm at the point where tutorials suggest to create a branch. As a decade long SVN, and forme

[2022-05-24 03:53] shaise commented on #6300
1. creating a branch is not necessary.
2. adding the upstream is in case the upstream repository was changed after you forked it and needed to be updated. if the upstream was not change, this is not necessary as well as far as I know.

[2022-05-24 16:44] X-Ryl669 opened #6913 "[Bug] Spreadsheet should handle empty cell and or/dereference correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=68899

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Spreadsheet

### Issue description

A Spreadsheet's cell can't reference an empty cell without breaking.
For example, if you want the user to e

[2022-05-24 17:56] luzpaz commented on #6809
Nice @ageeye
Would you be open to making a PR? :grinning:

@mwganson hey mate, hope you're feeling better. I was AFK for a while myself so I didn't see your response before.

[2022-05-25 04:50] ageeye commented on #6809
Done

[2022-05-25 10:25] looooo commented on #6892
This is still an issue for osx:
[code]

[code]

[2022-05-25 13:50] luzpaz commented on #6254
Related to #6254 and ultimately with #6255

[2022-05-25 13:59] luzpaz commented on #6902
@looooo ping

[2022-05-25 14:21] luzpaz commented on #6767
Discussion ongoing in the [forum thread](https://forum.freecadweb.org/viewtopic.php?f=3&p=589558#p589558)

[2022-05-25 14:48] luzpaz commented on #6488
Good news! Looks like @wwmayer's upstream ticket (https://github.com/FreeCAD/FreeCAD/issues/6488#issuecomment-1057046943) was merged and will be released as part of OCC 7.7 :partying_face:

[2022-05-25 19:04] luzpaz commented on #6142
Should we close this ticket then?

[2022-05-25 19:06] luzpaz commented on #6140
@WandererFan can you test this in TechDraw and confirm?

[2022-05-25 19:07] luzpaz commented on #6136
Closing

[2022-05-25 19:07] #6136 closed

[2022-05-25 19:18] luzpaz commented on #6112
@yorikvanhavre ping

[2022-05-25 19:26] luzpaz commented on #6069
Bumped [forum thread](https://forum.freecadweb.org/viewtopic.php?p=597433#p597433) for activity

[2022-05-25 19:29] luzpaz commented on #6051
@0penBrain can you still reproduce?

[2022-05-25 21:09] yorikvanhavre commented on #6451
Thanks @wwmayer !

[2022-05-26 05:22] donovaly commented on #6200
This will be fixed if OpenCascade is compiled without the CMake option "BUILD_RELEASE_DISABLE_EXCEPTIONS" (see https://wiki.freecadweb.org/Compile_on_Windows#Compiling_OpenCASCADE)

This was done for this LibPack: https://github.com/FreeCAD/FreeCAD-LibPack/releases/tag/2.4

So at least for the future Windows builds of FreeCAD 0.20, this crash will not occur.

[2022-05-26 06:29] 0penBrain commented on #6051
@luzpaz I never reproduced that because it seemed to be Windows+French specific (I'm lacking the Windows part 😄). I will bump the topic on the French subforum and report.

[2022-05-26 09:42] Frank-Schruefer commented on #6300
Thanks shaise!

I found that in the repo I cloned the patch was either already applied by someone else or they just already fixed it.
So no further action needs to be taken and the case can be closed.

[2022-05-26 12:03] luzpaz commented on #6171
Closing as this seems like a screencard hardware issue.

[2022-05-26 12:03] #6171 closed

[2022-05-26 12:16] luzpaz commented on #6200
@donovaly what about other platforms/distros/binaries(appimage, snap etc...)

[2022-05-26 16:52] donovaly commented on #6200
People have to build OCC with the CMake option BUILD_RELEASE_DISABLE_EXCEPTIONS turned OFF. Unfortunately OCC has it be default ON.

I will inform people in the forum release thread. I cannot do more.

[2022-05-26 18:35] luzpaz commented on #6200
#### Various FreeCAD packagers
@ppd  Snap
@greyltc  AUR
@looooo  conda/appimage
@hobbes1069  fedora
@PrzemoF  fedora copr
@waebbl  gentoo
@adrianschroeter  opensuse
@ipatch  homebrew
@hfiguiere  flatpak
@sgrogan  windows
@apeltauer  windows
@mandian   openmandriva

[2022-05-26 19:00] ppd commented on #6200
@luzpaz We've had that since the very beginning for the edge builds: https://github.com/FreeCAD/freecad-deps-core20-snap/commit/1795c8791b058dbb3cb3d6353427e048fdffd353

[2022-05-26 20:19] donovaly commented on #6625
For FreeCAD 0.20 we cannot do anything -> removing the milestone

[2022-05-26 21:36] luzpaz commented on #5550
@yorikvanhavre have you seen a macro like this since you made this FR ?

[2022-05-26 21:37] luzpaz commented on #5551
@mwganson can we close this ticket based on your macro?

[2022-05-26 21:41] luzpaz commented on #6044
@charlemagnelasse would you mind 'bumping' the upstream ticket or perhaps asking if there is anything that can be done to address it ?

[2022-05-26 21:49] luzpaz commented on #5917
@charlemagnelasse this could also use an upstream OCC ticket, if you don't mind? :wink:

[2022-05-26 22:46] WandererFan commented on #6655
We implemented a work around in TechDraw a while ago.  It now searches the
input shapes and removes anything that is infinite.  So as far as TD is
concerned, this is a non-issue.  Nobody else seems to find infinite shapes
an issue, so I guess we can close the issue.

On Thu, May 26, 2022 at 4:15 PM Uwe ***@***.***> wrote:

[2022-05-26 22:57] adrianinsaval commented on #6655
I agree that conceptually the datums shouldn't be in the Part shape so perhaps the issue can be kept open, but I would remove it from the 0.20 milestone

[2022-05-26 23:20] luzpaz commented on #5619
Upstream ticket still open http://tracker.dev.opencascade.org/view.php?id=25979

[2022-05-26 23:56] donovaly commented on #6655
But this is contrary to

Let's do it this way. let's close this for now and if there is later a consensus that infinite shapes are an issue, this issue can be reopened.

[2022-05-26 23:56] #6655 closed

[2022-05-27 00:10] bopoh13 commented on #6395
[code]
I confirm the problem. After saving and opening spreadsheet the symbol `'` is replaced by the symbol `=`.

<details>
<summary>:arrow_heading_down: And spreadsheet links are duplicated when extracting</summary><br />

https://github.com/lugovoe/FreeCAD-Models/blob/b798137e/PocketTools/BeagleKeychain/Document.xml#L85-L125

</details>

[2022-05-27 02:31] adrianinsaval commented on #6200
since it's OCC that needs to be compiled like that there's not much that can be done on the AUR side, just to keep you informed @luzpaz I'm comaintainer of the AUR package now, I've been thinking about creating an occ package with the blobfish patches though and if I do, I'll make it build with that option.

[2022-05-27 02:44] luzpaz commented on #6200
Well played, sir! 👍

[2022-05-27 03:33] adrianinsaval commented on #6253
according to werner:

see https://forum.freecadweb.org/viewtopic.php?p=414094#p414094 to get it, we should then add an entry in the Known OS specific problems post explaining this.

[2022-05-27 03:49] donovaly commented on #6253
I would go the other way round:
- add it to the  Known OS specific problems
- link there the download link, for example the proposed: https://fdossena.com/?p=mesa/index.frag

This way we don't deliver a big DLL to all users while > 99% don't need it.

[2022-05-27 04:00] bopoh13 commented on #5895
It was indicated #2845 that transfers would not be applied through PR. _The link in the second message doesn't work._
https://github.com/FreeCAD/FreeCAD/blob/ee6f0d0ba9dcb2301f09229753d3e87b0d4d8530/src/Mod/Part/Gui/Resources/translations/Part_ru.ts#L4044-L4045
[code]
https://github.com/FreeCAD/FreeCAD/blob/0cf9a778a54cf4aff76863ec1bf4c265b2596ef0/src/Mod/PartDesign/Gui/Resources/translations/Part

[2022-05-27 04:06] adrianinsaval commented on #6253
Considering the user would have to find instructions online anyways I think that makes sense so once this stuff is documented I think this issue can be closed.
@PLChris

[2022-05-27 09:04] yorikvanhavre commented on #5550
No I haven't... It's really low priority, though.

[2022-05-27 09:13] CharlemagneLasse commented on #5917
I've tried to reproduce it and I can reproduce it with the freecad polar pattern (2) but not with two cut bodies (one is the mirror of the other or a polar pattern of the cut body). Still trying to figure out why this is the case

But maybe I am already diverting myself with details. I have now just used a base body and a cut "body". And used as reproducer:

[code]
[ScallopedEdgeCoin.zip](https://

[2022-05-27 09:15] FEA-eng opened #6922 "[Feature Request] An option to change FEM Pipeline units"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=18&t=68502

### Subproject(s) affected?

FEM

### Idea description

Since 0.20 release, FEM Pipeline legends are always in SI units so displacements are in m, stresses in Pa and so on. However, in many cases, it is much more clear to operate o

[2022-05-27 12:44] CharlemagneLasse commented on #5917
I was able to reproduce this with 7.5.3. I've started bisecting this problem via:

[code]

This is my bisect log:

[code]

So the problem was fixed by

[code]

The upstream ticket can be found under https://tracker.dev.opencascade.org/view.php?id=24418
There is only a commit for this in the 7.7.0 development branch - but there is no release with this fix

[2022-05-27 12:51] waebbl commented on #6200
I can't open the attached file, so can currently not test with Gentoo.

[code]

[2022-05-27 13:05] looooo commented on #6902
just tried again with python 3.9 and there i see this:
[code]

[2022-05-27 13:40] donovaly commented on #6922
Yes, now that FEM can do multiphysics this is highly desirable.

[2022-05-27 14:44] adrianinsaval commented on #6200
are you using the latest version? I think the bug with Home.xml was fixed, did you deal with that @yorikvanhavre I can't remember the details.

Either way, what is needed for the bug here is to compile OCCT with `-D BUILD_RELEASE_DISABLE_EXCEPTIONS=OFF` can you check if that is the case for the gentoo script?

[2022-05-27 15:12] luzpaz commented on #5824
Looks like upstream merged the fix. It's should be in OCC 7.6.2
Testers needed

[2022-05-27 15:21] looooo commented on #6407
@donovaly @wwmayer This feature is needed in the gear-wb (development version). Currently python-occ is used for this task, but it would be nice if FreeCAD offers a python command to do 2d fillets.

[2022-05-27 15:24] luzpaz commented on #5783
@chennes @easyw Do you mind retesting to see if latest OCC (v7.6.2) has addressed this?

[2022-05-27 15:34] luzpaz commented on #5895
@sanguinariojoe can you weigh in on this? I know it's not your native language, but nevertheless, applies to Ship WB

[2022-05-27 18:57] PLChris commented on #5827
Issue is fixed.

[2022-05-27 18:57] #5827 closed

[2022-05-27 20:22] donovaly commented on #6253
OK, I added it now to the know limitations:
https://wiki.freecadweb.org/Release_notes_0.20#Remote_Desktop_under_Windows

Can anyone please proof-read it?

[2022-05-27 21:29] luzpaz commented on #6253
LGTM

[2022-05-27 21:37] luzpaz commented on #5945
@adrianinsaval I don't think this is solved, right?

[2022-05-27 21:42] donovaly commented on #6253
"Let's get the money", "Literally Garbage To Me" or "Let's get this merged"? ;-)

I wonder that the library has to be renamed. I have no clue what the suffix "sw" means. And when one replaced this file, why is then Mesa 3D taken, not OpenGL? Especially this is what I don't understand and therefore thinks my description is wrong.

[2022-05-27 21:43] luzpaz commented on #6253
Looks Good To Me :laughing:

[2022-05-27 23:28] waebbl commented on #6200
I first tried with the live ebuild (using latest git sources, built a week ago) and when this error showed up, I built 0.19.4 but with the same result.

This option isn't currently set for gentoo, we're using the default. I first wanted to check whether we're affected or not, before changing the build script. There was a post in this thread (or in the forum thread) which mentioned this might only

[2022-05-28 03:06] adrianinsaval commented on #5945
Is this about the PPA? If so I think not but I don't have an Ubuntu at hand to confirm. This happened because the compilation doesn't use a full clone of the repo, it might be solvable by switching to the source package from the weekly-builds page which is generated after preprocessing the version information. Another option is to include a patch for Version.h.cmake that shall be updated every day

[2022-05-28 03:25] donovaly commented on #6200
No, this affects all OSes. BUILD_RELEASE_DISABLE_EXCEPTIONS must be set OFF.

[2022-05-28 05:46] 0penBrain commented on #5945
@adrianinsaval I think most answers to your current questions are in the thread linked in the description. ;)

[2022-05-28 09:24] wwmayer commented on #6407
bd853e5ef292a9b0c0f and b07be8767722b4128ea38

[2022-05-28 09:25] #6407 closed

[2022-05-28 09:25] looooo commented on #6407
wow, this was fast, thanks.

[2022-05-28 10:24] yorikvanhavre commented on #6200
this importSH3D error seems unrelated.. i'll have a look at it

[2022-05-28 10:50] luzpaz commented on #6407
Thank you wmayer!

[2022-05-28 10:55] luzpaz commented on #5592
Related to backups. Linking to #6697 and #6045

[2022-05-28 11:00] luzpaz commented on #5632
The example file for this bug isn't available anymore.
Should be tested against OCC v7.6.2

[2022-05-28 11:36] donovaly commented on #6407
Many thanks!

[2022-05-28 12:34] waebbl commented on #6200
Thanks for this info. I"m going to update the opencascade build script then. Are all versions of OCCT affected? We currently have 7.5.2, 7.5.3, 7.6.0 and 7.6.1?

[2022-05-28 12:53] donovaly commented on #6200
Yes. This CMake option disables some of the exception handling of OCC but apparently we need it to be turned on.

[2022-05-28 12:58] luzpaz commented on #5761
Is this still a thing?

[2022-05-28 13:08] adrianinsaval commented on #6200
You probably meant off right?

[2022-05-28 13:13] waebbl commented on #6200
The options needs to be turned off, which leads to exception handling being turned on ;)

[2022-05-28 13:16] adrianinsaval commented on #6200
Oh that makes sense, silly me 😅

[2022-05-28 13:21] waebbl commented on #6200
The Gentoo issue tracker for this: https://bugs.gentoo.org/847916

[2022-05-28 15:32] mwganson commented on #5551
I'm not opposed to it if somebody wants to work on it, but I don't have any plans at this time to work on adding any of these features.

[2022-05-28 15:54] hfiguiere commented on #6200
This was done on the flatpak, both 0.19 (stable) and 0.20beta1 (beta). occt 7.5.1 is used in both cases.

[2022-05-28 16:44] yorikvanhavre commented on #5761
i'll test!

[2022-05-28 17:10] smurfix opened #6928 "[Bug] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=19&t=68988&p=597813#p597813

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Hi,

so I'm in the Parts module. I add a cube, the position of which is based on some formu

[2022-05-28 19:10] wwmayer commented on #5632
[Torus-union.fcstd.zip](https://github.com/FreeCAD/FreeCAD/files/8791702/Torus-union.fcstd.zip)

[2022-05-28 21:53] luzpaz commented on #5799
@wwmayer is this an OCC issue?

[2022-05-29 10:36] wwmayer opened #6933 "[Feature Request] Support of multiple licenses per file"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=13&t=69030

### Subproject(s) affected?

_No response_

### Idea description

Sometimes people want to share a project file not only under a single license but multiple licenses. At the moment this is not possible and there is only the workaro

[2022-05-29 11:11] wwmayer commented on #6933
Suggestion: add a property AdditionalLicenses of type PropertyMap and extend the class DlgProjectInformationImp accordingly.

[2022-05-29 11:13] luzpaz commented on #6928
@smurfix Needs to be tested on v0.20dev

[2022-05-29 11:30] wwmayer commented on #5799
Seems so.

[2022-05-29 12:34] luzpaz commented on #5799
Added to [OCC bugs in the bugtracker](https://forum.freecadweb.org/viewtopic.php?f=10&t=20264) thread

[2022-05-29 18:58] smurfix commented on #6928
Tested on current 0.20 AppImage. Still a problem.

[2022-05-29 19:09] luzpaz commented on #6928
Please paste the full [About](https://wiki.freecad.org/About) info of the AppImage you're running. Thanks

[2022-05-29 19:10] luzpaz commented on #6928
This mixes Part and PartDesign workbenches. Do you know how to do that ? There is a difference.

[2022-05-29 22:56] adrianinsaval commented on #6928
This would be a feature request rather than a bug, AFAIK clones don't follow the placement of their base feature. Consider using a subshapebinder instead.

[2022-05-30 01:18] donovaly opened #6935 "[Bug] navicube location sometimes jumps to other side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=69003

### Version

0.19 (Release)

### Full version info

[code]

### Issue description

- set the NaviCube location to TopLeft
- grab the right border of the main window and shrink the window it to the minimum
result: The NaviCube jumps to

[2022-05-30 06:58] 0penBrain commented on #6051
What I understand from answer on the forum is that it's probably a Windows issue :
* Windows has a feature that when you hold `Alt` and enters a number with numpad, you can get special symbols
* Windows seems to interpret `AltGr` as `Ctrl+Alt`
So depending on how those virtual `Ctrl+Alt` are considered to be pressed then released, if you have used the numpad while holding `AltGr`, you can see weir

[2022-05-30 13:02] jpmeijers commented on #6329
I'm also affected. Turning grid off/on does not help. Even restarting FreeCAD doesn't apply the new settings.

![image](https://user-images.githubusercontent.com/948278/170997837-7f9e20aa-b653-4f0c-961f-0f22c4265ccf.png)

[code]

[2022-05-31 00:03] #6809 closed

[2022-05-31 11:58] yorikvanhavre commented on #6112
Polyline width still needs to be implemented in the C++ DXF importer

[2022-05-31 12:20] AjinkyaDahale commented on #6369
Going to close this because the forum in general was against this idea.

[2022-05-31 12:20] #6369 closed, assigned to nobody

[2022-05-31 12:33] luzpaz commented on #6112
@yorikvanhavre Should I rename this ticket to then to `DXF importer: Implement 'Polyline width' feature` ?

[2022-05-31 12:58] yorikvanhavre commented on #6112
yes, good idea!

[2022-05-31 13:15] luzpaz commented on #5687
No activity upstream. Upstream needs to be bumped

[2022-05-31 13:17] luzpaz commented on #6318
Just re-emphasizing that upstream responded with:

[2022-05-31 13:19] luzpaz commented on #6902
@wwmayer :point_up:

[2022-05-31 13:24] luzpaz commented on #6065
Upstream ticket needs to be bumped. Any volunteers?

[2022-05-31 13:31] luzpaz commented on #5561
Upstream tickets needs to be bumped and ideally added to OCC roadmap

[2022-05-31 13:34] luzpaz commented on #6892
@ipatch do you notice this issue on macOS Homebrew ?

[2022-05-31 13:37] luzpaz commented on #6273
Bumped [forum thread](https://forum.freecadweb.org/viewtopic.php?p=598799#p598799)

[2022-05-31 13:41] WandererFan opened #6943 "[Bug] [TD] Expression Not Recalculated on Change of Position"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=68417

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

An expression in a linked view is not updated when the base view position is changed.

X,Y properties are set

[2022-05-31 16:46] looooo commented on #6892
@luzpaz I guess this is conda/py310 specific.

@conda-forge/core is there any related issue?

[2022-05-31 16:57] wwmayer commented on #6902
In C++ when you have picked a triangle then the pointer of SoDetail actually is an SoFaceDetail and one can do a type check and a static_cast or dynamic_cast.

With pivy the returned object always is an SoDetail and in order to get a SoFaceDetail the helper function coin.cast can be used. Therefore I still would like to know the result of `print(det.getTypeId().getName())` to be sure that the obje

[2022-05-31 17:17] luzpaz commented on #6892
@looooo keep this ticket here or move to FreeCAD-Conda or perhaps FreeCAD-Bundle ?

[2022-05-31 19:15] ipatch commented on #6892
[code]

same app bundle moved to a different directory location on my local filesystem

[code]

[2022-05-31 22:06] realthunder commented on #5639
Yes, it is in my branch. It is also in PR #2759

[2022-06-01 10:30] 0penBrain opened #6948 "[Bug] Expression : operator precedence and associativity wrongly handled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=52691

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Expressions

### Issue description

Parenthesis removal in expression is wrongly handled (too much removed)

Simple demonstration.
In a Spreads

[2022-06-01 14:35] donovaly opened #6950 "FEM: result pipeline change ignores output decimals setting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=598794#p598794

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

- open a file that has a FEM result pipeline
- double-click on the color gradient and in the appearing dialog

[2022-06-01 21:06] donovaly commented on #6935
Interestingly the bug dos not appear on all systems. For example I took the same installer and on some PCs I see this bug while on others I don't. All PCs have Win 10 2021 H2. So it must be something with the graphics settings.

[2022-06-02 14:27] luzpaz commented on #6500
@FEA-eng FYI, you can also add images to tickets (RMB 'Copy Image > RMB paste in to github).

[2022-06-02 14:28] luzpaz commented on #5637
@yorikvanhavre is this still the case ?

[2022-06-02 14:30] luzpaz commented on #5607
@Moult ping

[2022-06-02 14:35] luzpaz commented on #5601
This ticket needs to be re-examined. None of the attached files in the original ticket are available anymore.

[2022-06-02 22:22] adrianinsaval commented on #6273
pocketing the mentioned subshapebinder works without problems now, issue can be closed
[code]
OS: Linux 5.18.1-arch1-1 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.20.28994 (Git)
Build type: None
Branch: master
Hash: 37e93f421cb8d30455ce9ce8c778d40db4f9f55c
Python 3.10.4, Qt 5.15.4, Coin 4.0.1, OCC 7.5.3
Locale: English/United Kingdom (en_GB)
[/code]
also confirmed by someone else in the f

[2022-06-02 22:24] #6273 closed

[2022-06-03 11:59] donovaly commented on #6253
@wwmayer ca you please proof-read? I am pretty sure my description is incorrect and I don't know the necessary details. I assume you do.

[2022-06-03 12:12] donovaly opened #6959 "[Bug] [FEM] editing histogram blocks access to FreeCAD's main window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=18&t=69162

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

- open the CCX result dialog
- select there e.g. the result "Displacement X"
- the Click the Histogram button
- in

[2022-06-03 18:07] luzpaz commented on #6959
@FEA-eng can u help us find Linux testers for this?

[2022-06-03 23:29] #6959 closed

[2022-06-03 23:30] donovaly commented on #6959
@chennes tested it earlier today. I committed now a simpler fix than in the above diff.

[2022-06-04 15:29] WandererFan opened #6963 "[Problem] TechDraw: Dimension Extensions Translation and Combine Functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://www.forum.freecadweb.org/viewtopic.php?p=599447#p599447

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

There are a number of text literals and command names that are difficult for translator due to abbrev

[2022-06-05 06:42] AjinkyaDahale opened #6969 "[Bug] [Sketcher] Deleting arc of parabola doesn't delete internal geometry"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=19&t=69200

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When deleting the geometry, internal geometries of (arcs of) ellipses, circles, and hyperbolas are also

[2022-06-05 07:07] AjinkyaDahale commented on #6969
@abdullahtahiriyo is there a reason to keep the middle construction segment?

[2022-06-05 12:16] donovaly opened #6972 "[Bug] [FEM] division by zero when creating stress linearization plot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=18&t=69207

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

When trying to create a stress linearization plot
[https://wiki.freecadweb.org/FEM_PostFil ... edStresses](https:/

[2022-06-05 14:52] donovaly opened #6973 "[Bug] [FEM] adding a pipeline filter changes transparency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=18&t=69209

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

- set the transparency of a pipeline object to e.g. 75
- select this pipeline and add a filter of your choice
result:

[2022-06-05 15:23] luzpaz commented on #6902
@looooo :point_up:

[2022-06-05 15:28] luzpaz commented on #6247
@KeithSloan what is the error when you try this in v0.20dev ?

[2022-06-05 15:31] luzpaz commented on #6300
@Frank-Schruefer how is your progress going?

[2022-06-05 21:55] kisolre commented on #6278
Still shows the same error on PD Body duplication.
[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.20.29035 (Git)
Build type: Release
Branch: master
Hash: 7e638a624e0fad12691a4ac1dd82b57d2dd1146a
Python 3.8.6+, Qt 5.15.2, Coin 4.0.1, OCC 7.5.3
Locale: Bulgarian/Bulgaria (bg_BG)
Installed mods:
  * 3DfindIT 1.2.0
  * A2plus 0.4.56
  * AirPlaneDesign 0.4.0
  * AnimationFre

[2022-06-06 04:48] KeithSloan commented on #6247
When I try with latest beta I get a new error
with code that has
[code]
    File "/Users/keithsloan/Library/Preferences/FreeCAD/Mod/GDML/./freecad/gdml/importGDML.py", line 1768, in processVol
        print(doc)
    <class 'NameError'>: name 'doc' is not defined

Is this due to python 3.9?

[code]
OS: macOS 10.16
Word size of FreeCAD: 64-bit
Version: 0.20.28936 (Git)
Build type: Release
Branch: ma

[2022-06-06 14:53] donovaly opened #6975 "[Bug] [FEM] opening result histogram twice fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

not necessary since fix will follow immediately

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

In the CCX result dialog
- select a result type, e.g. the X displacement
- press the button "Histogram"
- close the histogram

[2022-06-06 16:26] #6975 closed

[2022-06-06 19:56] luzpaz commented on #5731
CC @Floriansimmer

[2022-06-06 19:59] luzpaz commented on #5725
@wwmayer when you get a moment, can you follow-up? Thanks!

[2022-06-06 23:30] luzpaz commented on #6271
@chennes @KeithSloan care to notate this ticket with results from your testing ?

[2022-06-06 23:33] luzpaz commented on #6206
@abdullahtahiriyo if you don't mind taking a look at this?

[2022-06-07 07:50] KeithSloan commented on #6271
With the alternate importer I am seeing
[code]

[2022-06-07 09:04] yorikvanhavre commented on #5637
This is done almost everywhere, but I think it still needs a good check to make sure everything works as it should. Relates to #5427

[2022-06-07 10:48] Kuzma30 commented on #6893
@luzpaz
https://github.com/Kuzma30/FreeCAD/commits/DoF
Can I write DoF(s) for English?
I also change tooltip text "Number of DoFs" and made it translatable

[2022-06-07 10:51] luzpaz commented on #6893
I'm confused. Hard to understand from a mobile browser. Will respond soon

[2022-06-07 12:25] macdroid53 opened #6985 "[Bug] Copy & Paste of Part Design feature pastes feature outside the Body object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=600227#p600227

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Create a Body, add sketch, Pad.
Select Pad Ctrl-C Ctrl-v
Pad is placed in the tree out side the Body

[2022-06-07 12:43] luzpaz commented on #6167
@StefanBruens was this ever addressed ? (I see no forum thread associated with issue)

[2022-06-07 12:45] luzpaz commented on #6166
@chennes should we consider having a github action that scans new PRs for this pattern and suggests the indicated replacement ?

[2022-06-07 12:49] axaluss commented on #5563
When I started using freecad, I really missed this feature! fps style navigation is the ONLY way I know how to intuitively navigate 3D spaces.
Adding the option should not be too hard, and especially people new to CAD would love it.

[2022-06-07 12:53] axaluss commented on #5563
You could also add options
- to record a flight path (can be smoothened and finetuned afterwards)
- configure different movement speeds (maybe a button to shift between walking and running)

[2022-06-07 13:05] luzpaz commented on #5563
There is some different approaches to this feature floating around on the forum. I'll see if I can find them and notate this ticket.

[2022-06-07 13:10] marioalexis84 commented on #6099
I will try in the next days.

[2022-06-07 13:13] looooo opened #6986 "Conda: graphviz not found automatically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

no forum discussion

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

I guess graphviz should be found automatically as it is installed in std bin directory. Not sure if there has changed anything regarding the

[2022-06-07 13:36] luzpaz commented on #6986
@looooo you referring to how/where CMake is looking for graphics?

[2022-06-07 13:46] luzpaz commented on #6986
Sorry, what's the difference between 'built' and 'run' ?

[2022-06-07 14:03] looooo commented on #6986
in conda-land we have build, host and run dependencies. build-dependencies are dependencies that are necessary to build a library (eg.: make, ninja, compilers), host dependencies are libraries which are necessary for the compilation (eg.: boost, Eigen, ...) run dependencies are libraries which are only needed for running a library/programm (eg: graphviz, numpy, scipy)

So what I actually was refer

[2022-06-07 14:16] luzpaz commented on #6985
This sounds like a dupe of an already opened ticket. But I can'r recall which ATM.

[2022-06-07 15:06] macdroid53 commented on #6985
As I noted, searching here didn't turn up anything that sounded similar...but, there are probably a hundred search terms I didn't think of...

[2022-06-07 15:25] luzpaz commented on #6986
graphiz should be considered essential as it helps the user troubleshoot their models, right?

[2022-06-07 16:49] luzpaz commented on #5551
If there are devs interested, please check out https://github.com/mwganson/Editor_Assistant/issues/11

[2022-06-07 17:07] chennes commented on #6166
I'm totally amenable to it: we should probably have a generic set of checks that run, and that can be one of them. Obviously it's not going to happen until we get 0.20 out the door, though.

[2022-06-07 17:10] luzpaz commented on #6166
@Floriansimmer have you seen a GH action like that int he wild?

[2022-06-07 17:14] luzpaz commented on #6166
Actually, just doing a simple regex string `connect\(this,` search,  I count give or take 4 dozen instances. There are also `disconnect(this` statements.

[2022-06-07 17:22] chennes commented on #6166
It's all-caps SIGNAL and all-caps SLOT that we want to look for and reject -- the initial part of the line is often the same between the two styles.

[2022-06-07 23:13] donovaly commented on #5637
I don't think that we can do much few days before the release.

A list of places there the units are not yet used, would be good.

[2022-06-08 06:58] MisterMakerNL opened #6988 "[Bug] [Techdraw] Rich texteditor Techdraw icons not readable on dark themes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=599460#p599460

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

The text icons in the Rich text editor are not readable in dark theme's since they are black and have no

[2022-06-08 07:04] MisterMakerNL commented on #6988
![afbeelding](https://user-images.githubusercontent.com/29804962/172553183-8a6bd94f-9877-4dce-a04c-eb57351af7cc.png)
Screenshot about the issue

[2022-06-08 07:13] looooo commented on #6892
answer from @chrisburr via gutter:

It works for most strings but if the string isn't null terminated you get this
The sources probably need patching so it's treated as a null terminated string

@wwmayer is it possible that we check for null terminated string?

[2022-06-08 08:19] yorikvanhavre commented on #5637
I don't think this should be tied to 0.20... It will probably need some fine-tuning and more discussion, as it also needs further implementation (see #5427)

[2022-06-08 08:21] 0penBrain commented on #6885
This ticket should make things clear :
 * FreeCAD correctly implements all possibilities offered by OCC
 * Statements given in the issue description are actually OCC missing/incomplete implementations

[2022-06-08 09:09] YangYang129 opened #6990 "Windows arm64 MSVC - FreeCAD failed to build with "fatal error C1189: #error: "Byte order of target CPU unknown."""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=68974&p=598112&hilit=msvc#p598112

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

FreeCAD failed to build with "fatal error C1189: #error:  "Byte order of tar

[2022-06-08 11:05] luzpaz commented on #6992
Transferred to FreeCAD/FreeCAD repo

[2022-06-08 12:51] donovaly commented on #6959
Many thanks!
Note that I got 2 positive test results from people at Linux before I merged this.

I'll comment further in #6989.

[2022-06-08 13:16] donovaly commented on #6990
I don't understand the bug report. The linked forum thread is not about compiling for the ARM platform.
Also the given version info is invalid. However this is understandable because we don't provide that FreeCAD is built on the ARM platform.

Closing the issue to get this fixed:
- please open a new forum thread to describe briefly what you want, what you did to achieve this (e.g. from where did y

[2022-06-08 13:16] #6990 closed

[2022-06-08 13:28] 0penBrain commented on #6959
I guess so. :) And indeed it "works" on Linux too. Notice that actually, the issue didn't exist on Linux --at least on mine-- as "StayOnTopHint" is relying on the WM that widely differs. ;)

[2022-06-08 15:08] AjinkyaDahale commented on #6324
The original issue appears to be resolved so this can be closed. The redundant constraints issue still exists.

[2022-06-08 15:56] #6324 closed

[2022-06-08 16:35] 0penBrain commented on #6948
@donovaly May you just check if it has to go in 0.20 or no ? Thx

[2022-06-08 19:59] ageeye commented on #6892
I can test it only with taps, because I do know how get null chars from cmake:

[code]

[code]

[2022-06-09 01:03] donovaly opened #6996 "[Bug] [FEM] adding transparency destroys mesh result coloring"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=600581#p600581

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

- select any result pipeline
- change its transparency to e.g. "4"
- IMPORTANT: the Display Mode must be set to "n

[2022-06-09 05:16] ageeye commented on #6892
@looooo Is it possible to build a PR with Conda?

[2022-06-09 12:00] looooo commented on #6892
Not sure what you mean. If you can provide a patch (git diff) I can easily test this with the freecad-feedstock.

[2022-06-09 12:15] wwmayer commented on #6892
I agree insofar that it's rather a Conda issue than Py3.10 related as otherwise we should see it elsewhere too.

But how should Conda at this point know that the built-in string is a path? I cannot imagine that Conda can do that but instead I guess that the path is already corrupted at compile time by introducing the `'\0'` characters into the string that is passed to the compiler.

We could do th

[2022-06-09 12:37] chrisburr commented on #6892
I'm a little short on time and haven't read this issue fully but hopefully I can clear things up a little.

This is an issue that doesn't affect compile time at all. All conda does here is make sure that the install directory path is longer than anyone would reasonably want.

Then when someone calls `conda install` the conda looks inside the binaries for sequences of bytes that:

* contains the in

[2022-06-09 12:51] wwmayer commented on #6892
Thanks for the explanation and the link.

[2022-06-09 16:24] DoumeDuSud opened #7000 "[Bug] Freecad 0.20 won't start on windows 10 (python issue)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

None

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When I try to start Freecad by execute Freecad.exe nothing happen

When I run `"C:\Program Files\FreeCAD 0.20\bin\FreeCADCmd.exe" -v` I have the following

[2022-06-09 17:18] donovaly commented on #7000
Please open a discussion first in the forum. This is our platform to discuss. When other in the forum see the issue is real an issue can be opened.

Did you check if you have these variables not for the current user AND for the admin user? Every user can have its own PYTHONHOME while e.g. the admin account has not or vice versa.
Since you can also not start other builds, it is something with your

[2022-06-09 17:18] #7000 closed

[2022-06-09 18:39] sedatkrn commented on #6329
Problem solved  :))))))))))))))))

[code]
OS: Linux Mint 19.3 (X-Cinnamon/cinnamon)
Word size of FreeCAD: 64-bit
Version: 0.20.
Build type: Release
Branch: unknown
Hash: b9b21ddac562f03cef162bb1f7feb4eea3de8b1e
Python 3.6.9, Qt 5.9.5, Coin 4.0.0a, OCC 7.5.2
Locale: Turkish/Turkey (tr_TR)
Installed mods:
  * fcgear 1.0.0
  * dodo
  * Behave-Dark-Colors 0.0.1
  * Assembly3 0.11.3
  * Assembly4 0.11.

[2022-06-09 18:41] #6329 closed

[2022-06-09 18:59] luzpaz commented on #6892
@looooo please close when confirmed fix, thanks!

[2022-06-09 22:52] looooo commented on #6892
thanks, yes now it works also on osx
[code]

[2022-06-09 22:52] #6892 closed

[2022-06-10 11:42] wwmayer commented on #6902
Ok, then it looks like the function `coin.cast` has stopped working.

[2022-06-10 11:44] luzpaz commented on #6902
@wwmayer shall we open a ticket in upstream coin3d repo ?

[2022-06-10 11:47] wwmayer commented on #6902
Which pivy version does Conda use?

[2022-06-10 11:48] looooo commented on #6902
I am using now 0.6.7 but I don't think there were any differences for coin.cast added to the pivy repo.

[2022-06-10 12:13] looooo opened #7002 "modules installed with `pip install -e .` are not recognized anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

no forum discussion

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

normally when you want to develop a python module /wb whatever, it's nice to install the library in development mode. This was working in th

[2022-06-10 12:17] abdullahtahiriyo commented on #6206
@luzpaz
As I see, it still happens exactly what the bug report indicates.
The issue is that "V" is the shortcut of "Vertical constraint". In the current configuration it is not possible to tackle it.

Now, there is a PR by RealThunder which I really really would like to see it merged, which would enable to differentiate between V and V,1. He uses a timer, so if the two are clicked within a time du

[2022-06-10 19:08] looooo commented on #7002
not related to freecad but to freecad.asm3 which somhow blocked the freecad-namespace:
https://github.com/realthunder/FreeCAD_assembly3/pull/1244

[2022-06-10 19:08] #7002 closed

[2022-06-10 21:52] WandererFan commented on #6988
merged to master.  commit 1b65b3f600.

[2022-06-10 21:52] #6988 closed

[2022-06-11 03:42] lindow2009 opened #7005 "[Bug] Python script export STL file is damaged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=40&t=69325

### Version

0.19 (Release)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

environment：centos7
version：0.18.2

python code：
import FreeCAD
import Part
import Mesh
shape = Part.Shape()
shape.re

[2022-06-11 12:18] donovaly commented on #7005
There is no info given how to reproduce the bug. (no example file, no step by step instructions).
Please only create an issue when others in the forum can reproduce the bug.

And you are using the outdated version 0.18 of FreeCAD. Please upgrade.

[2022-06-11 12:18] #7005 closed

[2022-06-11 12:27] luzpaz commented on #7005
@lindow2009 CentOS is usually pretty behind when it comes to distro packages. Also 0.18.x is ancient history.
![image](https://user-images.githubusercontent.com/4140247/173187889-cdff3464-f20c-48e3-91aa-1178eaa42640.png)

If you want to use a more modern version of FreeCAD consider using the Snap, Flatpak, AppImage or PPA.

[2022-06-11 12:36] lindow2009 commented on #7005
How to install the latest version of freecad on CentOS ？

[2022-06-11 12:38] lindow2009 commented on #7005
@luzpaz

[2022-06-11 13:59] #6948 closed

[2022-06-11 15:09] luzpaz commented on #7005
This is better conversation for the forum because we're spamming everyone else watching this repository. But in short
* [Snap](https:///wiki.freecad.org/Snap) (CentOS >= v7.6 per [snapcraft docs](https://snapcraft.io/docs/installing-snap-on-centos))
* [Flatpak](https:///wiki.freecad.org/Flatpak) (CentOS >= v7 per [flatpak docs](https://flatpak.org/setup/CentOS)
* [AppImage](https:///wiki.freecad.o

[2022-06-11 18:33] lindow2009 commented on #7005
@luzpaz I have successfully installed freecad with snap, but I can't call it with Python.

[2022-06-11 18:38] luzpaz commented on #7005
Please open a ticket on https://github.com/FreeCAD/FreeCAD-snap

[2022-06-11 23:11] donovaly opened #7008 "[Bug] [FEM] point pipeline filter shots wrong values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

none yet

### Version

0.20 (Development)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

- open the  data point filter dialog
- click the button "select point" (in FC 0.19 this would crash)
- use the Field combobox to display the result
result: no ma

[2022-06-12 00:21] donovaly commented on #7008
You also get wrong values this way:
- Open the data point filter dialog of existing point filter
- use the Field combobox to display the result
result: no matter what field you select, you get always the same value that was stored when you opened the dialog

so the data point filter is really almost useless

[2022-06-12 01:34] #7008 closed

[2022-06-12 15:23] wwmayer commented on #6253
Looks good to me.

The DLL is loaded by Qt, for more details see: https://doc.qt.io/qt-5/windows-requirements.html#graphics-drivers

[2022-06-12 15:54] donovaly commented on #6253
Thanks for reviewing

[2022-06-13 08:43] akshimassar opened #7014 "[Feature Request] Allow writing comment / notes inside sketches"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?style=1&p=189271

### Subproject(s) affected?

Sketcher

### Idea description

It would be useful to be able to write notes / comments inside a sketch. For instance, I don't always need to have full parametric model. If I change some dimensions