[2022-10-09 06:45] MisterMakerNL opened #7582 "[Bug] Spreadsheet settings in user.cfg do not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecad.org/viewtopic.php?f=34&t=72294&start=10

### Version

0.21 (Development)

### Full version info

So after trying to adjust the colors in Spreadsheet by qss theme file and failed I tried do do it with the preference pack cfg file and I also failed.
I tried to modify the

[2022-10-09 07:00] MisterMakerNL commented on #6805
Link to forum topic about the ext toolbar issue:
https://forum.qt.io/topic/119988/qtoolbar-extension-button-stylesheet/2

[2022-10-09 09:29] Daniel-Khodabakhsh opened #7583 "[Bug] Subtractive helix with pitch equal to the profile height results in error (new in 20.x)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72454

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

I've been using subtractive helix features in 19.x and in some of my use cases, I set the helix pitch to be equa

[2022-10-09 18:15] flaviut opened #7584 "[Feature] Improve rendering performance on large 3D models"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

None, but I read the code :)

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

When I [open the attached file](https://github.com/FreeCAD/FreeCAD/files/9742272/ender-5.zip)[^1], FreeCAD is slow to render as I rotate the fil

[2022-10-09 22:24] grindhold commented on #5913
i am having the same problem trying to prepare a mesh for use with ElmerFEM. I strongly second this.

[2022-10-10 03:22] realthunder commented on #7584
This shouldn't be marked as a bug, more like a performance enhancement request. Please check if you have VBO option is enabled in `Preference -> Display -> Use OpenGL VBO`. The code you linked is only active (i.e. `!ctx2`) when you use `SubLink` to partial rendering some larger shape, which is not what happened here.

On my computer, the model you linked renders about 15 fps without VBO, and 25fps

[2022-10-10 03:46] flaviut commented on #7584
You're right, I had that disabled. Enabling it makes things much faster.

I would have liked to talk about enabling it by default, [but it looks like that discussion has already happened](https://forum.freecadweb.org/viewtopic.php?style=3&f=34&t=70838) and it's simply a matter of lots of work to be done and not enough time :)

Interesting--now that I open the file again, I get a similar experience

[2022-10-10 07:19] looooo opened #7585 "compilation error: string , std::string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

no forum discussion

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

compilation with conda fails because of this:

[code]

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this

[2022-10-10 07:37] looooo commented on #7585
I guess the issue was introduced with this commit:
https://github.com/FreeCAD/FreeCAD/commit/3b4cbbb9430368205ccd5b11cd29b44e2c7925f4

The (conda-based) weekly builds are not working anymore.
@donovaly can you help resolving this issue?

[2022-10-10 07:39] looooo commented on #7585
using std::string for the mentioned cases, results in another issue:
[code]

[2022-10-10 11:39] KeithSloan opened #7587 "[Feature] [Spreadsheet] API function to access number of cols and rows"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?t=50259

### Subproject(s) affected?

Other (specify in description)

### Idea description

Munther Hindi a co-developer of the GDML workbench has added functionality to import/export GDML Matrix properties to spreadsheets, his code needs to be

[2022-10-10 18:52] funny0facer opened #7589 "[Bug] Formula Editor not working properly in sketch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72400

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

When I enter a formular into the formular editor for a specific sketch constraint, it calculates correctly, but do

[2022-10-10 23:44] #7585 closed

[2022-10-10 23:47] donovaly commented on #7585
I could not reproduce and also the CI compiler showed no error, therefore I tried to fix the issue based on your error messages:
https://github.com/FreeCAD/FreeCAD/commit/a96a3a505f63a589cc6dad02478c4df135cf7fdd

Does this work for you?

If you find more issues, please report them directly to the developers forum because this usually attracts immediate actions. (I can currently only do something i

[2022-10-11 07:50] bntarc commented on #6678
I had this bug on Assembly3. I don't know if it there is the same bug on
other workbench.

On Tue, Mar 29, 2022 at 8:10 AM luzpaz ***@***.***> wrote:

[2022-10-11 09:02] WandererFan commented on #7066
I shouldn't think so.  #7066 is about scaling a bitmap image on a TechDraw
page.  #7113 seems to involve reversed normals in the 3d view.

On Sat, Jul 2, 2022 at 12:23 PM xsuper9988 ***@***.***> wrote:

[2022-10-11 10:39] Daniel-Khodabakhsh commented on #7583
According to the thread I started, this is expected behaviour.

To get around it, either setup the helix to go in the reversed direction, or, if the subtraction doesn't reach the tip of the pitch, you can trim the pitch profile a little bit so that it doesn't "overlap".

[2022-10-11 10:39] #7583 closed

[2022-10-11 16:15] HerrNamenlos123 opened #7595 "[Bug] Logo broken in README.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

-

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Not a big deal, just wanted to bring up that the Logo in the main Readme is broken, on the main page of the repository (branch master & 0.20 release). It seem

[2022-10-11 17:02] leoheck opened #7596 "[Bug] App::Link breaks when opening a Symlinked FCStd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72491#p632344

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When a Symlinked file is opened with Freecad, if it is not in the same folder with it's target (w

[2022-10-11 17:35] leoheck commented on #7596
And maybe, iterate since multi-symlink levels may exist.

[2022-10-12 08:17] jmg-duarte commented on #7595
From a quick history review, it seems as though it wasn't the link that changed, it just got invalidated somehow. As you said, it's easy to fix, just get a replacement 😅

[2022-10-12 13:03] luzpaz commented on #7557
Duplicate

[2022-10-12 13:03] #7557 closed

[2022-10-12 14:21] #7595 closed

[2022-10-12 23:03] sliptonic opened #7600 "[Bug] [Path] Adaptive Operation task panel uses wrong display widget for properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

N/A

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The file https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Path/Gui/Resources/panels/PageOpAdaptiveEdit.ui
uses regular QDoubleSpinBox controls for man

[2022-10-13 12:10] luzpaz commented on #7589
Gist: https://forum.freecadweb.org/viewtopic.php?p=632239#p632239

[2022-10-14 00:14] donovaly commented on #6704
So this issue can be closed. If you encounter cases where a restart is necessary, please report them as new issue.

[2022-10-14 00:14] #6704 closed

[2022-10-14 05:11] epiray opened #7606 "display problem with nested parts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=72556

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

From the forum thread:

In complex designs, I use nested parts for assembly. Once I nest more than 29 parts,

[2022-10-14 15:30] looooo commented on #7585
@donovaly not sure if this is also related to the refactoring. Maybe @wwmayer can help fixing this compilation issue.

[2022-10-14 16:51] 0penBrain commented on #6704
OK. Found some widget types that don't support hot change of language. They don't really need a restart, but some bring user actions to update (such as close/re-open task panel or workbench). Will be quite a mess to fix though. Will report with more details later.

[2022-10-14 20:05] adrianinsaval commented on #7585
this issue should be reopened if compilation is still failing @donovaly

[2022-10-15 01:16] donovaly commented on #7585
@looooo , please report such compilation errors directly to the developer's forum that they can quickly be fixed: https://forum.freecadweb.org/viewforum.php?f=10

This include has not been added recently. Since the compiler cannot find it, you use an old SMESH (older than version 7). But since it worked for you the last months, have you changed your build system and downgraded SMESH?
What is your

[2022-10-15 01:17] donovaly commented on #7585
No, this is a new issue. To keep the overview please report every bug in its own issue. however, since it is a compilation issue, it should better be resolved the short way by posting into the developer's corner forum.

[2022-10-15 08:31] abdullahtahiriyo commented on #7048
@0penBrain assessment is good. There is no bug. There is room for improvement.

Could be reclassify this ticker as "Feature Request"?

[2022-10-15 13:49] looooo commented on #7585
Sorry, I don't have the resources to get into this troubles right now. In my eyes the issues are due to changes of the freecad code and is not related to packaging. If we can't solve this, the weekly builds are broken for now.

[2022-10-15 17:06] luzpaz commented on #7596
I seem to recall an pre-existing issue regarding symlinks....brb

[2022-10-15 17:49] donovaly commented on #7585
Let's focus to fix the issue. Our two CI compilers and Visual C with LibPack have no problems so we will find the cause of your issues.
As you can see in the Git log the code of the file your compiler misses was there since years. So FreeCAD was not changed.  Therefore we must find out what your compiler tries to load a files that should not be loaded at all.
Technically I see 2 possible reasons:

[2022-10-15 19:43] donovaly commented on #7048
Done.

[2022-10-15 22:56] luzpaz commented on #7582
@chennes can I assign this to you?

[2022-10-15 22:58] chennes commented on #7582
The bug is wrong: the data type of the alias color is FCText, not FCUint.

[2022-10-15 23:07] luzpaz commented on #7606
Added screenshots + file attachment + About info
to the OP

[2022-10-15 23:13] luzpaz commented on #7510
@yorikvanhavre can this ticket be closed ?

[2022-10-15 23:24] luzpaz commented on #7550
Thanks!

[2022-10-15 23:24] #7550 closed

[2022-10-15 23:31] luzpaz commented on #7584
@realthunder how should this be re-phrased as a feature request then ?

[2022-10-15 23:39] luzpaz commented on #7582
@MisterMakerNL :point_up:

[2022-10-15 23:47] realthunder commented on #7584
3D Rendering Performance Enhancement, perhaps? This is not limited to STEP files, but any big models.

[2022-10-16 00:51] luzpaz commented on #7421
@agustavo87 ping

[2022-10-16 08:46] looooo commented on #7585
it's working again (magic?):

https://dev.azure.com/sppedflyer/feedstock-builds/_build/results?buildId=564&view=results

[2022-10-16 09:15] abdullahtahiriyo commented on #7048
@donovaly Dankeschön.

[2022-10-16 15:22] MisterMakerNL commented on #7582
@luzpaz Yeah, the bug is wrong but kinda doesn't matter since it is still bugged.
The current work around is adding this line to your preference pack:
`            <FCText Name="AliasedCellBackgroundColor">#850097</FCText>`
The issue is that it doesn't get reset anywhere so if you switch back to no stylesheet or no preference pack it stays that color.
Workaround for that currently is apply my "Ext

[2022-10-16 15:22] AjinkyaDahale commented on #5716
@goatchurchprime I believe you were the last commenter before this issue was moved to Github?

[2022-10-16 18:51] Hubhubhurra commented on #7510
Yes, now it works fine.

[2022-10-16 18:51] #7510 closed

[2022-10-16 22:53] chennes commented on #7582
Adding access to those variables to the preferences dialog is relatively simple (though only relatively, because we can't use the built-in color selection widget, which would save the value as a uint!). Switching to using QSS for the styling is a bit more work.

[2022-10-16 23:52] leonelhs commented on #7482
This works for me:

[code]

[2022-10-17 02:04] donovaly commented on #7585
Awesome!

First now I understand. This was the fix:
https://github.com/FreeCAD/FreeCAD/commit/63cc0422991d1a797e40bf7d9b9a11661dfcb068

So the compiler was not aware of the SMESH version and therefore included an inexisting file.

So that we now have weekly builds again, can you please try to create builds for the toponaming branch? That would be very nice.

[2022-10-17 02:46] luzpaz commented on #7482
CC @ipatch

[2022-10-17 09:22] looooo commented on #7585
thnaks @donovaly I am going to setup a branch to build the topo-naming branch.

[2022-10-17 10:13] luzpaz commented on #7585
@looooo for uniformity, just use `toponaming` if you don't mind.

[2022-10-17 10:36] MisterMakerNL commented on #7582
My suggestion would be to make it similar to the rest. So not using text parameters, although using hex is nice have the same workflow for all settings is nice.

[2022-10-17 13:17] luzpaz commented on #6855
Closing as this is not getting any traction and contributing to Issue queue bloat

[2022-10-17 13:17] #6855 closed

[2022-10-17 13:20] luzpaz commented on #6805
Added:
https://github.com/FreeCAD/FreeCAD/blob/9654786c670bbf216d062b72c03eaa1d7765bb48/src/Gui/Quarter/ContextMenu.cpp#L113-L117

[2022-10-17 13:26] luzpaz commented on #7276
See forum for solution: https://forum.freecadweb.org/viewtopic.php?style=1&f=22&t=29865

[2022-10-17 13:26] #7276 closed

[2022-10-17 13:49] looooo commented on #7585
@luzpaz too late

[2022-10-17 13:54] looooo commented on #7585
here are the logs for the toponaming branch:
https://dev.azure.com/sppedflyer/feedstock-builds/_build/results?buildId=566&view=logs&jobId=5be07ae1-d8ba-5406-47b6-8e3a3a12f825&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&t=841356e0-85bb-57d8-dbbc-852e683d1642

I do not have the resources currently to get into these issues...

[2022-10-18 08:07] PapsOu commented on #5853
I also have this problem on a Linux fedora. When opening the file dialog, the UI is frozen few seconds and the dialog is a black square (not rendered).

[code]

![image](https://user-images.githubusercontent.com/5792207/196373298-eeddcac7-eba8-4b22-9e7d-0b7fa3bf29fa.png)

[2022-10-18 09:01] PapsOu commented on #5853
And it seems that it is not related only to FreeCAD 0.20, because it happen with version 0.19 too...

[2022-10-18 12:29] nebularnoise commented on #6803
Hi! I'm interested in taking this one (trying hacktoberfest for the first time)

In almost all case, it seems this function is called to instantiate an fstream, so it would seem to make sense to return an opened fstream directly. In a few other cases however, it seems only the name is needed, and the file should remain closed.

There could either be two functions, one returning the name, to mainta

[2022-10-18 13:00] luzpaz commented on #6803
@wwmayer could you weigh-in on this?

[2022-10-20 13:14] sliptonic opened #7623 "[Bug] <Default theme has poor usability>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=72672

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

FreeCAD now has theme packs that allow users to change the appearance of the application easily and consi

[2022-10-20 13:17] sliptonic commented on #7623
The existing default theme will continue to be included with future versions as "FreeCAD Classic"

[2022-10-20 15:29] chennes commented on #7623
I figured "Classic" would mean "go back to the old way," so the current "FreeCAD Classic" preference pack sets it to "No stylesheet" and all the original colors. What exactly that looks like will then depend on your system setup, just like it does out of the box right now.

[2022-10-22 00:03] adrianinsaval commented on #7623
another issue with the default colors: https://forum.freecadweb.org/viewtopic.php?p=635039#p635039
![Screenshot_20221021_202529](https://user-images.githubusercontent.com/36372335/197306541-3124a00b-700c-434d-bf72-6031058d429c.png)
I want to make a PR to change these defaults and while almost anything would be better than the current defaults it would be nice to know if for the defaults we should

[2022-10-22 16:42] wwmayer opened #7628 "[Bug] Crash after creating Sketch for Body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72811

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Core

### Issue description

This just came up and it's pretty frustrating. Creating sketches can make FreeCAD crash.

* Steps to reproduce (100% r

[2022-10-22 21:03] chennes commented on #7623
Just as a point of technical reference, Apple's Human Interface Guidelines go into quite a lot of detail about how to ensure usability and accessibility (in a generic sense) for both light and dark color schemes: https://developer.apple.com/design/human-interface-guidelines/foundations/accessibility. They include guidance for both average and vision-impaired users. Obviously there is a lot of Appl

[2022-10-22 21:37] pathfinder555 opened #7629 "[Feature Request] [PartDesign] Keep sketch visible during revolution (and possibly other) tasks"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=72779

### Subproject(s) affected?

PartDesign

### Idea description

During the revolution task (additive or subtractive), if you want to select a part of the sketch you are using for the task itself, you currently have to go to the tree

[2022-10-23 16:51] luzpaz opened #12967 "[Bug] sometimes pip install doesn't work with snap packaging"
**Describe the bug**
Forum thread: https://forum.freecadweb.org/viewtopic.php?p=635481#p635481

[2022-10-23 17:05] PLChris commented on #7629
It would even be sufficient to turn visibility on, if "select reference" is chosen.

[2022-10-23 17:15] sliptonic opened #7633 "[Bug] FreeCAD Contribution policy and process is confusing."
### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=10&t=72769

### Version

This issue is organizational and affects all versions and the general development process

### Issue description

The development process used by the FreeCAD project is not well defined.  It's unclear to contributors how code contributions are to be structured, submitted, evaluated, and accepted.  This can

[2022-10-23 17:50] WandererFan commented on #7633
Good description of the issue.  Thank you.
- "When a process is accepted".  Is it too early to start discussing what would constitute acceptance criteria?
- Could we use the existing C4 process as an "optimistic commit" of the alpha process?

[2022-10-23 18:59] sliptonic commented on #7633
I don't think it's too early.  As a starting point, I would suggest acceptance looks like this:  A draft PR is created.  We invite code-review from everyone who's voiced an opinion so far.  They can comment on the text directly.  When all issues are resolved, the PR is marked ready.  Merged by someone other than me.

That was my original intent.  However, the C4 contract is itself licensed GPL3.

[2022-10-23 20:21] berniev commented on #7633
Suggest:
1. Delete "to new contributors ". This applies to everyone.
2. Change "feature" to PR. A PR is not necessarily a feature.
3. For reasons mentioned in the forum discussion I urge not referencing C4's "optimistic merge".

[2022-10-23 20:33] LarryWoestman commented on #7633
Many code contributions are composed of many PR's over time.  A per-PR process may not be what we want so much as a per-contribution process that might be composed of one PR or many.
For example, if there is feedback about the code in one PR, the changes might come in a following PR rather than going back and modifying the first PR.
Many problems are too "big" for a single PR.

[2022-10-23 23:42] sliptonic commented on #7633
Done

A PR is a mechanism to get a contribution accepted into a codebase.  The goal of a contributor is to add a feature or fix a bug.

One intended side-effect of a process like C4 is to force big problems to be broken down into manageable steps. Can you give an example of a problem that is too big for a single PR and also cannot be decomposed into smaller and more manageable pieces?

[2022-10-24 00:26] berniev commented on #7633
FC does not use unit testing. This is perhaps not well understood.

[2022-10-24 01:06] berniev commented on #7633
I find the example a bit confused. Any piece of code is ultimately **testable**, but it may take some refactoring to make it so. That's the risky bit, as this refactoring is done without the protection of unit tests. Then unit tests are created and proved to work. This is not restricted to function level, could be entire class etc. Finally code is changed to address the original (small) piece of t

[2022-10-24 01:34] LarryWoestman commented on #7633
A couple of possible examples of "too big for a single PR" are the work I am doing on refactoring the postprocessors and the work that realthunder has done with sensitivity to change that is trying to be merged right now.  I think that the characteristic that makes it hard to decompose those types of things into more manageable pieces is that lots of functionality has to change before the changes

[2022-10-24 01:39] LarryWoestman commented on #7633
It is possible to write additional tests one test at a time, with a clear problem statement and a simple PR.
Where it gets "big" is when you move a lot of code to new places, or even just reformatting whole files to match the formatting standards.  Some changes might works as a single PR if they are a focused change even if they end up changing a lot of lines of code.

[2022-10-24 01:48] LarryWoestman commented on #7633
I suspect that the refactoring that rearranged the Path directory structure is another example of a change that was "big".

[2022-10-24 01:51] LarryWoestman commented on #7633
The process of taking some existing code, modifying it to be testable, writing the tests, and verifying that the new version of the code still works properly is hard to break up into smaller pieces unless you do it "off to the side" and don't depend on the modified code until you have all of the work done.

[2022-10-24 02:24] berniev commented on #7633
I suggest the problem is not the size of the required change, but the manner of implementation. The RT thing IMHO should never have been allowed to fester and grow like it did. I'm unaware of your big change project, but hopefully we are collectively learning to avoid the 'complicated pr'. One solution for big stuff is to rewrite core to offer an interface or if you like an API and move out a lot

[2022-10-24 02:26] berniev commented on #7633
Sure! But the (potentially big) reward comes later, when refactoring is much easier.

[2022-10-24 02:37] berniev commented on #7633
Initial refactoring is by definition risky. Must be done in small, minimal risk, steps, compiling often. But there's no way to avoid it.

[2022-10-24 02:54] berniev commented on #7633
Reformatting does not change the functionality of the code. And once we all use it there will be no more pesky formatting warnings or diffs!

[2022-10-24 03:16] berniev commented on #7633
@sliptonic

Done

Actually, not quite.

[2022-10-24 07:23] Zolko-123 commented on #7633
Are you sure ? What's the advantage ? I'd suggest to leave "the platform" and specify somewhere that, as of today, it's GitHub. And when that changes, we only have to change 1 line.

[2022-10-24 07:41] berniev commented on #7633
+1

[2022-10-24 14:16] Zolko-123 commented on #7596
This is not a [Bug] but the very nature of symlinks. If the user needs the linked (as per App::Link I guess) file to open correctly he has to symlink the linked file into the same folder.

This issue should be closed

[2022-10-24 14:53] #7628 closed

[2022-10-24 16:05] leoheck commented on #7596
No, this is a bug. When you symlink a file, and since Freecad does not adjust paths internally, Freecad should open the target instead.

[2022-10-24 16:45] PAS-DRAFTER opened #7639 "[Problem] Spreadsheet: Master Spreadsheet values not updated on linked spreadsheets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72186

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Spreadsheet

### Issue description

If I make a change to the Master spreadsheet in my Master file, the changes are not sent to the spreadsheet

[2022-10-24 17:48] PAS-DRAFTER commented on #6218
[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.21.30716 (Git)
Build type: Release
Branch: master
Hash: cbd19631428f1d9eb4faae30220551608a648589
Python 3.8.13, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC 7.6.3
Locale: English/United States (en_US)
Installed mods:
  * Assembly4 0.12.3
  * Curves 0.5.6
  * ExplodedAssembly
  * fasteners 0.4.2
  * Manipulator 1.4.9
  * MOOC 2022.

[2022-10-24 18:38] MisterMakerNL opened #7640 "[Problem] Users don't understand stylesheets vs preference packs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=72889&p=635896#p635896

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Ok so people get confused to when to use a style-sheet or when a preference pack.
Also t

[2022-10-25 00:16] sliptonic commented on #7633
I read the articles about _optimistic merging_.  I agree that it has benefits, in principle.  However, to make it work, at least three things need to already exist:
1. There needs to be good test coverage and a strong value in the culture for writing/maintaining those tests.  You can't optimistically merge if you don't trust that the test suite will catch regressions.
2. There needs to be a high v

[2022-10-25 00:41] berniev commented on #7633
I'm glad you dropped optimistic merge. A couple of comments.

1. Including "Optimistic Merging" in the name implies a derivative of C4 version, but it is significantly different: C4 is faster than CI, this is days, and is not actually optimistic as it demands a traditional review first. Suggest "Moderated Merge".

2. If a moderator wishes to make 'value judgments' they become an "interested party"

[2022-10-25 00:53] berniev commented on #7633
@sliptonic Any change to your view on unit testing?

[2022-10-25 00:55] berniev commented on #7633
A little one ..

Propose: "A maintainer inspects the PR". Review is well defined as something else.

[2022-10-25 01:28] LarryWoestman commented on #7633
I think that we can achieve Reviewer Moderated Merging in the near term, and I like the description by sliptonic above.

It is a much harder task to get people to write more and better tests, whatever kind of tests they end up being :-)

[2022-10-25 01:29] sliptonic commented on #7633
No change.   I still think it's a great thing.  I hate the terminology around the whole domain though.   "Functional" testing doesn't test functions but functionality.  "Unit testing" doesn't test units of functionality but tests units of code.   It's like our was designed to be obscure.

[2022-10-25 01:31] sliptonic commented on #7633
Done.  Thanks

[2022-10-25 02:33] berniev commented on #7633
No point hating the terminology. Its industry standard.

Your original comment "big issues might need unit testing" infers you see circumstances where unit testing will be required. Can you clarify, as this would be a major.

[2022-10-25 02:52] sliptonic commented on #7633
I don't foresee a policy change where we start demanding unit test before you can get a Pr accepted.  But even now I wouldn't accept a new generator in Path that didn't have unit tests. All of the others do.
(To say unit testing doesn't happen in Freecad is wrong. It isn't the norm  but I have specifically started writing unit tests for new code in Path.  IIRC, FEM also is using unit tests.   It's

[2022-10-25 03:21] berniev commented on #7633
@sliptonic Are you referring to the .py files in PathTests folder? I couldn't find any other reference to test files.

[2022-10-25 03:28] sliptonic commented on #7633
Yes but not all are pure unit tests.  Some are functional (we're still learning) and shine are mixed.  Something like testpathdrillgenerator is more unit test

[2022-10-25 04:22] berniev commented on #7633
Firstly, this is all python stuff where my interest has been C++. So to some extent we may be talking cross-purposes.

Q: Can the test you mention run without all the imports? Will it work if any of the imports are broken?
A YES: You may have a unit test!
A NO: This is not true unit testing. It is testing the unit under test AND a whole bunch of other stuff all at once, which is the antithesis of

[2022-10-25 06:58] luzpaz commented on #7639
Bug pending discussion on forum.

[2022-10-25 10:37] Glitchy-Tozier commented on #7623
There probably will never be a great solution if we stick with one default.
It seems more productive to use a system that predefines colors for each theme individually.

[2022-10-25 10:44] MisterMakerNL commented on #7623
You are right, I also tried a color that is readable on white and black text. But it breaks already when the text is gray. And it's just a tiny improvement not really worth doing it.
Best fix is too link stylesheets too preference packs so we don't get in situations like this.

[2022-10-25 14:38] Zolko-123 commented on #6239
It's trivial to do without, this should be closed

[2022-10-25 14:40] Zolko-123 commented on #6201
should be closed to clean up

[2022-10-25 14:42] wwmayer opened #7645 "[Bug] Absolute cells in a spreadsheet are not updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72546

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

A reliable procedure to repeat the bug is difficult because if there is only one absolute cell then it is

[2022-10-25 14:43] Zolko-123 commented on #6004
should be closed

[2022-10-25 14:45] Zolko-123 commented on #5960
should be closed

[2022-10-25 17:32] adrianinsaval commented on #7623
I'm not saying we should stick with a single default but that is what is technically feasible right now, IMO it is better to solve that now and then improve on it when the other changes being discussed are implemented.
IMO it is wrong to say "a better solution will come soon<sup>TM</sup>, so we should do nothing now" because it may very well be that the wait would be eternal...

[2022-10-25 18:41] MisterMakerNL commented on #7623
Gimp won't run nice on my windows machine but I thought well there is probably a website for that...And off-course there is.
https://www.color-blindness.com/coblis-color-blindness-simulator/
And soon I realized the icons are the real issue here. Although I also have a solution for that but it's still requires a lot of work to finish the icon theming.

[2022-10-25 18:49] adrianinsaval commented on #7640
![themes_UI](https://user-images.githubusercontent.com/36372335/197856851-d13af217-4df4-43bb-9738-5cbc63185b0b.png)
I suggest something like this for the UI instead, all themes are forced to be preference packs+stylesheets, for stylesheet designers we shall a provide a base preference pack for dark and light themes.
The full preference pack functionality can then be moved to another tab.

[2022-10-25 19:53] chennes commented on #7640
The checkbox "Apply associated preferences" is a little misleading, because applying preferences from a pack is a one-time application.

[2022-10-25 20:38] kanguru007 opened #7646 "[Bug] Transform context-menu option when the highlighted item in the Combo View is something else than the Body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72868&p=635696

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

1. Create one Body with a simple Box
2. Click on the Box twice, the whole Box is selected
3. Rig

[2022-10-25 21:01] iromero91 commented on #6310
@yorikvanhavre @agren that is what i was saying with my coment above. If you return a proxy object that implements the dict interface without being a "real" python dict it would work the way the python programmer would expect. You can even go further and implement the dictionary interface on the parent object itself. it is literally implementing 2 or 3 methods with magic names. Python will do the

[2022-10-25 21:04] adrianinsaval commented on #7640
That's why I chose to use "apply" not "use", I can't think of a straightforward way of communicating that fact without overloading the UI with unnecessary stuff. I suggest explaining how this works on a tooltip for that checkbox.

[2022-10-26 02:34] luzpaz commented on #7629
@pathfinder555 you have a possible solution, can you make a PR and reference this ticket?

[2022-10-26 07:14] goofyseeker311 opened #7648 "[Feature Request] wysiwyg, make going straight into design simply visually easy/logical"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://github.com/FreeCAD/

### Subproject(s) affected?

Other (specify in description)

### Idea description

more wysiwyg user interface, its not platantly obvious where you sketch, where you extrude, where you view the extrude objects, without looking into a tutorial/help files. chec

[2022-10-26 11:33] luzpaz commented on #6803
Hey @berniev could you take a stab at this?

[2022-10-26 11:50] luzpaz commented on #7648
Hi, welcome to the freecad community. Sorry, but I'm gonna have to close this ticket for obvious reasons (i.e too broad and references proprietary examples which is a :no_good:). Please interact on our forum and discuss one feature at a time in separate forum threads. FreeCAD is improving its User Interface although slowly because it's a very passionate subject.

[2022-10-26 11:51] luzpaz commented on #5960
CC @PLChris

[2022-10-26 12:02] goofyseeker311 commented on #7648
so you dont want to make freecad user friendly, even if a clear model example was given, one feature is general user friendliness, are you such a community, I hope so

[2022-10-26 12:40] berniev commented on #6803
@luzpaz Thank you for your thinking of me, but to be honest this question is still outside the realm of my knowledge and experience.

[2022-10-26 14:05] luzpaz commented on #6004
@Zolko-123 thanks for the feedback but would you mind elaborating as to why? (you've commented this way on some recent tickets already)

[2022-10-26 14:16] Zolko-123 commented on #6004
it's unclear what it wants and obviously not followed.

[2022-10-26 17:01] adrianinsaval commented on #6004
I agree this should be closed, it's poorly formulated, to me it sounds like they want the fit all or fit selected functionality which already exists

[2022-10-26 17:27] luzpaz commented on #6004
Closing.

[2022-10-26 17:27] #6004 closed

[2022-10-26 19:31] sliptonic opened #7650 "[Bug] FreeCAD Project Policy on code formatting is confusing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

N/A

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Most developers agree that having a project-wide standard for code formatting is useful.  It makes reading and reviewing code easier and reduces errors. How

[2022-10-26 19:52] chennes commented on #7650
I've been using Black for the Addon Manager and, while I don't love all of its formatting choices, I have to say it's a delight to not have to think (at all) about formatting.

For C++, Visual Studio is happy to use a clang-format file, so I also don't feel strongly about exactly what formatting options we choose there. In general I prefer to let the computer do the formatting so I can focus on th

[2022-10-26 19:58] sliptonic commented on #7650
Is there a downside to having automatic formatting applied after commit?

[2022-10-26 20:08] wwmayer commented on #7645
See also the German forum: https://forum.freecadweb.org/viewtopic.php?f=13&t=72935

[2022-10-26 20:15] chennes commented on #7650
If the commit is signed (and basically all of mine are), then that needs to be a separate commit. IMO it would be better to have a required pre-commit hook -- the Qt project does that, for example. Actually maybe OCC does too, it's been a while.

[2022-10-26 21:36] sliptonic opened #7651 "[Bug] User cannot generate a helical ramp entry to a profile with G2/G3 gcode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=72730

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

User Applies a RampDressup to a profile operation.  Then sets the ramp mode to 'Helix'  The generated pa

[2022-10-26 21:42] pathfinder555 commented on #7629
@luzpaz I don't have one, sadly, I can't write code. Someone posted one in the forum thread though:

https://github.com/FreeCAD/FreeCAD/compare/master...Syres916:FreeCAD:patch-59

[2022-10-26 22:03] sliptonic opened #7652 "[Bug] Cannot add tag dressup."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=72734

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

Attempt to create a tag dressup shows an error.  This is a regression based on renaming variables.

### Anything

[2022-10-27 03:00] berniev commented on #7650
There is a forum discussion  [here](https://forum.freecadweb.org/viewtopic.php?f=10&t=72183&p=629874&hilit=clang+format#p629874) about clang-format. Some progress was made.

[2022-10-27 03:06] berniev commented on #7650
I think there is one important decision to be made: Is a descriptive text a prerequisite to implementing formatting? I suggest no, but there does need to be more discussion to achieve consensus. That discussion is itself useful documentation.

[2022-10-27 10:18] Zolko-123 opened #7657 "[Bug] line names are wrong between inside Sketcher edit mode and outside Sketcher in 3D view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=22&t=27215

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

When using a sketch, the sketch's element's names are displayed both in the 3D window when the element is sel

[2022-10-27 10:34] Zolko-123 commented on #7584
This Issue can be resumed to "make FreeCAD faster". Also, the user has obviously no clue about the real reason (didn't even switch VBO). This is no specific request and should be closed to clean up the Issue list

[2022-10-27 13:28] WandererFan commented on #7650
Are we talking about a "style guide" such as https://google.github.io/styleguide/cppguide.html

Or just a couple of rules, such as:
"all c++ contributions must formatted using clang-format and the project format file FreeCAD/.clang-format"

my inclination would be to start with just a pair of rules - 1 for python and 1 for c++.  The style guide seems like too big of a struggle right now.

[2022-10-27 14:29] sliptonic commented on #7650
A style guide would be the specific rules for how code should be formatted.
A policy would be how those rules are applied.

We could start with the simple rules you describe.  For Python, I'd be happy if we said "PEP8 and Black"  and left it at that.

The policy is the part that needs at least a little discussion.  What do we do about existing code when a minor change is made? Do we pursue style-g

[2022-10-27 14:52] adrianinsaval commented on #7657
This is not a bug, it's expected behavior.

not at all but I'll agree it would be a nice feature request if the relevant part of the mapped name was shown in the status bar and in the element list instead of the mostly useless indexes

[2022-10-27 14:55] #7652 closed

[2022-10-27 16:32] MisterMakerNL opened #7659 "[Bug] Report view is called Output window in settings."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=636218#p636218

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Core

### Issue description

Kinda confusing having 2 names.
I might try to fix this one myself since it is probably just a search and rep

[2022-10-27 20:05] Zolko-123 commented on #7657
This is clearly BS. assigning random names (Edge2, Edge6 ...) to the same entity in different view conditions, or assigning the same name (Edge2) to different entities in different view conditions isn't expected by anyone. If names are given, they **MUST** be homogeneous.

because [the old one](https://github.com/FreeCAD/FreeCAD/issues/5767) was missing images and was not understandable, and  the

[2022-10-27 20:14] Zolko-123 commented on #5767
I have created a new issue (#7657), a bug report actually, that re-explains this same problem, or a variant of it.

I suggest to close this (dead) issue and link to the new one (#7657)

[2022-10-27 21:18] adrianinsaval commented on #7657
It is expected in the sense that it was programmed to be this way, these names where not intended to be matching, but ok, I agree this is problematic behavior and I support the request to show meaningful data (mapped name) in the status bar and the elements list.

you keep using _MUST_ for stuff _you want_.

you mean the not yet approved process? Everything you say here you could have added as a c

[2022-10-27 22:38] Zolko-123 commented on #7657
@adrianinsaval : Since you have nothing to say, could you please go trolling somewhere else ?

[2022-10-28 01:07] berniev commented on #7650
"style guide" can be any human readable document stating format rules. It is not necessarily the reference that an enforcement mechanism is required to comply with.

A "policy" in this case is more correctly like the decision to require auto formatting and perhaps to define the required mechanism.

For C++ clang-format is a human-readable statement of rules designed to be parsable by an enforcemen

[2022-10-28 02:12] obelisk79 commented on #7623
First off, if the intent is for only a single set of default colors, we should first discuss and decide on a light vs dark theme before going to far down the rabbit hole with colors, and color theory and analysis of the current state of such in FreeCAD.

[2022-10-28 02:23] obelisk79 commented on #7623
An interesting albeit slightly biased analysis in favor of a dark theme:
https://www.venturus.org.br/en/darkmode-and-the-benefits-for-the-user-experience/

Multiple sources also indicate that dark UI trends dominate in preference polls with ranges between 85%-92%. That's actually a lot higher than I expected to see.

[2022-10-28 02:32] obelisk79 commented on #7623
In terms of tools for designing around contrast, color and vision impairment a simple tool/test one can do is take your sample colors and load them into image editor of choice. Photoshop, gimp or Pixlr and then completely desaturate the image. If there is still a high contrast ratio then you are good. If not, further adjustment is necessary.

[2022-10-28 02:56] obelisk79 commented on #7623
@MisterMakerNL in response to your comment regarding the icons, I would agree. I believe that contrast and usability particularly across a broad audience (ie color impaired) could explain why you see simplified and flat icons in a lot of professional software across multiple industries. I believe a good example of simple yet effective can be seen here:
https://forum.freecadweb.org/viewtopic.php?f=

[2022-10-28 05:24] MisterMakerNL commented on #7623
I have my own icons, and I really like too work with them too. But the project needs some more work.
https://github.com/MisterMakerNL/Linkstage_icons

[2022-10-28 06:10] Glitchy-Tozier commented on #7623
Regarding light & dark themes: You probably could make a poll on the forum asking "Do you use light or dark theme?", to at least get _some_ hint about what FreeCAD's users prefer atm.

[2022-10-28 11:35] Zolko-123 commented on #7657
I have tested this example with FreeCAD version 0.19 and the behavior is already the same (the naming is toggled with the "_Extended naming_" button):

![hexa_19](https://user-images.githubusercontent.com/46596542/198577466-fbdefa4d-d91c-48d7-8b2f-f8195ae4cc9d.png)
![hexa_19s](https://user-images.githubusercontent.com/46596542/198577479-532f0fe3-13bc-4aa8-b019-85392ae79167.png)

As you can see, th

[2022-10-28 12:22] goofyseeker311 commented on #7648
of course not, and currently freecad does nothing for me, for not being user friendly (its just a blank stub of an editor). I'm not actually asking you to make it like fusion 360, I'm suggesting that you make it usable (anything) in the first place. I dont see any cad features in freecad as a non-tutorial/manual wysiwyg potential user. (ie its not a cad program for me, currently).

[2022-10-28 12:32] goofyseeker311 commented on #7648
at least fusion 360 is very obvious how its used, in the first place (actions tool bar) which freecad is missing completely, not even searching menus for 30mins.

[2022-10-28 12:37] Zolko-123 commented on #7646
In your screenshot, it can be seen that the box is selected, not the Body. What behavior would you expect ?

[2022-10-28 12:41] Zolko-123 commented on #7589
Not enough information. Please describe the problem better, and ideally nail it down to the very core of the problem.

[2022-10-28 12:45] Zolko-123 commented on #7580
I can confirm the bug.

@luzpaz : why did you set the priority to "High" ? This seems annoying but quite minimal. High priority should be kept for really bad bugs. This is probably some  forgotten push on the action stack

[2022-10-28 12:52] Zolko-123 commented on #7520
Not enough information, should be closed. (what would be the expected behavior ?)

[2022-10-28 12:54] Zolko-123 commented on #7516
This is not a [Bug] and the title should be renamed.

[2022-10-28 12:57] Zolko-123 commented on #7450
did you try `Gui.updateGui()` ?

[2022-10-28 12:58] WandererFan commented on #7650
"New code MUST be formatted according to the appropriate language standard."
"A modified source file SHOULD be formatted in its entirety according to the appropriate language standard."

The second rule provides an out for fixing typos, etc.

Formatting the whole file is no big deal for C++ and Qt Creator as there is an option to reformat on save.  Don't know if it is an extra step for Python or o

[2022-10-28 14:19] luzpaz commented on #7516
How to characterize it then, suggestions?

[2022-10-28 14:41] kanguru007 commented on #7646
On the context menu for it the Transform tool is available. I use it and dragging the arrows I can move the box. Later, saving and reloading the file or recomputing the Body, the box reverts to its old position. Regardless of how the software works internally, I would expect that if I'm allowed to select the box and move it then it should stay where I put it.

[2022-10-28 21:12] sliptonic commented on #7650
I'd also suggest that if an existing file is being reformatted because it's being touched for some other reason that the actual changes and the formatting changes be in different commits.  Makes it easier to review

[2022-10-28 22:09] chennes commented on #7650
I very much agree -- we can also then add that commit to the .git-blame-ignore-revs file, so it doesn't pollute the history in git blame.

[2022-10-28 23:25] berniev commented on #7650
Bearing in mind that such extra rule becomes obsolete once a global reformat is performed. Assuming unified formatting of course.

[2022-10-29 00:31] luzpaz commented on #7589
@Zolko-123 https://github.com/FreeCAD/FreeCAD/issues/7589#issuecomment-1277511911

[2022-10-29 01:04] PLChris commented on #7520
It is all in the linked forum post. It used to work in the same way as the other angle constraints, so I still rate it as a bug.

[2022-10-29 08:48] MisterMakerNL commented on #7306
Would it be an idea to just use the same layout as we do in the features?
![afbeelding](https://user-images.githubusercontent.com/29804962/198822557-af8304a7-6acb-4e06-a32d-d5de4dae4027.png)

[2022-10-29 11:23] gimpox opened #7666 "[Bug] [Path] Mill Face operation is not set to correct depth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=72988

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The "Final depth" param (indicating how much deep the operation should go) is not applied correctly.
The

[2022-10-29 15:19] luzpaz commented on #7516
It is discussed on the forum. It is being tracked here so we don't forget. It's also labeled UI/UX

[2022-10-29 16:13] sliptonic commented on #7306
We use these vertical tab/pages things in Path Preferences.  They're economical.
I've answered many questions on the forum because users didn't realize there were tabs down here at the bottom.  Perhaps we need to change how the pages expand vertically.

Also, I haven't gotten much feedback on the proposed hierarchy above.  I really think that's particularly important.  Grouping settings together i

[2022-10-29 16:21] MisterMakerNL commented on #7306
@sliptonic can you asign qsint to those pulldown menu?

[2022-10-29 17:27] sliptonic commented on #7306
I don't know what that is.  This is a toolbox widget with multiple pages.

[2022-10-29 17:42] MisterMakerNL commented on #7306
QSint is the custom QT class for the actions in the action sidebar!
Maybe you can add that class to the pull-down menu's and get the arrow and the correct title color!
I btw want do do also some testing and play around with Qt options but don't have too much time.

[2022-10-29 20:08] adrianinsaval commented on #7657
here's how the element list looks like in the toponaming branch:
![image](https://user-images.githubusercontent.com/36372335/198850562-b09fc4d3-0f22-4650-9c30-849672eb7e7b.png)

@realthunder @abdullahtahiriyo my suggestion for solving this issue is this;
![image](https://user-images.githubusercontent.com/36372335/198850625-a780f997-d8f0-4a2f-9ae3-dd21d9f77dfb.png)
• forget about what is currently

[2022-10-29 20:12] luzpaz commented on #5767
Closing in favor of #7657 (TY Zolko)

[2022-10-29 20:12] #5767 closed

[2022-10-29 20:34] adrianinsaval opened #7668 "[Feature Request] Auto-assign names at datum constraint creation"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=636963#p636963

### Subproject(s) affected?

Sketcher

### Idea description

This issue is somewhat related to #5965, if but of these issues are solved the constraints usage on expressions would be greatly improved and accessible even to novic

[2022-10-29 21:49] FlachyJoe commented on #7657
Hi,
As a workaround you can get the sketch geometry index of given sub-objects with this python code:
[code]
and vice-versa:
[code]

[2022-10-30 01:06] luzpaz commented on #6201
CC @PLChris

[2022-10-30 01:11] luzpaz commented on #6239
@paddlestroke
re: https://forum.freecadweb.org/viewtopic.php?p=598547#p598547
#5407

[2022-10-30 01:16] luzpaz commented on #7580
@Zolko-123 because this is  workflow issue that should be cleaned up before the next release. I distinguished it so it won't get buried

[2022-10-30 06:19] PaddleStroke commented on #6239
Yes, constrain contextually is still pending review.

[2022-10-31 08:00] Roy-043 commented on #6699
With https://github.com/FreeCAD/FreeCAD/pull/7656 shortcuts can be assigned to Draft snaps. But using them during a command only works if the input boxes do not have the focus as they 'catch' the so-called in-command shortcuts (while creating a [Draft_Wire](https://wiki.freecadweb.org/Draft_Wire) in the 3D view the X input box will have the focus).

[2022-10-31 10:35] Zolko-123 commented on #7657
here is how the element list looked in v0.19 :

![constraints19](https://user-images.githubusercontent.com/46596542/198987069-4b5e4099-b3f4-4d0a-a637-af9a55de8d55.png)

I like this proposal, but then, instead of using `g5` names I propose to replace the "g" part – which stands for geometry I guess – by the element type: Line2, Circle5 ...

![constraintsAS](https://user-images.githubusercontent.com

[2022-10-31 11:12] luzpaz commented on #6239
@PaddleStroke this feature depends on #5407 and can be closed when merged ?

[2022-10-31 11:33] luzpaz commented on #7648
Sorry it does nothing for you. Right now FreeCAD requires reading documentation and learning its quirks. No way around that, at the moment.

What you are asking is not simple at all (to code and to find community consensus on). It's not a uncommon request, that's for sure )see [pinned tweet](https://twitter.com/FreeCADNews/status/1370482079088148480) on FC's twitter account). In fact we created ht

[2022-10-31 13:20] WandererFan commented on #5746
related issue #6707

[2022-10-31 16:05] PAS-DRAFTER commented on #6218
[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.21.30716 (Git)
Build type: Release
Branch: master
Hash: cbd19631428f1d9eb4faae30220551608a648589
Python 3.8.13, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC 7.6.3
Locale: English/United States (en_US)
Installed mods:
  * Assembly4 0.12.3
  * Curves 0.5.6
  * ExplodedAssembly
  * fasteners 0.4.2
  * Manipulator 1.4.9
  * MOOC 2022.

[2022-10-31 17:28] pathfinder555 opened #7673 "[Feature Request] Prevent losing selection when clicking empty space when Ctrl is pressed"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73056
https://forum.freecadweb.org/viewtopic.php?f=8&t=72435

### Subproject(s) affected?

Other (specify in description)

### Idea description

When selecting features in the main view, while keeping Ctrl pressed, accidentally clicking em

[2022-10-31 19:30] adrianinsaval commented on #7657
These names are the ones used for toponaming so I don't know if it's desirable to make them that long (side note, external references seem to be named e# instead), also the geometry type is already listed on the first column so there's no real need to repeat that on the second column IMO. The `Reference` column is only meaningful for external references and it shows what geometry it is referencing

[2022-10-31 20:20] PaddleStroke commented on #6239
Well I'm not touching the distance constraint  tool itself. Though in my opinion constrain contextually should make distance, distanceX, distanceY, Angle and radius/diameter totally obsolete. If you ask me those tools should be removed when constrain contextually merges.
But knowing the forum this is not going to happen. So I'm not sure what to say.

[2022-10-31 21:35] howie-j commented on #7648
@goofyseeker311 FreeCAD is made by volunteers, all with different backgrounds, habits and preferences. Of course some prefer simple clean UI's as F360, while other are used to Catia, NX, solid edge etc, and do not mind spending a couple of hours upfront customizing FreeCAD to their liking. There is no one size fits all when it comes to the UI unfortunately.

What i would like with my "Getting star

[2022-10-31 23:28] lebearnais64 opened #7675 "[Bug] Start page called when I do an action in a part"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=12&t=73078

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When I work on a part, when I do an action, the start page appears and I have to click to the part to see my

[2022-11-01 20:54] funny0facer commented on #7589
from my point of view, the worst about this behaviour is, that there is no warning/error or something else. You can clearly see, that the result of 5/1 does not match the shown result (2mm).
If there would be an error message (or something else), the user could try to fix the problem in the sketch. Otherwise, the user might never identify that changing a value does not actually affect the sketch.

[2022-11-01 21:33] luzpaz commented on #7675
What's the workflow to reproduce the bug?
Has someone on the forum reproduced it ?

[2022-11-01 22:50] Zolko-123 commented on #7623
- with a shadow around windows, it's easy to see which window has focus (is on top)
- with a shadow around windows, it's easy to see where windows borders are, and to distinguish between window borders and widget panels
- black-on-white is a natural combination also used on paper

- with overlapping windows, there is no way to know where a window's borders are, to distinguish between a window bord

[2022-11-01 23:17] lebearnais64 commented on #7675
no workflow to reproduce it. it is random.
I notice that when i display the report view i do not have the problem

[2022-11-02 13:05] WandererFan commented on #7650
What is the next step?  A draft PR of a policy?

[2022-11-02 13:39] sliptonic commented on #7650
Yes.  That would be ideal.  Want to take a stab at it?

[2022-11-02 20:38] adrianinsaval commented on #5965
here's the problem:
https://github.com/FreeCAD/FreeCAD/blob/ec3a1838ca69e9a18216521961e766ce75fc2e1e/src/Mod/Sketcher/App/SketchObject.cpp#L6167-L6174

it is using the constraint index identifier, we need it to use the constraint name instead @abdullahtahiriyo do you know how to get the constraint name from the index? Or how can I get a pointer to the constraint so I can use
https://github.com/Fre

[2022-11-02 20:59] adrianinsaval commented on #5965
would this be correct?
[code]
I found this note:
https://github.com/FreeCAD/FreeCAD/blob/da9ebc572f85f1694f75380c45ca2ac87f12f414/src/Mod/Sketcher/App/PropertyConstraintList.h#L97-L99
do I need to perform that check here? How do I do that?

[2022-11-02 21:01] sliptonic opened #7684 "[Bug] Preference Dialog justification is confusing."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=73031

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The Path preference dialog pushes the unopened pages to the bottom of the page.  Users often overlook th

[2022-11-02 21:08] #7633 closed

[2022-11-02 21:39] chennes opened #7686 "[Bug] Addon Manager installs Python packages in an unversioned directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

n/a

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Addon Manager

### Issue description

When installing Python dependencies for an Addon, the Addon Manager installs those dependencies in a single directory, with no record of the version of Pyth

[2022-11-03 00:47] WandererFan opened #7687 "[Bug] Bug Reporting Template Requires Previous Forum Discussion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://www.forum.freecadweb.org/viewtopic.php?p=638121#p638121

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Issue description

The bug reporting template indicates that all bug reports should be preceded by

[2022-11-03 02:36] adrianinsaval commented on #5965
I tired this:
[code]

but when the constraint is named `spath.toString` returns the path with a leading `.` while the index based one does not return a leading `.`
anybody knows what's up with this inconsistency? @wwmayer ?

[2022-11-03 13:25] WandererFan opened #7689 "[Bug] Measurement does not support 3 point angle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=638250#p638250

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

Measurement supports angles between edges, but does not support an angle formed by 3 points.

### Anythin

[2022-11-03 13:28] WandererFan opened #7690 "[Bug] [TD]Tooltip for EqualTolerance is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=73145

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

The tooltip for EqualTolerance is the same text as FlipArrowheads.  It should describe the use of EqualTolera

[2022-11-03 13:30] WandererFan opened #7691 "[Bug] [TD]Drag and Drop of Views to/from Page is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://www.forum.freecadweb.org/viewtopic.php?f=3&t=73115

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

The default drag and drop handling does not correctly add and remove views from pages.

### Anything else?

[2022-11-03 14:08] WandererFan opened #7695 "[Bug]No rules on who should merge a PR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=638260#p638260

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Project Tools & Websites

### Issue description

There are 8 active "core developers" with merge rights (Maintainers in the terminology of

[2022-11-03 14:08] luzpaz commented on #7584
Closing as per zolko's feedback

[2022-11-03 14:08] #7584 closed

[2022-11-03 14:28] #7684 closed

[2022-11-03 14:42] WandererFan commented on #7690
resolved by commit 36d0a67a4a

[2022-11-03 14:42] #7690 closed

[2022-11-03 14:43] WandererFan commented on #7691
Resolved by commit 19a5301e24

[2022-11-03 14:43] #7691 closed

[2022-11-03 17:36] karlp commented on #6593
This is still an issue in 0.20.1, FreeCAD 0.20.1, Libs: 0.20.1R29410 (Git)
Adding the exact error message to make finding this easier: ```ExpressionEngine: Invalid property specification```

I guess it's worth pointing out that the "bad" constraint names only matter if you have used parameter expressions for the value.

Constraint name contains "bad" chars, no parameters ==> works fine, name is tr

[2022-11-03 20:54] chennes commented on #7695
Do you have an idea for how to codify who should merge PRs when the primary developer is absent? We obviously don't want to encode actual developer names into the process document, but we don't have a "sub-developer" or "assistant developer" position, at least not formally.

[2022-11-03 21:51] chennes commented on #7687
I've submitted PR #7696 that, if merged, resolves this by removing the forums requirement from the language on GitHub.

[2022-11-03 22:40] chennes commented on #7640
Maybe a dropdown menu isn't quite right here: we could have a "Change theme..." button that opens a simple dialog with a dropdown menu, the checkbox, and an "Apply" button. Alternately, maybe there isn't really a need to have the checkbox at all: I don't know how users could make an informed decision about whether or not to check it.

[2022-11-03 23:16] gimpox commented on #7666
On the forum is marked as "SOLVED", but in this case was not, I simply applied a suggested workaround. The bug is still there.

[2022-11-04 00:02] WandererFan commented on #7695
I don't have a solution in mind.  This was more of a plea to start a discussion.   If the Maintainer is to be a guarantor of the quality of a PR, then I don't see any good solution other than adding headcount.

[2022-11-04 01:48] adrianinsaval commented on #7516
Buttons are now on top so that part of the issue is tackled, should this be kept open for the cancel buttons? IMO a cancel button doesn't make sense for the measurements tool
the appearance dialog would need some refactoring to get a cancel button I think

[2022-11-04 02:39] chennes commented on #7516
I think that adding Cancel to appearance is a significant enough amount of work to warrant it's own issue -- my preference is to close this one and create a new, focused issue, and cross-link them.

[2022-11-04 02:49] chennes commented on #7587
When you say you need the "current number of rows and columns" do you mean you want to know the largest row/column that has data in it? Or a count of the number of rows/columns that have data? What about providing a wrapper around the C++ `getNonEmptyCells()` function? Would that get the needed result?

[2022-11-04 03:07] chennes commented on #7659
I suggest going with "Report View" -- in the Forums that's what basically everyone seems to refer to it as. The class itself is even called `ReportView`, so I think it makes good sense to standardize on that. There aren't many occurrences of "output window" in the code, and most of those are comments.

[2022-11-04 04:16] chennes commented on #7575
@PAS-DRAFTER I believe that this has been fixed by #7609 -- can you confirm?

[2022-11-04 04:20] chennes commented on #7546
Where do you envision this in the user interface? We've been working recently to trim up the number of buttons showing on the toolbar -- in order to display this constraint, we either have to sacrifice an additional toolbar slot for it, or combine it with another tool. Any suggestions for the best approach?

[2022-11-04 05:01] PAS-DRAFTER commented on #7575
@chennes Gladly.  Please excuse my ignorance, but how do I know what build has that fix so I know it is in the one I have loaded?  I'm new to this bug tracking stuff.

I currently have this on one machine.

[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.21.30716 (Git)
Build type: Release
Branch: master
Hash: cbd19631428f1d9eb4faae30220551608a648589
Python 3.8.13, Qt 5.1

[2022-11-04 05:33] AjinkyaDahale commented on #7546
@chennes with @PaddleStroke's recently merged PR on element widgets we have an alternative, which will also work if, say for whatever reason, we want to apply coincidence to one endpoint of one curve and center of another. Yet another alternative: if a circle is selecter, replace the coincident icon with a "concentric" one.

[2022-11-04 07:15] PaddleStroke commented on #7546
My take on the matter:
-> Just enable selection of 2 circles with coincidence tool. When user select 2 circles edges with coincidence tools, it creates a coincidence of their centers.
 This way coincidence tool acts as 'concentric tool' and we don't have more tools cluttering the constraint toolbar (which is already so crowded).

[2022-11-04 09:16] Glitchy-Tozier opened #7701 "[Bug] Recomputing causes mouse-button to get locked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=72947

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

**Steps to Reproduce**

1.    Open attached file
1.    Use Blender-Navigation (it might happen with others, t

[2022-11-04 10:44] FEA-eng commented on #7546
That's right, in the referenced forum thread we agreed that this should suffice for now.

[2022-11-04 12:07] PaddleStroke commented on #7546
I have done this. It works as expected.
https://github.com/FreeCAD/FreeCAD/pull/7703
I will let you @FEA-eng follow the PR, find a merger willing to look into it and get it merged.

[2022-11-04 12:15] luzpaz commented on #7701
Confirmed on the forum thread

[2022-11-04 12:59] WandererFan commented on #7689
fixed by pr7694. Closing.

[2022-11-04 12:59] #7689 closed

[2022-11-04 13:02] FEA-eng commented on #7546
Great, thank you. I will add a link to this PR in the referenced forum thread and try to attract some mergers.

[2022-11-04 13:56] KeithSloan commented on #7587
Checking with Munther

Hi Keith,

Yes, Max row/column with data.

Thanks,

Munther

On Thu, Nov 3, 2022, 10:24 PM Keith Sloan <keith@sloan-home.co.uk> wrote:

    Munther

    I assume what is required is the largest row/column with data, want to check with you before I respond

    Thanks Keith

    Also if you check the thread others have ask for this in the past.

[2022-11-04 14:24] Syres916 commented on #7629
Apparently the clarification that @PLChris made isn't good enough for the merger/maintainer so I'm closing the PR.

[2022-11-04 14:34] luzpaz commented on #7689
Linking to #7694

[2022-11-04 14:44] luzpaz commented on #7666
@gimpox traditionally you also include the workaround in the above reply for posterity

[2022-11-04 14:49] luzpaz commented on #7516
@adrianinsaval thank you!

@chennes I agree. Lets close and open an issue for 'Cancel' button.

[2022-11-04 14:57] luzpaz commented on #7659
Who wants to tackle this?

[2022-11-04 15:22] chennes commented on #7587
I think it would be a pretty fast calculation to make in the C++ code: I wouldn't expect the function to be called that often, so we can likely just brute-force it for the time being. It's probably really a set of four functions:
[code]

[2022-11-04 15:46] chennes commented on #7673
Closed by https://github.com/FreeCAD/FreeCAD/pull/7699 -- thanks to @PaddleStroke for coding this up.

[2022-11-04 15:46] #7673 closed

[2022-11-04 15:58] KeithSloan commented on #7587
Having to resort to

[code]

This is being called for every defined Matrix, so potentially a lot, so they are being called often.

To quote a wmayer forum post
[code]
Would it really be such a hard thing to add bindings for these functions?

[2022-11-04 16:24] chennes commented on #7587
No, not at all, sorry I wasn't clear. It's that there _is no function_ to add a binding to at all right now: even the C++ doesn't provide simple access to "what is the highest row used?" and "what is the highest column used?" So I'm proposing that we write the aforementioned four functions in C++ (which will be fast), and then write Python bindings to those (which will be easy). If they are going

[2022-11-04 16:26] KeithSloan commented on #7587
Thanks for making things clearer. I think python bindings for new C++ functions would be a good approach.

[2022-11-04 16:50] rahmanshaber commented on #7516
@adrianinsaval that cancel button in the measurement tool won't put the measured value after you close that dialog. But if user clicks okay then the measurements will be there with the part

[2022-11-04 17:13] donovaly commented on #7629
Sorry, but this is no good behavior.

The bug reporter proposed to have the sketch always shown, another poster said it would also be sufficient to show it only when in selection mode. So we need to make a decision. I am more with the bug reporter because it is helpful to see the sketch when creating revolutions.

The second issue is consistency. People complain about this so we should take care.

[2022-11-04 17:25] PaddleStroke opened #7704 "[Feature Request] Add validate sketch to PartDesign helper toolbar + fix sketch menu in PartDesign."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73184

### Subproject(s) affected?

PartDesign

### Idea description

PartDesign sketcher commands :
1 - MENU : has 'Leave sketch' 'viewSketch'. They are disabled outside edit mode so totally useless there.
2 - MENU : Doesn't have 'EditSke

[2022-11-04 17:28] PaddleStroke opened #7705 "[Feature Request] Workbench selector in menu bar."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=72431

### Subproject(s) affected?

Core

### Idea description

Add option to have workbench selector in the menubar.

Advantages:
- Less clutter in toolbar
- wb selector is more visible. For new users it will be easier to find, understand

[2022-11-04 17:45] PaddleStroke opened #7706 "[Feature Request] Document tabs, make background clear."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73187

### Subproject(s) affected?

_No response_

### Idea description

Turn the document tab background to transparent. Increasing the 3D view.
![image](https://user-images.githubusercontent.com/19984177/200041691-17463b24-b901-4e4f-b973

[2022-11-04 19:01] PAS-DRAFTER commented on #7575
@chennes I went out and downloaded the latest weekly build and installed on my other computer.

[code]
OS: Windows 10 Version 2009
Word size of FreeCAD: 64-bit
Version: 0.21.30716 (Git)
Build type: Release
Branch: master
Hash: cbd19631428f1d9eb4faae30220551608a648589
Python 3.10.6, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC 7.6.3
Locale: English/United States (en_US)
Installed mods:
  * Assembly4 0.12.

[2022-11-04 19:23] adrianinsaval commented on #7546
Great job paddle, I think your solution is exactly what I had imagined for this

[2022-11-04 19:57] chennes commented on #7546
It's been merged, thanks @PaddleStroke.

[2022-11-04 19:57] #7546 closed

[2022-11-04 20:02] chennes commented on #7575
I believe what you are referring to is https://github.com/FreeCAD/FreeCAD/issues/7511 -- can you confirm?

[2022-11-04 20:59] PAS-DRAFTER commented on #7575
@chennes I would say the bug is similar to the one described there with a few exceptions.

1) I don't have to delete the top row.  I can delete other rows beside the top one and can get the system to show errors on the calculations. and the console (after a clear) shows this (There are a lot of calculations on this page, so there are a lot of errros);

`13:38:17  <Spreadsheet> Cell.cpp(642): Sprea

[2022-11-04 21:12] chennes commented on #7575
The steps to reproduce #7511 also indicate that Refresh does not resolve the issue, I believe. So I don't think at this time it's necessary to open a whole new bug report for the Undo issue, I'm going to just make sure there's a back-link to this one. Since the basis of this particular ticket was solved I'm going to close it, with the understanding that there is still an undo issue with Spreadshee

[2022-11-04 21:12] #7575 closed

[2022-11-04 21:13] chennes commented on #7511
See also the comments at the end of the #7575 issue report: another user reports a similar Undo issue with Spreadsheet, so this appears to be a pretty widespread problem.

[2022-11-04 21:18] #7704 closed

[2022-11-04 21:36] chennes commented on #7587
OK, have a look at PR #7697, which I think will provide what you need. I collapsed the functions to provide both the upper and lower bounds of the used range in a single function call.

[2022-11-05 00:00] adrianinsaval opened #7709 "[Bug] No icon for macros in startpage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

none, thought this was going to be removed?

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Issue description

unlike FCStd files macros are shown without an icon in the startpage:
![image](https://user-images.

[2022-11-05 03:57] Axeia opened #7713 "[Bug] Default Editor font on Windows (10) is not a monospace one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73199&p=638721

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Under Windows 10 (I have not tested other Operating Systems) on a fresh install the default font

[2022-11-05 09:58] meropsa opened #7714 "[Bug] [TD] Temporary Template Dir locked when saving as ..."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?style=1&f=13&t=72998

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

when saving an existing file using a new name, the template gets locked (cannot open file ...)
![2022-10-

[2022-11-05 14:24] TomMuc1 opened #7772 "[Bug] display -> colors -> simplecolor does not work (v0.20.1 on macos 13.0)"
bug - 0.20.1 (macos 13.0) - display -> colors -> simplecolor does not work

[2022-11-05 16:45] #7686 closed

[2022-11-05 18:10] #7629 closed

[2022-11-05 18:19] donovaly commented on #7629
@wwmayer So you decided only to have this for revolutions? What about the other PD features?

We recently had long debates about consistency and when I start to act accordingly people are pissed. It seems I can do what I want, and it is wrong.

What would have been the correct way here? Should I have merged it, then started a discussion? Or make a PR on my own? or extending the PR?

Can I at least

[2022-11-05 18:33] wwmayer commented on #7629
The forum topic is only about revolutions and if other PD features should be changed then I think people should open new tickets for each of them. I don't like tickets that address several slightly different issues.

[2022-11-05 19:08] donovaly commented on #7629
The point is that users see their particular issue. That is where the inconsistencies come in. Therefore we mergers have the duty to check PRs for this too. And nothing else is what I did. The PR alone was OK.

I will now make a PR to fix the issue for the other PD dialogs.

[2022-11-05 19:59] donovaly commented on #7629
here it is: https://github.com/FreeCAD/FreeCAD/pull/7722

[2022-11-05 22:06] pathfinder555 commented on #7629
Well, not exactly. I mentioned revolutions specifically because that's where it affects me personally the most, but I kept it open enough to include other tasks. The title of the forum discussion is "keep sketches visible during tasks".

Consistency-wise, there's two ways of thinking here:  either you keep it consistent in the sense that it works in every task where it does serve a purpose (i.e. w

[2022-11-06 05:19] abdullahtahiriyo commented on #7657
That the naming inside edit mode and outside edit mode are different is well know. There is the intention (already from a couple of years), to solve this use the solution RT uses in his fork. This solution is intertwined with toponaming. RT's fork and FC main use a common way of storing a common id to be the same inside and outside edit mode, which is used in RT's fork and is currently unused by F

[2022-11-06 09:18] wwmayer commented on #7629
For Pad or Pockets there is a certain downside when trying to select a reference axis because choosing any line of a sketch will result into an invalid extrusion.

So, it's fine to discuss for every PD operation where it's beneficial to see the sketch but not to make it visible everywhere because of consistency reasons.

[2022-11-06 13:40] Zolko-123 commented on #7657
@abdullahtahiriyo : yes, I know, that's why I (also) said that this should be solved with the upcoming toponaming merge. What I wished here is to set a test-case for this toponaming merge. As a summary, there are 2 distinct issues at hand:

1. there are overlapping names in edit and 3D mode, as in [Document.Part.Sketch.Edge2](https://github.com/FreeCAD/FreeCAD/issues/7657#issuecomment-1294888306)

[2022-11-06 14:32] donovaly commented on #7629
@pathfinder555 to conclude: please open a new forum thread to discuss if Sketches that were visible are kept visible when using them for a PartDesign operation. If people agree, open a new issue and list there for what PartDesign features this should be done.

[2022-11-06 15:57] MisterMakerNL commented on #5772
I picked it up a bit but still the hard work of making the coding has to be done:
![afbeelding](https://user-images.githubusercontent.com/29804962/200181000-51f7ca39-3c3c-493a-82f5-677e0e2dda2a.png)
Screenshot is from QT designer.

[2022-11-06 17:25] tijtij commented on #6793
I was able to get the crosshairs cursor to appear and get snapping to work normally by going into macOS' System Preference and selecting **Default for Display** as the display resolution. Neither changing the resolution back to **Scaled**, rebooting macOS, or attaching an external display caused the bug to reappear.

The only issue I am still experiencing is that snapping only works on one side of

[2022-11-06 19:02] WandererFan commented on #7714
duplicate of #7376?

[2022-11-06 19:43] sliptonic commented on #5772
If the user intends to do CNC/CAM they need to select a unit schema that supports velocity as units/min and not units/second.  For example "metric, small parts and CNC".

Perhaps selecting intended use could trigger subsequent wb specific configuration or 'tips'

[2022-11-06 20:12] MisterMakerNL commented on #5772
@sliptonic Good point I also was thinking about it, same is for Techdraw settings like sheet formats.
Although my main worries are currently just getting this too work. Adding stuff later would probably not be too hard.
So start simple, get it too work and test it in 0.21 while it isn't released. Then adjust or scrap.

[2022-11-06 22:25] silopolis commented on #5772
Le dim. 6 nov. 2022 à 20:43, sliptonic ***@***.***> a écrit :

👍

Perhaps selecting intended use could trigger subsequent wb specific

Or maybe move the units choice bellow intended use as it is indeed very
much linked to it?
The most probable option could then be selected depending on language and
use choices.

[2022-11-07 09:02] onekk commented on #5772
Why "intended use", im my opinion this could lead to some misunderstanding, as it may seems that the configuration is settings things for a specific use.

Probably something that will explain clearly that this will not prevent to use FreeCAD for other use will be welcomed.

And probably less granular things in first screen, I could think of "three big areas" where FC could be used:

- Mechanical d

[2022-11-07 17:04] #7687 closed

[2022-11-07 17:12] WandererFan opened #7733 "[Feature Request] TechDraw: Allow Annotations to be positioned other than by center of text"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://www.forum.freecadweb.org/viewtopic.php?f=35&t=73243

### Subproject(s) affected?

Techdraw

### Idea description

Annotations are currently position by the center of the text.  If the text is changed, the position may change.  It would be convenient to use other anchor points, su

[2022-11-07 17:39] sliptonic opened #7734 "[Problem] The contribution policy allows for structurally problematic code to be merged."
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73127&start=30#p639075

### Subproject(s) affected?

_No response_

### Idea description

Werner raised the concern that the defined process places too much bias on merging a PR.  If the PR passes tests, solves a problem but includes dange

[2022-11-07 18:22] chennes commented on #7734
If one maintainer wants to merge, and a second does not, how long do we wait to see if a third maintainer weighs in?

[2022-11-07 18:41] luzpaz commented on #7520
@PaddleStroke if you have a moment, can you take a look at this ?

[2022-11-07 19:41] luzpaz commented on #5917
Good news: Upstream has fixed this issue in OCC v7.7.0
See https://tracker.dev.opencascade.org/view.php?id=24418
Ref: https://forum.freecadweb.org/viewtopic.php?f=10&t=20264

[2022-11-07 19:41] #5917 closed

[2022-11-07 19:43] luzpaz commented on #6488
As mentioned above, Upstream has merged @wwmayer's fix in to OCC 7.7.0.
Upstream: https://tracker.dev.opencascade.org/view.php?id=32863
Ref: https://forum.freecadweb.org/viewtopic.php?f=10&t=20264

[2022-11-07 19:43] #6488 closed

[2022-11-07 19:59] chennes opened #7736 "[Issue] Bad error message when Addon Manager proxy is invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Addon Manager

### Issue description

From the Facebook post by "Sven Pedras":

[code]

The bad error message is due to the Addon Manager assuming that a string-to-int conversion will succ

[2022-11-07 20:33] sliptonic commented on #7734
Do you think that needs to be spelled out?  I expected this would play out that a Maintainer, looking at the code, has misgivings and asks other maintainers for opinions.  They (we?) would be seeking a consensus opinion on moving forward.

[2022-11-07 20:52] chennes commented on #7734
You're probably right, I'm just trying to think through the implementation challenges. If the system is working, then yes, a maintainer with misgivings asks for a second opinion, gets one, and we move on. The failure mode I'm worried about is a single maintainer with misgivings says they have misgivings, opens it for commentary, and gets no further responses. Is the maintainer with misgivings then

[2022-11-07 21:06] WandererFan commented on #7734
One Maintainer being uncomfortable should be enough to challenge a PR.  A "challenged" PR should then need the agreement of two Maintainers to proceed.

[2022-11-07 21:19] sliptonic commented on #7734
The overall bias of the policy should be toward merging.  In other words, unless there's a good reason to _not_ merge, you merge.  Holding back a PR should be the exception and the burden of proof should be on the maintainers.

IMHO, a single developer's misgivings about code quality (given that the PR already passes tests and solves a previously identified problem) isn't a high enough bar.

If tw

[2022-11-08 01:36] luzpaz commented on #7517
@adrianinsaval do you want to tackle this? :stuck_out_tongue_winking_eye:

[2022-11-08 01:44] luzpaz commented on #7439
bump

[2022-11-08 01:50] luzpaz commented on #6992
Related:
#7712
#7677
#7647

[2022-11-08 01:53] luzpaz commented on #6413
@chennes can we close this ?

[2022-11-08 02:00] luzpaz commented on #5547
@kaktusus did someone make a workaround for this?

[2022-11-08 02:47] adrianinsaval commented on #7517
I agree with the request but don't really know how to do it so it's gonna be a pass from me for the time being, perhaps at a later time I'll learn some about all the transaction and undo mumbo jumbo.

[2022-11-08 03:48] chennes commented on #6413
I can easily clean up the last couple of `sys.version_info` checks, but there are still quite a few "py2" search results in the codebase.

[2022-11-08 04:51] #7659 closed

[2022-11-08 05:09] kaktusus commented on #5547
it seems to me that nothing was happening on this topic.

[2022-11-08 09:31] boothdcb commented on #6772
I too have been trying to do this, without success. I can create a solid from a lithophane, using the Part workbench, but then I can't integrate it into a model for milling. I'm interested in creating plaques for house signs, which incorporate the name of the house together with a carved image.

[2022-11-08 10:51] NielsJac opened #7742 "[Issue] "Recent files" not working - lists just one file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The recent files list shows only one file, which is not the most recent.

Workaround:
In Parameters, Preferences, RecentFiles:
I added empty Text

[2022-11-08 11:54] PaddleStroke commented on #7520
I had a quick look, but couldn't find the root. The drawing is a part of the code that I don't know so it's hard to find.

[2022-11-08 15:44] wwmayer commented on #5965
Actually you should always do it.
[code]

You can have a look at ObjectIdentifier::toString() but honestly I don't understand the logic there. The code is too complicated and I am not sure if it still exactly does what the documentation says.

[2022-11-08 16:01] #7736 closed

[2022-11-08 16:23] gotchoices opened #7745 "[Bug] Tabs switch unexpectedly when multiple documents open on MacOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?style=3&p=493530

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

To reproduce:

- Be on MacOS platform (as far as I can tell)
- Create two separate new documents.
-

[2022-11-08 16:38] adrianinsaval commented on #5965
I looked but didn't understand it either :(
I had made a PR for this actually if you could have a look #7688 I just constructed the expression differently for each case but ideally `toString` should give consistent output.

everything is happening inside this loop+conditional:
https://github.com/FreeCAD/FreeCAD/blob/d767a923a39d4a9bd8a0e248981e8b83fe12984f/src/Mod/Sketcher/App/SketchObject.cpp#L61

[2022-11-08 16:46] gotchoices commented on #7745
I just posted and funded a bounty for this issue:

[Here:](https://app.bountysource.com/issues/113496043-switches-tabs-unexpectedly-when-multiple-documents-open-on-macos)

[2022-11-08 16:55] #7713 closed

[2022-11-08 17:23] gotchoices opened #7746 "User/Document/Feature level units selection [Feature Request] <title>"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=34&t=34834

### Subproject(s) affected?

Core

### Idea description

This would allow the user to specify preferred display units at three prioritized levels:

- User Preferences (most general default)
- Document (project/part file)
- Feature

[2022-11-08 17:30] gotchoices commented on #7746
[Here](https://app.bountysource.com/issues/113499254-user-document-feature-level-units-selection-feature-request-title) is the issue on bountysource.com.

If you're interested in supporting this feature, consider adding to the bounty.

[2022-11-09 04:39] chennes opened #7752 "[Problem] PR Template does not match CONTRIBUTING.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Problem description

The [Pull Request template](https://github.com/FreeCAD/FreeCAD/blob/master/.github/PULL_REQUEST_TEMPLATE.md) does not match the requirements in CONTRIBUTING.md -- it

[2022-11-09 12:07] PaddleStroke opened #7756 "[Feature Request] Tree and Task transparency (inspired by Link Branch)"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=34&t=73280

### Subproject(s) affected?

Core

### Idea description
Problem: Summary
UI (particularly treeview) elements consume a large amount of screen space in efforts to support displaying large amounts of relevant information while modeli

[2022-11-09 13:07] #7752 closed

[2022-11-09 13:08] #6413 closed

[2022-11-09 14:14] 0penBrain commented on #7756
Hmmm. Where is the property pane ? It's of high importance in most workflows.

[2022-11-09 14:35] obelisk79 commented on #7756
I believe that just happens to be hidden in that screenshot. In LinkStage builds, panels can be configured to "AutoHide" or collapse when not active.

[2022-11-09 14:35] PaddleStroke commented on #7756
Most workflow ? I never ever used it. My thoughts are rather that it is not used by most people. But that's another topic because it's not removed by RT. I think there's just a setting to auto-collapse this pane.

[2022-11-09 15:41] PaddleStroke commented on #7756
Sorry what? You're joking right? Please read again you message. Then read again mine.
You say :

By which you're doing exactly what you accuse me of doing. You take your own limited usage of FC, and decide that most workflows use it. You don't even say 'I think that'. No you say : it's like that period.

I questioned your comment, because you just claim to be omnipotent on all the usage of FC, by

[2022-11-09 15:43] PaddleStroke commented on #7756
@obelisk79 could you perhaps make a screenshot using the default UI but with the transparency (I don't have the link branch actually)? Maybe two screenshots, one with the property collapsed and one shown.

[2022-11-09 16:52] luzpaz commented on #7709
I think we should make it the 1st one macro editor icon.

[2022-11-09 16:53] luzpaz commented on #7709
ping @yorikvanhavre where is the code for this located ?

[2022-11-09 16:54] luzpaz commented on #6309
@WandererFan does this have anything to do with Complex Section ?

[2022-11-09 16:56] luzpaz commented on #5772
Note: this is also being discussed:
* on the forum: https://forum.freecadweb.org/viewtopic.php?f=34&t=71277
* https://github.com/howie-j/FreeCAD-Wizard

@MisterMakerNL where are you working on your template?

[2022-11-09 16:57] luzpaz commented on #7450
@goatchurchprime ping

[2022-11-09 17:32] MisterMakerNL commented on #5772
@luzpaz I also forked it. https://github.com/MisterMakerNL/FreeCAD-Wizard

[2022-11-09 17:54] luzpaz commented on #5761
Can this ticket be closed ?

[2022-11-09 18:43] tonyhain opened #7757 "[Problem] Pad/Extrude geometry failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

[Feather_Boards.zip](https://github.com/FreeCAD/FreeCAD/files/9973945/Feather_Boards.zip)
<img width="936" alt="Feather_board" src="https://user-images.githubusercontent.com/25813240/200

[2022-11-09 21:03] oficinerobotica commented on #7756
Please read all and most of all excuse my English.

Just to be all on the same page I thought I'd give some examples of the overlay while actively using it on a  small project.
The most important thing to note here is that @realthunder 's implementation doesn't actually remove or modify the current state of the UI but instead just extends the functionality taking advantage of some QT capabilities.

[2022-11-09 21:45] PaddleStroke commented on #7756
Thanks for the detailed description !
So if we can merge is as it is, it would be a clear benefice, as you stated default doesn't change at all, it only adds customization capacity.
Now the question is, how do we go to merge those? Do you know if it's in RealThunder's plans? Or one of use should cherry pick the right commits? Though I'm afraid that there might be a lot of commits and getting them

[2022-11-09 22:21] oficinerobotica commented on #7756
From my limited understanding and what Realthunder has said in an interview, the overlay code is pretty much self contained and to his telling it should be one of the easier merges (lol)  .... I'm making assumptions and I would like him to weigh in this conversation.

Having this capability combined with preferences packs in master would be a incredible addition. I strongly belive its worth the ha

[2022-11-09 23:03] grubertechnic commented on #7757
You have added some overlapping geometry on the 3rd teeth. So it clearly a user error, please someone close this ticket.

2 things:

 - This is the weirdes way to do a geometry with a pattern. Use PartDesign Pattern, with that you spare around 97% of the work you hve done here.

 - This is not helpdesk, for questions please use the FreeCAD form.

Thanks

[2022-11-09 23:22] LarryWoestman opened #7758 "[Problem] Regression caused by the Path rearranging of a few weeks ago."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Problem description

The Path rearrangement of a few weeks ago broke "./FreeCAD -t PathTests.TestPathPost".

I think that I am the only person actively using that test since it is used to compare the original and

[2022-11-10 02:46] tonyhain commented on #7757
Thanks for the reply.
1) I was not expecting help desk support here
2) the noted overlap explains the Cura output but not the convoluted display in FreeCad. If the shading is intended to identify overlap, that color pattern is not intuitive as a geometry overlap.
3) I have had nothing but failure using the Part Design Pattern tool (starting with it's unidirectional function), so I switched to Sket

[2022-11-10 03:18] #7757 closed

[2022-11-10 04:49] mlampert opened #7762 "PR #7428 got mangled during merge"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=71059&start=10

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

see title

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project'

[2022-11-10 05:27] realthunder commented on #7756
Yes, I plan to submit the changes. Just not sure when. Since now it's brought up, maybe I'll give it a try. The transparency overlay capability alone is kind of limited to just a few files. So it might not be difficult after all. Not sure though.

[2022-11-10 06:44] mmatthe opened #7764 "[Issue] Rendering bug when changing parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

In attached file [Spiegel.zip](https://github.com/FreeCAD/FreeCAD/files/9977997/Spiegel.zip), when I undock the document view and change the parameter

[2022-11-10 09:29] grubertechnic commented on #7764
You have two circular references, espacally on the changed parameters. See dependency graph. So it is an user error.

Besides this is not a helpdesk, for user questions please use the forum. Thanks.

[2022-11-10 09:53] PaddleStroke commented on #7756
Hi @realthunder,
Sounds awesome. Looking forward testing that PR :)

[2022-11-10 10:03] hu-stefan opened #7765 "[Bug] [Arch] Slab has an invalid Shape"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

I want to create an slab with the arch workbench.

I use the structure tool and select the following parameter:
![image](https://user-images.githubuse

[2022-11-10 11:05] luzpaz commented on #5638
@yorikvanhavre should we close this ticket and open tickets for the rest of the features that are remaining ?

[2022-11-10 11:20] luzpaz commented on #7765
I can reproduce this on but is this the intended workflow ? CC @paullee0

OS: Ubuntu Core 20 (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.21.30921 (Git) Snap 417
Build type: Release
Branch: master
Hash: 7acc67ea43797441948b405cd0e925775b62eadf
Python 3.8.10, Qt 5.15.5, Coin 4.0.0, Vtk 7.1.1, OCC 7.6.3
Locale: English/United States (en_US)
Installed mods:
  * TabBar
  * ExtremeProDark 2.3.3

[2022-11-10 11:48] luzpaz commented on #7764
@mmatthe to understand the issue better open a discussion and ask on the Help forum. If you indeed did find a bug please re-open this ticket.

[2022-11-10 11:48] #7764 closed

[2022-11-10 11:58] luzpaz commented on #7742
Can't reproduce on
[code]

Can you please open a forum thread and have others try to reproduce. I'm closing this ticket in the meantime so it doesn't rot. x-post the discussion back to this ticket please. Also open discussion about the buggy issue with new string as well so we can take a look at that.

[2022-11-10 11:58] #7742 closed

[2022-11-10 11:59] luzpaz commented on #7762
@mlampert also #7758

[2022-11-10 17:18] luzpaz commented on #7756
@realthunder JFYI, @PaddleStroke opened this ticket expressing interest in helping port this feature over. Since there haven't been many folk (AFAICT) that have stepped up to offer this, perhaps there may be room for sharing/discussing this with interested parties (like @paddlestroke) ?

[2022-11-10 17:21] obelisk79 commented on #7756
@realthunder @oficinerobotica
I have used LinkStage exclusively for over a year in the past, so I'm rather familiar with the overlay changes. I found over-time that I came to dislike the Auto-Hide functionality of the panels, would it be possible to add a sort of hide-able drawer feature, where a user could click a widget and have the panel slide out of view and then click to bring back to view as

[2022-11-10 19:13] KeithSloan commented on #7587
Munther has looked at the code and here are his comments and I think we are good to go.

Hi Keith,

I looked at the diffs on github. There seems to be two sets of routines, one set returns "used cells" and the other returns "non empty cells". It is not clear to me what a used but empty cell is. Perhaps the documentation can make that clear.

Also, the documentation for the getNonEmptyRange() metho

[2022-11-10 19:54] macdroid53 opened #7770 "[Issue] Sketcher Trim tool inconsistent behavior"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=640095#p640095

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When using the trim tool line/line or line/arc or line/circle the resulting end vertexes are marked

[2022-11-10 20:34] chennes commented on #7587
Excellent, thanks for the comments. I'll get this merged.

[2022-11-10 20:36] #7587 closed

[2022-11-10 20:43] AjinkyaDahale commented on #7770
Authorized people can assign this to me. This can only be fixed after point on b-spline is merged, otherwise the constraint can be (temporarily) malformed.

[2022-11-10 21:09] luzpaz commented on #7772
Transferred this ticket from FreeCAD-Bundle to main FC repo because this may not be related to Conda build only.

[2022-11-10 21:50] #7762 closed

[2022-11-10 21:54] chennes commented on #7587
Also, @KeithSloan, you can tell Munther that the difference between "used" and "non-empty" is that a cell is "used" if it has either data or formatting in it, but is only non-empty if it has data.

[2022-11-10 22:19] sliptonic commented on #7666
Have you tried this again with the current master?  I took the file from the forum deleted the jobs and recreated as best I could.  It seems to work correctly.
If the problem persists, can you please attach an updated project file showing the bug?

[2022-11-11 03:57] paullee0 commented on #7765
Indeed, not much description about this workflow in the wiki
https://wiki.freecadweb.org/Arch_Structure

Probably broken somehow at some point :D

[2022-11-11 15:47] sliptonic commented on #7666
I'm closing this for now.  I'll happily re-open it if shown that the problem still exists.

[2022-11-11 15:47] #7666 closed

[2022-11-11 17:01] gimpox commented on #7666
New problem here after your patch.
When I open my old file with the build 30922, my object tree is destroyed. If I switch back to my previous build 30377 all is ok.

I attach a picture:
![30377vs30992](https://user-images.githubusercontent.com/16726551/201390857-f730599b-5579-44da-85fe-672d69461c85.jpg)

I attach also my FCstd file:
[Ring_light.zip](https://github.com/FreeCAD/FreeCAD/files/9992147

[2022-11-11 17:06] sliptonic commented on #7666
This is not a problem but a known side-effect of the source reorganization.  https://forum.freecadweb.org/viewtopic.php?f=15&t=71610

[2022-11-11 17:21] gimpox commented on #7666
OMG... so I have to rebuild the jobs for all my stuff from scratch???
I will stick to version 30377 in that case. I have a life out of this PC...

There is no routine/script that I can launch on Linux to produce a new FCstd file compatible with the new changes?

[2022-11-11 17:26] WelchITConsulting opened #7787 "[Issue] FreeCAD 0.20.1 crashes on startup on MacOS 11.7.1 Big Sur"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When attempting to start FreeCAD the application crashes and generates a fault report which gives no clue as to why the application has crashed. I the

[2022-11-11 17:32] sliptonic commented on #7666
Yes.  Unfortunately, long term you'll need to rebuild.  I have several large projects in the same condition.
That's why we tried to give lots of heads up about that change and get it done before a future 1.0 release.

[2022-11-11 17:35] gimpox commented on #7666
Now I'm in troubles... shit... (sorry for the french word).
Please check my reply in
https://forum.freecadweb.org/viewtopic.php?p=640337#p640337

[2022-11-11 17:42] sliptonic commented on #7666
I sympathize.  My plan, when I get around to converting the jobs is to have an old appimage and the current FreeCAD running at the same time and open side by side.   I'll walk through the jobs and operations recreating each one and copying over the settings.
I will compare the gcode results with the inspect tool until they're the same.
It'll be a pain in the butt but shouldn't take me more than ha

[2022-11-11 17:52] gimpox commented on #7666
Having two Freecad applications on my PC seems the only way to survive. (One for the old projects, and one for the new projects.)
We can continue this discussion on the forum. Maybe you can post there some tricks that could help people to "migrate" in the new "fantasting and astonishing world" of version 1.0 : ) : ) : )

[2022-11-12 13:14] WandererFan commented on #7734
You'll get conflict any time a merge is disputed under any system.  Let's try it as written and see how it works.  We can always change the rules if they don't work out.

[2022-11-12 14:34] sliptonic opened #7790 "[Problem] CAM: User can't easily create gcode to countersink/counterbore holes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Problem description

The Path workbench has a drilling operation but does not have a countersink or counterbore operation.
Countersinking and counterboring are similar to drilling but workflow may vary in importa

[2022-11-12 14:36] sliptonic commented on #7790
First let's talk about the workflow.
Can we expect that the user will model the countersink/counterbore?

If it isn't modeled directly, what parameters would the user need to configure in a task panel?

[2022-11-12 14:50] GeneGH commented on #7790
I think the goal of the Path WB should be to match the FC model. Various dressups, such as dogbones and tabs are either functions that attempt to better match the model or that attempt to facilitate manufacturing.

Countersinks and counterbores are neither. They should be modeled directly.

With that said, there may still be extra processing performed by the Path WB to help match the drawn feature

[2022-11-12 16:35] #7714 closed

[2022-11-13 11:52] n3ws opened #7791 "[Feature] [PartDesign] Linear Pattern With Single Occurrence Fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Setting the number of occurrences to 1 causes Recompute failed error.
According to the documentation, LinearPattern with 1 occurrence is allowed:
http

[2022-11-13 13:48] realthunder commented on #7756
@obelisk79 What you are proposing does not seem to be related to the overlay feature, or I am misunderstanding? Did you mean to click the arrow to show the sketch edit panel or the tree view? If it is the tree view, the current implementation has an option to show the tree view only when user click inside a hint area on the edge. It will still auto hide the panel when lose focus. Sure, I can make

[2022-11-13 15:09] luzpaz commented on #7787
@WelchITConsulting how are you installing FreeCAD, it looks like you're using the conda build, right? Please run FreeCAD from the command line `/path/to/FreeCAD --version --verbose` and paste.

Looks like it may be associated with Qt specifically qt5webengine ?
Links:
https://bugzilla.redhat.com/show_bug.cgi?id=1920379
https://github.com/Homebrew/homebrew-core/issues/104008

[2022-11-13 15:14] luzpaz commented on #7787
From [Qt bugtracker](https://bugreports.qt.io/browse/QTBUG-85576?focusedCommentId=519859&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel)

CC @looooo

[2022-11-13 15:16] luzpaz commented on #7765
We probably need a unit test for this function as well in order to avoid regressions in the future

[2022-11-13 16:42] WelchITConsulting commented on #7787
I installed FreeCAD using the FreeCAD_0.20-1-2022-08-20-conda-macOS-x86_64-py310.dmg package available on the website download page.

The information I previously provided was from executing the application from the command line as trying to execute it graphically just failed without error. I have run it again using the version and verbose switches as specified which gave a popup with the followin

[2022-11-13 17:11] grubertechnic commented on #7791
@luzpaz

Even i the documentation it is not noticed that the occurrence 1 is allowed, never was, since you have divide through it, which makes the result invalid. So this is no bug and works as expected. This is a feature request.

Thanks.

[2022-11-13 19:00] n3ws commented on #7791
Upon rereading the documentation I see that it talks about features,
not occurrences. Sorry about mixing those. Please consider adding
this as special case so that single occurrence simply does nothing,
because it makes sense for parametric designs.

[2022-11-13 19:16] Zolko-123 commented on #7734
I don't agree. There is a universal good reason _not_ to merge: maintenance. Take the workbench selector that some people wanted to put in the menubar: since it was optional, it could be assumed that merging it wouldn't cause any problems. But then, in a few years time, when Apple or Microsoft change their API, suddenly this will stop working, while the Qt part will work. Then, somebody _else_ mus

[2022-11-13 19:25] Zolko-123 commented on #7756
What is the difference between this and the [Glass addon](https://github.com/triplus/Glass/blob/master/README.md) ?

[2022-11-13 19:32] Zolko-123 commented on #7756
No, this is **NOT** the question: the question is "_What does this provide that a long-time existing solution (Glass addon) does not ?_ " Until this is reliable answered I vehemently oppose this merging.

[2022-11-13 19:33] PaddleStroke commented on #7756
Please stop wasting other people time when you don't even take the time to read the thread here and on the forum.

[2022-11-13 19:37] Zolko-123 commented on #7705
but more in the menubar

please provide proof.

[2022-11-13 19:38] #7705 closed

[2022-11-13 19:39] PaddleStroke commented on #7705
This has merged as an option. Please stop wasting time of others when you're not following the topic. This is happening every time you post so it's getting really annoying.

[2022-11-13 19:44] Zolko-123 commented on #7756
First you'll answer my question:

All it says here is that "_Unlike the "Glass" addon, these changes also allow for 'click-through' of the transparent areas of a panel_ " and no, I will not read all the crap that **YOU** write all over the forum. So if that's the only benefit, than I oppose this merge.

[2022-11-13 19:46] n3ws commented on #7791
Here is a relevant discussion from Freecad forum:

[https://forum.freecadweb.org/viewtopic.php?style=10&f=8&t=54085&start=10](url)

It appears that single occurrence was working in version 0.19.23578
Maybe this is a regression?

[2022-11-13 20:24] PaddleStroke commented on #7756
This is one too much.
If your life is crap you don't have to release your anger on people on the internet. This is just so lame, I would go as far as say that it's pathetic.
Go outside and get your ass seriously kicked by being such a moron and maybe that habit will pass.
Please stop talking to me in any way.

[2022-11-13 20:57] luzpaz commented on #7756
Hey now.. settle the heck down. Escalation breaks communication down. UI/UX duscussions are always so charged, yikes.

[2022-11-13 21:05] MisterMakerNL commented on #5772
I did some work on this this evening, but it is more learning QT then doing a lot of progress....
Found this commit from another project, which shows pretty much how it is done. Although the screenshots show a massive ui. And I cannot find the ui.
https://github.com/Nazardo/QEbu/commit/88c602ebd8751b06784e59e17c19c859c1231b02
I made it this far:
![afbeelding](https://user-images.githubusercontent.

[2022-11-13 21:09] PaddleStroke commented on #7756
For other people's reference, because my initial reply to zolko may look angry and I don't want to look like a jerk :
'Stop make people waste their time' is a direct quote from zolko. He repeatedly post aggressive content, usually when he has not read anything and insult freely people.
If you want a sample of that you can look here : https://forum.freecadweb.org/viewtopic.php?p=639222#p639222

[2022-11-13 21:48] oficinerobotica commented on #7756
I feel like we are losing focus here .
Let's just try to keep this thread technical so who reads it has an idea of what is usefull to better the experience on freecad.
Until now there were posts exposing what could be the benefits but of course someone might see disadvantages that we may have overlooked like:
- the default UI is modified(it is not)
- the UI becomes slow (there were some problems a

[2022-11-13 22:10] MisterMakerNL commented on #7756
@realthunder already did all the hard work! Mucho gracias!
So I'd say just implement it so everyone can test it in the dev branch.
That's what the dev branch(0.21) is for isn't it?
Maybe it has bugs maybe not, you don't make any progress if you are afraid of making mistakes!
Although as a realthunder fanboy, he probably has this under control.💗

[2022-11-14 00:51] luzpaz commented on #7756
FWIW, I agree.

[2022-11-14 00:53] luzpaz commented on #5772
Nice job @MisterMakerNL ! Really appreciate your work on this!

BTW, some time ago @studiopetrikas shared an idea for a mockup that he made (although it's slightly off topic, i was more referring to the stylistic approach)
![Freecad mockup](https://user-images.githubusercontent.com/4140247/201550525-cd7045fd-71b2-4590-9783-d5ccf17c5d38.jpg)

[2022-11-14 01:20] berniev opened #7793 "Cleanup: constexpr names should not be UPPER_CASE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Macros and constexpr are very different animals.

UPPER_CASE constexpr names are misleading, and a range of other issues.

e.g. "Do not use ALL_CA

[2022-11-14 09:03] PaddleStroke commented on #7756
Me too.
Implementing as an option (without modifying default ui) have no valid counter argument.

The only debate that could be held is : should it be the default UI. My answer to that is : Let's first merge as an option. And when it's confirmed to work flawlessly, we can run a poll on the default ui.

[2022-11-14 09:06] 0penBrain commented on #7756
As long as it is an option (disabled by default) this is probably good to merge.
One thing that has to be checked before is how new code is intricated with current one (basically weigh how hard that will be to roll back if it has to be done in the future). ;)

[2022-11-14 09:51] FesixGermany opened #7795 "[Issue] Path: Tool paths don't stay where they should"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When using Path workbench and choosing a work coordinate system that is not aligned (offset and rotation) with FreeCAD's coordinate system and origin,

[2022-11-14 10:48] Zolko-123 commented on #7756
This violates 2 fundamental FreeCAD and open-source principles:

- as per the [new contribution policy](https://github.com/FreeCAD/FreeCAD/pull/7638/files) line 65:

There is no problem involved, no description of anything, AND the contributor wants to link to the forum which is explicitly forbidden (SHOULD NOT).

- it drives towards code-duplication, where an existing solution is ignored for a ne

[2022-11-14 11:07] luzpaz commented on #7795
Thank you, can you upload an example file (you can zip it and drag drop it here) TIA

[2022-11-14 11:24] MisterMakerNL commented on #7756
@Zolko-123 realthunder version has stylesheet support.

[2022-11-14 12:41] FesixGermany commented on #7795
I think I got where the problem is after some more testing.
I am very new to the Path workbench, as far as I understand now a job creates a copy of the selected solid which then is aligned to the global origin wich then is used as the work coordinate system. This is why all tool paths start at the global origin when they are displayed.
This is very confusing for me, I would like to have a new coor

[2022-11-14 12:44] realthunder commented on #7756
I wouldn't say ignored. My code draws inspiration from the glass Addon. And I acknownledged that in my forum post about my implementation.

This should actually be my counter argument. Because the Glass implementation has no option to have any kind of background, the text is often difficult to read, while mine has option for solid background, translucent background, text outline/shadow, or no back

[2022-11-14 13:10] PaddleStroke commented on #7756
Another advantage is that it's not an addon. I just tried to install glass addon, and on restart was greeted by error messages, a different stylesheet than I used and it was not working. I guess it needs some setup. Build in features just works.

Please go ahead @realthunder, everyone but one is supporting this.

[2022-11-14 13:48] realthunder commented on #7756
I might need to split the changes into two PRs, the first of which would be some supporting code changes in the Base module.

[2022-11-14 14:07] luzpaz commented on #7756
AFAICT glass addon hasn't really been improved or hacked on besides realthunder's work. He stepped up and did the work. All of it is optional to the end user to enable or disregard as they prefer. I'm +1

[2022-11-14 14:08] luzpaz commented on #7795
@FesixGermany please open a forum thread to discuss this issue. x-post back here.

[2022-11-14 19:18] sliptonic commented on #7734
For item #1, You're not wrong but this is already covered by the policy.  We can reject a PR that doesn't have an identified / agreed problem.

For item #2,  The policy says nothing about that.  How would you judge whether a contribution will stand the test of time?  Discussion of implementation can be had in the PR prior to merge and as long as the contributor is willing to improve it, there's no

[2022-11-14 20:33] MisterMakerNL commented on #5772
@luzpaz Looks good! But lets try the wizard first :)
Got a little further still have not figured how to add a groupbox to the code, but I will one day!
![afbeelding](https://user-images.githubusercontent.com/29804962/201758922-b9aaa727-5499-428a-8e41-e03e2780e97d.png)

[2022-11-14 20:45] luzpaz commented on #7795
This may be [Topological naming problem](https://wiki.freecad.org/Topological_naming_problem). Please confirm your issue on the forum before opening a ticket. Closing ticket for now. If this is a valid bug, please re-open.

[2022-11-14 20:45] #7795 closed

[2022-11-15 10:38] Zolko-123 commented on #7734
it can't be judged in a precise way of course, but there can be indications like required dependencies: the more a code depends on something else, and even more if it depends on external code, the likelier it will be that it breaks with time. Or the opposite: the more self-contained a code is, the more robust it will be.

Quantitatively, one can look at the amount of `#includes` it contains, and w

[2022-11-15 16:47] ANDREMIV opened #7805 "[Bug] [Sketcher] Copy is not working properly, buggy parrallel constraints are added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

Bug in sketcher copy function in sketcher :
Bug reproduction:

1)Open fresh freecad
2)Part design -> new part -> new sketch - XY
3)In sketcher, create arc of circle, fix angle of arc of

[2022-11-15 17:19] obelisk79 commented on #7756
I found the display and hiding with mouse focus and 'hot zones' on the edges of the screen to be a bit troublesome when manually editing properties and moving between the display and the panel. So, yes the idea is for a widget on the edge of the panel to allow me to easily click to both hide and display and have it stick with or without focus was my idea. I was hoping it would be something simple

[2022-11-15 18:23] Roy-043 opened #7806 "[Bug] [Draft] `arcFromSpline()` function uses wrong parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=35&t=69190#p600132

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Draft

### Issue description

The parameter range of a circular spline is not based on its length, it ranges from 0-2pi. Therefore the

[2022-11-15 19:59] luzpaz commented on #7787
@ipatch have you seen this before (i know this is conda related but I wonder if you've seen it on homebrew ?)

[2022-11-15 20:22] luzpaz commented on #7787
@WelchITConsulting see https://github.com/FreeCAD/FreeCAD/issues/7482#issuecomment-1280097970

[2022-11-15 20:24] luzpaz commented on #7787
This is a dupe of #7482

[2022-11-15 20:24] #7787 closed

[2022-11-15 20:24] luzpaz commented on #7482
Closed dupe #7787 in favor of this ticket. Can we get some traction on this ?

[2022-11-16 00:24] DanMiel opened #7810 "A2plus: Cannot Suppress the Constraint in the data field. Suppressed field is grayed out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

After constraints are made between part in A2plus the constraint can normally be suppressed in the data field in the Combo View. The field is a True/False but is grayed out.
Dan

###

[2022-11-16 01:07] luzpaz commented on #7810
Is this a A2plus issue though?

[2022-11-16 01:20] luzpaz commented on #5761
Can we close this ticket?

[2022-11-16 02:29] marioalexis84 commented on #5761
I think not yet: https://forum.freecadweb.org/viewtopic.php?p=641093#p641093

[2022-11-16 03:50] DanMiel commented on #7810
Yes, it is an A2plus issue.

[2022-11-16 04:43] ebalduf opened #7811 "[Issue] Crash when editing denominator of fraction of inch."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

When using "Building US (ft-in/sqft/cft)" and you edit dimensions with ft and a fraction of an inch (no actual inches), specifically the denominator FreeCA

[2022-11-16 10:41] WelchITConsulting commented on #7482
Thanks this worked for me too.

[2022-11-16 12:50] grautvornix opened #7812 "[Problem] Menu "Formteil" is missing in english version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description
Workbench "part":
If language is set to German, you have the menu "Formteil".
After switching language to english, this menu is missing

### Anything else?

_No response_

### Code of Con

[2022-11-16 13:31] abdullahtahiriyo commented on #7657
@Zolko-123
From what I remember from reviewing toponaming code, this g# is very relevant for toponaming, where it is important to be short. As geometries get the unique ID, and not specific geometry types, I do not think it is possible to implement what you indicate in (2), at least without changing all sketcher toponaming.

[2022-11-16 13:36] luzpaz commented on #7812
Example of #6704
CC @0penBrain @donovaly

[2022-11-16 13:43] 0penBrain commented on #7812
@luzpaz Not really an example of the other issue (the other is about translations not being updated directly at language change).
Moreover I don't see issue reported here. The German 'Formteil' is strictly same as English 'Part' menu... :confused:

[2022-11-16 13:49] luzpaz commented on #7812
I see what you're saying. But @0penBrain that wasn't my impression of the whole issue. I understood it as anomalies would present when setting in a new language. This falls under that behavior as well, IMHO

[2022-11-16 19:47] luzpaz commented on #7482
Hi @looooo, can we tweak the conda macos build with this symlink fix ?

[2022-11-16 19:50] luzpaz commented on #7810
Closing this ticket and opened https://github.com/kbwbe/A2plus/issues/543 in the A2plus repo.

[2022-11-16 19:50] #7810 closed

[2022-11-16 19:52] luzpaz commented on #7805
Have you discussed with anyone on the forum to see if they can recreate ?

[2022-11-16 19:54] luzpaz commented on #7758
@LarryWoestman and @mlampert where are we on this and #7759 ?

[2022-11-16 20:01] luzpaz commented on #7772
@chennes if you have macos, can you test this issue?

[2022-11-16 20:07] luzpaz commented on #6803
@nebularnoise this maybe too ambitious. We need @wwmayer to weigh-in. But in the meantime, feel free to choose another issue?

[2022-11-16 23:28] luzpaz opened #7816 "[Issue] Path: PathSimulator zip archive stored in Path subdir to be removed?"
### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

The [src/Mod/Path/PathSimulator/Gui](https://github.com/FreeCAD/FreeCAD/tree/955eeb4775b87bb80655f0bbbf993bef49916713/src/Mod/Path/PathSimulator/Gui) has an archive stored in it called [Gui Backup - no need.zip](https://github.com/FreeCAD/FreeCAD/blob/955eeb4775b87bb80655f0bbbf

[2022-11-16 23:51] luzpaz commented on #7811
Hey @0penBrain I can't test ATM. Do you know if this a known issue?

[2022-11-17 05:58] 0penBrain commented on #7811
Not that I know. Will have a look.
Would need details though.
Where to edit? In Sketcher directly or in Property pane?
Which character to delete when editing? Only the 4 or also the double quote first?

[2022-11-17 06:33] 0penBrain commented on #7811
Definitely can't find how to reproduce. Really need step by step procedure.

[2022-11-17 07:40] SYehChen opened #7818 "[Problem] FreeCAD produce different results under the same input parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

I have a very simple testing model here. It shows that FreeCAD FEM will produce different results under the same input parameters

The original model is 01.FCStd. The CAD parameters are

[2022-11-17 07:44] SYehChen commented on #6159
I create an example model for test. Here is the model and a pdf file for descripting the details of the model.
There are 4 parts in the model, glue together by ConnstarintTied.
. FreeCAD FEM complaint that "multiple mesh is not supported".

[Shaft_FEM_test.zip](https://github.com/FreeCAD/FreeCAD/files/10029044/Shaft_FEM_test.zip)

[2022-11-17 09:07] iamdbychkov commented on #6992
Is there any instruction on installing FreeCad on newer distributions? Official binaries is not useful as every operation fails on some python error.
Is there a way to instruct compile which python to use when building FreeCad from source? For some reason page with building instructions is unavailable.
Shouldn't this instruction be on a front page for now?

[2022-11-17 09:58] yorikvanhavre commented on #7765
Confirmed. The other precast tools seem to work, only the slab is defect.
The UI is also not intuitive, one needs to go in column mode to place a slab...

[2022-11-17 10:02] yorikvanhavre commented on #7745
@realthunder you might have the fix already :)

[2022-11-17 10:16] yorikvanhavre commented on #7709
Hah i had never seen this before :)
On my system it takes the system icon:
![image](https://user-images.githubusercontent.com/1136856/202418578-612e0ac8-4d83-443a-91ae-24b926cd65f8.png)
I think the problem here is that the code that provides a default icon seems weird: https://github.com/FreeCAD/FreeCAD/blob/master/src/Mod/Start/StartPage/StartPage.py#L220

[2022-11-17 11:41] grubertechnic commented on #7791
The question is why it worked before. Maybe there was a error in the function and the catch was no function at all. So it still works as is should do, so no bug at all. I do not say this is an invalid feature request.

But also i the thread you linked, the solution is would be to deactivate a PartDesign feature. In my opinion, i would also prefer this way. It is just not implemented.

[2022-11-17 12:23] grubertechnic commented on #7818
I can not confirm it, the result is still absolute the same when i edit the Spreadsheet and rerun the calculation. But there are some questions in it.

Do you recalculate the mesh after the editing? I did not for testing purposes. But when you do it, gmsh can have randoms in the mesh in it. When you rerun gmsh, you will see very little differences. I am sure they are intent (start at random point)

[2022-11-17 12:30] grubertechnic commented on #7811
Can also not confirm it (latest master on Debian11).

[2022-11-17 12:42] n3ws commented on #7791
I got around the issue by using MultiTransform. No problem about
single occurrence anymore.

[2022-11-17 14:25] WandererFan opened #7823 "[Bug] [TechDraw] Detail highlight reference obscures drawing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=73498

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Issue description

The reference text associated with a detail highlight can obscure important aspects of the drawing.  There should

[2022-11-17 14:54] realthunder commented on #7745
That's a stubborn problem on MacOS. I've made several attempts to fix, but it kept coming back. Not sure what change that did the job. I'll try to dig it out.

[2022-11-17 15:25] gotchoices commented on #7745
If you can discover the root cause, it would be so great to add a regression test for it so it doesn't keep cropping up.

[2022-11-17 15:27] ebalduf commented on #7811
This is on a mac, not sure if that matters.  Below is a macro record of my sequence up to the point just before the crash.  Once you run the below, then double click on the dimension (make sure you are in US units), and backspace over the denominator in the dimension (ie the 2 in[ 1' 1/2"] ) crash.

# -*- coding: utf-8 -*-

# Macro Begin: /Users/ebalduf/Library/Preferences/FreeCAD/Macro/reproduce_

[2022-11-17 16:44] grubertechnic commented on #7818
Then it is not random. Random means not reproduceable at all for the usecase.

They are, look at the documentaion, see https://gmsh.info/doc/texinfo/gmsh.html#index-Mesh_002eRandomSeed. Gmsh is a beast. and offers many function.

True.

Also the will be always a tolerance in computation, especially in FEM.

[2022-11-17 16:52] 0penBrain commented on #7811
OK, I reproduced with 0.20 AppImage (I have no crash but an unhandled exception, which means same).
Bu we have another issue... This unit schema is totally broken in current dev... :confused:

[2022-11-17 17:21] 0penBrain commented on #7812
@grautvornix Can you please give some screenshots/screencast ?

[2022-11-17 17:25] luzpaz commented on #7812
@grautvornix indeed, i could use some help recreating this.

[2022-11-17 18:13] adrianinsaval commented on #7657
but where outside of this dialog would the user ever use this name anyways? AFAIK you cannot reference an edge using this in expressions, this is only used internally to fix the toponaming problem.

[2022-11-17 19:25] luzpaz commented on #6159
@SYehChen can you bump the forum thread as well to let them know you've uploaded an example? TIA!

[2022-11-17 21:10] LarryWoestman commented on #7758
PR #7759 has been pulled by sliptonic.  I have built and tested the master branch today and all of the tests passed, including PathTests.TestPathPost.
This issue can be closed.

[2022-11-17 21:10] #7758 closed

[2022-11-17 22:34] luzpaz commented on #5942
CC @ifohancroft

[2022-11-17 23:33] Zolko-123 commented on #7657
We all have our preferred tools, and mine is the `AttachmentEditor`. Apart from the Sketcher, this is the tool that I use most, for attaching LCS to master sketches and then attach parts to those LCSs. I'll try to explain a simple workflow with screenshots. I'm using the toponaming AppImage from some days ago (FreeCAD-toponaming-20221028.AppImage)

[code]

Using only PartDesign and Sketcher, I cre

[2022-11-18 00:23] adrianinsaval commented on #7657
Ok I agree that would ultimately be nicer to see for the user, but I think it's probably too complex to implement at the moment, and I don't think it would be wise to complicate things by adding geometry type to the topological name, specially considering that the current implementation allows swapping identifiers between different geometry types at the user's command, adding the geometry type to

[2022-11-18 07:43] Zolko-123 commented on #7657
Going a step further in the investigation, if I delete a line in the sketcher, the new attachment support which was _Edge6_ is now _Edge4_ , but `g6` remains persistent :

![topo7](https://user-images.githubusercontent.com/46596542/202644615-c6143741-6546-482a-afe5-50a2742c2c46.png)

The toponaming stuff does its job, very nice. When looking into the _Sketch.Shape.Map.txt_ file, we get the followi

[2022-11-18 10:17] abdullahtahiriyo commented on #7657
@Zolko-123

I have not read the whole thing, but I see you are refer to the persistent ID, which is a geometry unique ID that is stored in the SketchGeometryExtension. You can access in current master this ID like this:

[code]

[2022-11-18 13:59] WandererFan opened #7830 "[Problem] [TechDraw]3d Dimensions are too difficult to create"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Techdraw

### Problem description

a) To create a dimension based on 3d geometry requires the use of the awkward LinkDimension command.   It should as close as possible to the method of creating a dimension based on projec

[2022-11-18 14:54] sliptonic opened #7832 "[Problem] Official Documentation is difficult to maintain, translate, version and reproduce"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

The official documentation is maintained in a wiki.  This system has served the community reasonably well for many years but has some severe limitations.  This issue is created as a

[2022-11-18 15:08] wwmayer commented on #5761
When running the Draft unit tests then ASAN reports this little block as leak:
[code]
But this doesn't seem to be directly caused by the Draft but rather by the Part module or the core system.

When running the dimension command as described by the OP then it still fails to release two Inventor nodes:
[code]

At least the original problem with the massive leak has been fixed for ages

[2022-11-18 15:55] obelisk79 commented on #7832
Another consideration for WIKI management should include research into adding a functional WYSIWYG editor. Creating a page using syntax formatting and having to preview to see the end result can get tedious during major edits. I believe there are a few existing plugins which work with our wiki system.

Another thought, is that for any feature update/change/addition/removal, someone should voluntee

[2022-11-18 17:24] luzpaz commented on #7832
Related:
* As chennes mentioned above https://github.com/FreeCAD/FreeCAD-Homepage/issues/96
* https://github.com/FreeCAD/FreeCAD-Homepage/issues/34  (ideally we can have this for documentation as well)

[2022-11-18 17:27] wwmayer commented on #6803
The function getTempFileName() is supposed to return the name of a tmp. file. Therefore it uses some OS-specific functions that already create a handle of a tmp. and release it immediately (Windows: GetTempFileName / DeleteFile and other OS mkstemp / unlink) just to get this name.

The problem is that when trying to open the file for writing there is no guarantee that in the meantime any other pro

[2022-11-18 17:58] luzpaz commented on #5973
bump

[2022-11-18 18:05] luzpaz opened #7833 "[App] Python2/3 FIXME code in `App/FreeCADInit.py` to be reviewed"
https://github.com/FreeCAD/FreeCAD/blob/1b41844acb869a82f88ff43a8dd4e2aaccabe3c4/src/App/FreeCADInit.py#L66-L81

Link to the original issue: https://tracker.freecadweb.org/view.php?id=2238
Link to fix: 4da63d1d

[2022-11-18 18:13] luzpaz opened #7834 "[Path] Python 2 code block in `Path/Post/Processor.py` to be removed"
https://github.com/FreeCAD/FreeCAD/blob/1b41844acb869a82f88ff43a8dd4e2aaccabe3c4/src/Mod/Path/Path/Post/Processor.py#L49-L60

[2022-11-18 18:41] luzpaz commented on #7451
Directly contradicts #6076

[2022-11-18 19:40] silopolis commented on #7832
Le ven. 18 nov. 2022 à 15:54, sliptonic ***@***.***> a écrit :

AsciiDoc is really nice to use too.
reStructuredText may be archer, but ain't nothing like it semantically (but
special MD syntaxes like MyST may be worth investigating...)

Authoring tools

That web editing requirement is where most of the text based, git
manageable solutions get pushed out of the game :'(
AFAIC, strength of rst/md/a

[2022-11-18 23:45] TyPosey opened #7838 "Bug Report on Shell command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Problem description

Workbench: Part Design
create sketch: Circle at origin
pad extrude: 22 mm check draft option
Shell command. the part places the outer shell 90 degrees to the rest of the part.

Not sure if

[2022-11-19 00:10] adrianinsaval commented on #7657
No it can't, because you are not just talking about what Sketcher does, you're asking for attachment and general 3d view selection to behave differently too, this is a global thing that affects everything that has a shape and placement, this cannot be done in sketcher alone.

I guess it could but I don't see how this is better

ok but like i said I think this should be tackled as a separate issue

[2022-11-19 00:51] luzpaz commented on #7838
Looks like an assembly3 issue. No idea what Assembly3 version you're running. You missing full `About` version.  Closing as this looks like user error. Please ask on the Assembly sub forum: https://forum.freecadweb.org/viewforum.php?f=20

[2022-11-19 00:51] #7838 closed

[2022-11-19 02:00] Zolko-123 commented on #7657
OK, let's agree that we disagree. I wish you good fortune in the wars to come

[2022-11-19 11:40] luzpaz commented on #7657
Thanks for the lively discussion, it shows how important this toponaming merge is. I'd like to keep this open and have some other folk weigh-in. @Zolko-123, above abdullah responded to you (https://github.com/FreeCAD/FreeCAD/issues/7657#issuecomment-1319802511)

[2022-11-19 15:02] wwmayer commented on #7793
@berniev your PR has been merged. Can this ticket be closed or do want to create further PRs?

[2022-11-19 15:18] Roy-043 commented on #7646
I can't reproduce the given scenario. If the last feature of the Body is an additive, or subtractive, primitive the effects of Transform are not reverted.

See:
https://forum.freecadweb.org/viewtopic.php?f=8&t=73618

[code]

[2022-11-19 15:30] berniev commented on #7793
@wwmayer Thank you! Yes it can be closed.

[2022-11-19 15:30] #7793 closed

[2022-11-19 17:46] ipatch commented on #7772
just tested this on macos mojave. i am unable to reproduce.

[code]

---

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/613805/202864306-8cdc6a74-5392-4edb-a3eb-e5368fda6cce.png">

[2022-11-19 18:26] kanguru007 commented on #7646
As someone said on a later discussion about this, " If you right-click a PD feature in the tree Transform is not available. That seems inconsistent."

Removing Transform from the context menu will fix this issue. This is confusing for people having a first look at FreeCAD and it can be fixed quickly.

[2022-11-19 20:50] looooo commented on #7482
I hope this does the job:
https://github.com/FreeCAD/FreeCAD-Bundle/commit/2a602fbea9479434e84ab66f40bd601518ef9622

[2022-11-20 11:28] SarenT opened #7841 "[Spreadsheet] Alias field can't be set for empty cells"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Spreadsheet

### Issue description

Setting an empty cell alias does not work anymore via the alias text field.
Steps to reproduce:

1. In an empty project, create a new spreadsheet
2. Sel

[2022-11-20 13:21] designlabworms opened #7843 "[Issue] German -> Arbeitsbereich Part -> have a wrong link"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Issue description

https://wiki.freecad.org/User_hub/de:

 [[Image:Workbench_**Part**.svg|32px]] Der [[**Image**_Workbench/de|Arbeitsbereich Part]] für

[2022-11-20 13:27] EelcoA opened #7844 "Set stylesheet not loaded at startup (Ubuntu 22.10 / Snap)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?p=325625#p325625

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

The changed stylesheet is not loaded at startup. It is saved in the `~/snap/freecad-mechanical/commo

[2022-11-20 13:37] realthunder commented on #7745
Can someone that uses MacOS test this small [patch](https://github.com/realthunder/FreeCAD/commit/815a4e3e416). I wasn't sure if this is actually a fix at the time, so the commit log says it's a temporary fix.

[2022-11-20 16:24] gotchoices commented on #7745
I'm happy to test, but having some challenges trying to compile from source on my platform at the moment.  Anyone have a working mac build environment they can use to deploy the patch (or willing to help me debug some build problems off forum)?

[2022-11-20 16:42] luzpaz commented on #7745
can't wait till we have  cross-platform experimental builds (and not just for snap packaging)

[2022-11-20 17:11] bastolino opened #7845 "add ppa for Ubuntu 22.10 / kinetic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Installation not possible because no ppa available for kinetic; with jammy ppa I get the following unresolved dependency:
Die folgenden Pakete haben u

[2022-11-20 18:29] luzpaz commented on #7845
This is a known issue. We currently are looking for a PPA maintainer. See https://forum.freecadweb.org/viewtopic.php?f=42&t=69055

Closing

[2022-11-20 18:29] #7845 closed

[2022-11-20 18:32] luzpaz commented on #7844
Full [About](https://wiki.freecad.org/About) info needed

[2022-11-20 18:33] luzpaz commented on #7844
Can you test an offiicial FreeCAD snap? (you're using https://snapcraft.io/freecad-mechanical which is a 3rd party packager)

[2022-11-20 18:41] luzpaz commented on #7844
Can't recreate on latest official snap

[code]

Closing.

[2022-11-20 18:41] #7844 closed

[2022-11-20 18:53] luzpaz commented on #7843
Fixed.
Please open a forum thread next time on the Translation subforum instead of opening a ticket here.

Thank you!

[2022-11-20 18:53] #7843 closed

[2022-11-20 18:55] luzpaz commented on #7772
Thanks @ipatch !

[2022-11-20 18:57] luzpaz commented on #7834
chennes, hope it's ok with you if I assigned this and the other ticket to you? :blush:

[2022-11-20 22:26] luzpaz commented on #7338
Closing ticket. Deferring to forum topic.

[2022-11-20 22:31] mlampert opened #7847 "[Path] thread-milling does not maintain ThreadFit property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When the user adjusts the thread-fit value it is not saved to the object. The property `ThreadFit` is initialized to 50 but never used and/or upda

[2022-11-20 22:42] schoenid commented on #7338
So, as I think, I gave enough information, to reproduce the problem.
The issue is obvious.
Closing the issue does not solve it.

[2022-11-21 03:01] #5942 closed

[2022-11-21 03:04] donovaly commented on #5942
I backported this also for FreeCAD 0.20.2

[2022-11-21 07:47] FlachyJoe commented on #7338
@schoenid The problematic file was asked here and in the forum.

FYI, sphere - box + torus works as expected here:
[code]
![Capture d’écran_2022-11-21_08-43-15](https://user-images.githubusercontent.com/10371513/202993254-66cc4487-3c60-4709-8dc7-b29e7f38ac3b.png)

[2022-11-21 12:30] #7806 closed

[2022-11-21 15:12] FalcoGer opened #7853 "[Problem] Groove in pipe from padded concentric circles breaks geometry of pockets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Problem description

When padding a pipe from concentric circles, then adding holes via pocket and polar patterns to the pipe and then adding a slot with the grove tool inside those circles breaks the geometry

[2022-11-21 15:19] FalcoGer commented on #7853
I tried uploading the example file, but github doesn't want it. Here is the exact steps to reproduce the issue.

1. Open Part Designer
2. Create a body
3. Start a new sketch on the XZ-Plane
4. Create two circles with the center on the origin, 50mm, 55mm
5. Pad the sketch to 150mm
6. Create a datum plane with reference to the XY-Plane and offset it by 55mm (r2 of the pipe)
7. Create a sketch on the

[2022-11-21 18:47] luzpaz commented on #7853
Please paste full [About](https://wiki.freecad.org/About) info in original ticket above

[2022-11-21 18:48] luzpaz commented on #7853
Have you asked anyone on the forum to confirm this before opening a ticket?

[2022-11-22 00:46] FalcoGer commented on #7853
[code]

I don't know about any forums and I don't want to register with yet another website I will only use once. Why would I need to confirm anything? It's a bug, it happens. I added the steps to reproduce and a screenshot. What's to confirm?

[2022-11-22 01:10] mlampert opened #7855 "[Path] thread milling connects multiple passes by colliding with workpiece"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

Using multiple passes the algorithm generates a helix from the end point to the starting point. The helix currently passes right through the work

[2022-11-22 01:25] FalcoGer opened #7856 "[Issue] Segfault when opening task on Detail View for which the parent View was deleted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

When opening the tasks on a detailed view for which the parent view was deleted, the program crashes with a segmentation fault.

Detailed steps to rep

[2022-11-22 13:42] purehunter1 opened #7860 "[Problem] Sketcher: Dimensions get unreadable (small) if a 2nd sketch is visible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=13&t=43670

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Sketcher

### Issue description

If you have 2 sketches in your project e.g. a profile (1st) and a path (2nd), perpendicular to the profile, the d

[2022-11-22 14:43] Roy-043 opened #7861 "[Issue] [Draft] Fix inconsistent properties of Draft annotations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=23&t=73370

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Draft

### Issue description

There are some inconsistenties in the View properties of Draft annotations. This is confusing for both end users

[2022-11-23 10:02] luzpaz commented on #7860
Please add an example file

[2022-11-23 10:08] purehunter1 commented on #7860
[ZoomTest.zip](https://github.com/FreeCAD/FreeCAD/files/10074405/ZoomTest.zip)
I zipped it, as FC files are not accepted

[2022-11-23 10:31] luzpaz commented on #7853
We recently changed our approach to bug tracking. We used to have bug reporters open a [forum](https://forum.freecadweb.org) thread to confirm the bug was actually a bug (by having a tester test on the latest dev version. Anyway, is it possible for you to upload an example file ?

[2022-11-23 13:16] adrianinsaval commented on #7805
this was fixed by #7822
OP did not post in the forum that he had created a github issue, @ANDREMIV please always crosslink when you post in both places

[2022-11-23 13:20] adrianinsaval commented on #7841
This works from the cell properties dialog but not from the main window

[2022-11-23 13:30] adrianinsaval commented on #7860
This is a duplicate of #7082 for me having the other sketch visible or not makes no difference, but changing between perspective and parallel view does. To work around the issue go to sketcher settings and enable the option to force parallel view when entering sketcher edit mode

[2022-11-23 13:43] adrianinsaval commented on #7489
is #7589 related or maybe even the same underlying bug?

[2022-11-23 13:48] adrianinsaval commented on #6289
This can be closed as they have been both removed

[2022-11-23 14:29] WandererFan commented on #7856
fixed in master by cdda6f2c38.

Still working on backport to v020

[2022-11-23 14:36] adrianinsaval commented on #5965
my PR #7688 addresses this but additional changes will be necessary to support currently considered invalid names if/when 3062 is merged, with that PR names like `with spaces` or `1st` can be referenced with the syntax `Constraints[<<with spaces>>]` and `Constraints[<<1st>>]`

[2022-11-23 14:42] adrianinsaval commented on #5965
@realthunder I think you did some work with `ObjectIdentifier`, if you are not too busy do you know why the inconsistent output of `toString` (see details above)? Is it a bug?

[2022-11-23 16:36] adrianinsaval commented on #7338
It would have been 100 times easier if you just shared the damned file, as it is one has to carefully create each object and follow your syntax to try and get the conditions, why do you choose to waste everyone's time??

Here a file with what I think this guy meant (remove dummy zip extension):
[7338.FCStd.zip](https://github.com/FreeCAD/FreeCAD/files/10077468/7338.FCStd.zip)
attempting to make a

[2022-11-23 17:18] Roy-043 opened #7868 "[Bug] [Part] DefaultShapeColor not applied properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=73718

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

The DefaultShapeColor preference is not applied properly. See test below. AFAICT the DiffuseColor of the ShapeMate

[2022-11-23 21:31] Roy-043 commented on #5765
I assume that 'maintain the colours' means the clone should receive the colors of the original object upon creation. And once created the clone's colors should be independent.

I am not entirely sure if the word 'part' in the original report means 'App::Part'.

AFAICT there are two bugs in the Draft code, and a strange DiffuseColor update issue that need to be addressed.

Draft bug 1:
https://gith

[2022-11-23 23:23] schoenid commented on #7338
I've recreated the file.
[Sphere-Problem.FCStd.zip](https://github.com/FreeCAD/FreeCAD/files/10079605/Sphere-Problem.FCStd.zip)
(Remove the dummy zip extension)

In the meantime I've learned, that segments of spheres and toruses can be done by the Angle3 attribute, so things do go easier. Also the problems with merging did not occur. (altough these are not soved and may occur in different, unexpec

[2022-11-23 23:44] adrianinsaval commented on #7338
I think this is just one more example of OCCT's troubles with coplanar boolean ops and seam edges. I don't think there's anything we can do on the FreeCAD side.

[2022-11-23 23:58] adrianinsaval commented on #7338
[Sphere-Problem.FCStd.zip](https://github.com/FreeCAD/FreeCAD/files/10079838/Sphere-Problem.FCStd.zip)
interestingly it works for me after recomputing everything

[2022-11-24 01:03] adrianinsaval commented on #7518
this can be closed now IMO as it was fixed by #7566

[2022-11-24 07:21] shaise commented on #7816
I believe this zip can be deleted. Its a remnant of simulator being a separate wb.

[2022-11-24 07:46] realthunder commented on #5965
The leading dot is to indicate that the identifier is referencing a local property of the owner object (each expression must be owned by the object whose setExpression() is called). Without this leading dot, a current working expression may be broken in the future when you add an object with the same name as the property.

For example, `Constraint.Length` could mean an attribute named `Length` of

[2022-11-24 09:22] #7082 closed

[2022-11-24 09:22] #7860 closed

[2022-11-24 10:54] Roy-043 commented on #5765
... The DiffuseColor update issue can be fixed by using `ToDo.delay`

https://github.com/FreeCAD/FreeCAD/blob/d955e0f1088c9f2082822de6b7fa89024257efb1/src/Mod/Draft/draftmake/make_clone.py#L126
then becomes `ToDo.delay(cl.ViewObject.Proxy.resetColors, cl.ViewObject)`

[2022-11-24 12:45] adrianinsaval commented on #5965
Ok but the leading dot would still be correct for the indexer right? wouldn't it be better to have consistent output and add a dot there too? Otherwise one has to treat the output differently for each case as I had to do in my PR #7688

[2022-11-24 12:54] 69Piero opened #7872 "[Problem] PartDesign: Pocket up to face/up to first creates traces and multiple faces (refining doesn't work)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=19&t=73809
https://forum.freecadweb.org/viewtopic.php?f=8&t=73760

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

Refining (forced and auto when set in preference) do

[2022-11-24 13:07] adrianinsaval commented on #7872
please attach a file where the issue can be reproduced, you can rename the file to have .zip extension so github accepts it

[2022-11-24 13:32] 69Piero commented on #7872
that an example

[Bug Up to face-up to first.zip](https://github.com/FreeCAD/FreeCAD/files/10084952/Bug.Up.to.face-up.to.first.zip)

[2022-11-24 16:43] hl1234 opened #7873 "[Problem] A2Plus does not recognize user units preferences in constraint dialog"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Other (specify in description)

### Problem description

I set my preferences to Building US. This is reflected in standard workbenches (at least Part Design and Sketcher).  However when I use A2Plus for assembly and selec

[2022-11-24 17:57] Roy-043 commented on #7765
The tool is not intended for the creation of cuboid prefab slabs, but for hollow core slabs. Reasonable values must be entered in the "Precast elements" section of the task panel. Accepting the default values (all zero) leads to the mentioned problem.
![hollow_core_floor](https://user-images.githubusercontent.com/70520633/203842950-ce0b395c-fd79-4518-9fda-f364df52a85b.png)

So the bug is combinati

[2022-11-24 18:49] adrianinsaval opened #7875 "[Problem] Navicube corners are small and difficult to click on"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=34&t=68544

### Subproject(s) affected?

Core

### Idea description

Currently navi cube corners are small and can be hard to click, one proposed solution is to use a bigger hexagonal shape instead of the current triangular shape
![image](http

[2022-11-24 20:12] Roy-043 commented on #5900
Since version V0.19 a multi-line text can be entered and there is a "Create text" button in the task panel.

[2022-11-24 20:12] #5900 closed

[2022-11-24 20:22] silopolis commented on #7875
YES! 😍
Please 🙏

[2022-11-24 20:24] Roy-043 commented on #5737
As already mentioned, since V0.19 the "Target" property of a Draft_Label can be changed. Note that the property is hidden, you need to select "Show all" in the context menu of the Property editor first.

[2022-11-24 20:24] #5737 closed

[2022-11-24 21:29] MisterMakerNL commented on #7875
IT's cool, not original but it's better.

[2022-11-24 21:58] adrianinsaval commented on #7875
almost there:
![image](https://user-images.githubusercontent.com/36372335/203868044-5b8d46fb-c899-4f7e-9c92-ff49a1c9510c.png)
I don't understand well how the transformations of the corner work so I don't know how to properly adjust the position, also I don't know why a square is still being drawn on the sides on top of the filleted squares

[2022-11-25 00:11] adrianinsaval commented on #7875
thanks to the help from @Jolbas it's almost ready now:
![image](https://user-images.githubusercontent.com/36372335/203876834-cb5da466-9b8d-4aef-b014-5884a09096e1.png)

[2022-11-25 00:22] adrianinsaval commented on #7875
made a PR #7876

[2022-11-25 05:13] hl1234 commented on #7873
Okay. After a little more sensible testing I tried a few of the other non-metric Units Systems in preferences and all is well for those. So there is something much more subtle going on specifically with Building US.

[2022-11-25 12:51] johannespfister opened #7878 "[Issue] OpenSCAD transformation wrong on import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=3&t=73418&p=641076

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

OpenSCAD

### Issue description

I have a OpenSCAD File with 2 Modules (and some submodules in this modules) that works in OpenSCAD and Fr

[2022-11-25 13:44] FalcoGer commented on #7853
Here is the file.
https://drive.google.com/file/d/1GOXRaAf-rtFMWnr2jpm9kXLv62TinVm7/view?usp=share_link
I might take it down later, probably in a few months or so. Github doesn't accept it, even though they say zip files are supported, I can't upload here.

[2022-11-25 15:22] KeithSloan commented on #7878
Seems to be okay with the Alternate_Openscad_Importer https://github.com/KeithSloan/OpenSCAD_Alt_Import
![Image 25-11-2022 at 15 20](https://user-images.githubusercontent.com/2291247/204015190-2528d86b-22e5-461d-a080-e8294e3e0c85.jpg)

[2022-11-25 21:06] FlachyJoe opened #7880 "[Issue] PartDesign pad in custom direction fail in UpToFace case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=8&t=73674&p=642646#p642646

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Issue description

Error "SketchBased: Up to face: Must not be parallel to extrusion direction!" is raised whe

[2022-11-25 22:02] cropduster32 opened #7881 "Curves WB Interpolate Failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

Trying to create a curve around a simple sketch with no result. Report view shows:
Running the Python command 'Interpolate' failed:
Traceback (most recent call last):
  File "/home/b

[2022-11-26 03:27] chennes commented on #7832
Does anyone have experience with Docusaurus? https://github.com/facebook/docusaurus

It's open source, MIT licensed, and seems to check all of our boxes. There are some scripts out there to help migrate mediawiki into it.

[2022-11-26 06:59] PLChris commented on #7390
The bug occurs also outside of Sketcher, see https://forum.freecadweb.org/viewtopic.php?f=8&t=73898 and the file attached to the first post

[2022-11-26 11:09] mskf1383 opened #7882 "[Problem] Toolbar customizations problem with RTL (right to left) locales"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Core

### Problem description

I customized toolbar to this:
![نماگرفت_۲۰۲۲۱۱۲۶_۱۴۳۱۰۵](https://user-images.githubusercontent.com/50908329/204085435-42591844-bce0-4a0e-8838-320342787a14.png)

But after close and reopening

[2022-11-26 13:02] FlachyJoe commented on #7881
Hi,
can you share the problematic file or at least describe your workflow ?

[2022-11-26 13:56] cropduster32 commented on #7881
Yes, I was following the MangoJelly video 'Curves Workbench 16: Boat / Ship building with Interpolate Curves Possible solution?' and got to the point of using the Interpolate Curve tool and go the message in Report View shown above. I can zip the file here if necessary but as there are only a few lines it's probably not worth it.

[2022-11-26 15:14] FlachyJoe commented on #7881
[Curves_Interpolate](https://wiki.freecadweb.org/Curves_Interpolate) works as expected here
[code]

It doesn't seem a code issue but an usage one. Please [explore the forum](https://forum.freecadweb.org/viewtopic.php?f=3&t=22675) and ask there if needed.

[2022-11-26 15:15] FlachyJoe commented on #7878
@KeithSloan can you please assign a descriptive title to this issue ?

[2022-11-26 15:17] KeithSloan commented on #7878
@FlachyJoe Not my issue, was just testing with the Alternate OpenSCAD importer.

[2022-11-26 17:46] FlachyJoe commented on #7878
@KeithSloan whoops !
@johannespfister can you please update the title ?

[2022-11-27 09:57] Roy-043 commented on #7765
The simplest way to solve this would be to use a default value if "Slab base" is zero. Using 50mm or Height/4 (whichever is smallest) can work.

BTW I agree that the UI is confusing. You can even create a staircase with the tool!

[2022-11-27 10:31] Roy-043 commented on #5675
It is possible to create a [PartDesign_SubShapeBinder](https://wiki.freecadweb.org/PartDesign_SubShapeBinder) from selected edges of a sketch. The resulting object can then be used as the base for a wall.

IMO this is a valid solution for the requested functionality. I am therefore closing this FR.

[2022-11-27 10:31] #5675 closed

[2022-11-27 12:04] Roy-043 commented on #6538
FWIW Python workaround:
[code]

[2022-11-27 12:06] Roy-043 commented on #7765
I have removed the Regression label.

[2022-11-27 15:29] Roy-043 commented on #5598
The issue cannot be reproduced in V0.21.
[code]

[2022-11-27 15:29] #5598 closed

[2022-11-27 18:15] Roy-043 commented on #7868
Strange: can't reproduce this today. Therefore closing this.

[2022-11-27 18:15] #7868 closed

[2022-11-28 00:54] #7841 closed

[2022-11-28 01:12] donovaly commented on #7841
@chennes , something to be backported right? If so, can you please to the backport?

[2022-11-28 01:37] chennes commented on #7841
Sure, I've done it.

[2022-11-28 03:08] luzpaz commented on #7881
Closing this ticket for the time being.

[2022-11-28 03:08] #7881 closed

[2022-11-28 04:22] chennes opened #7893 "[Problem] Contributions policy is silent on the issue of language"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Problem description

As pointed out by @FlachyJoe in PR #7883, although our "unofficial" policy is that contributions are in English, our actual CONTRIBUTING.md file does not spell this out. Since this i

[2022-11-28 10:46] #5765 closed

[2022-11-28 11:52] vanrein opened #7894 "[Issue] Parsing of i18n-numeric formats (with a comma instead of a dot)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

FEM

### Issue description

My locale uses `LC_NUMERIC="nl_NL.UTF-8"` which means that 8 is printed as `8,00` -- the comma separates the integer part from the fractional part, what is done

[2022-11-28 12:13] vanrein commented on #7894
Browsing around the code, most fields use `Units.Quantity()` but the Young's Modulus is dimension-less and uses the `float()` builtin directly.  Making it easy to oversee when adding i18n.

[2022-11-28 18:45] paullee0 commented on #7765
Interesting, it calls ArchPreset rather than ArchStructure to create those objects

[2022-11-29 00:31] #7875 closed

[2022-11-29 01:46] donovaly commented on #7856
Thanks for the backport.
Fixed for FreeCAD 0.20.2 by #7898

[2022-11-29 01:46] #7856 closed

[2022-11-29 03:52] SYehChen commented on #6159
I already did.

[2022-11-29 10:03] riopar10 opened #7904 "[Issue]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

Part

### Issue description

PART - Incorrect export
Hello, good morning, a problem when exporting, whatever the file is, stl, 3mf, etc, always or almost always, but quite frequently, free

[2022-11-29 13:36] adrianinsaval commented on #7894
can you link to the line of code in question?
@WandererFan could you check this one out?

[2022-11-29 13:38] adrianinsaval commented on #7882
Does the customization never work or is this a one time thing?

[2022-11-29 13:42] adrianinsaval commented on #7904
can you share a file where you experienced this problem? are you sure you are selecting _only_ the shape you want to export and not any of the previous shapes?

[2022-11-29 13:57] adrianinsaval commented on #7853
looks like an occt coplanar issue and it seems to be fixed in 7.6 (maybe by the blobfish patches), here I have fully recomputed every element of that body and it now works, I also upload the original for reference in case the google drive file is later removed
[PipeWithGrove.FCStd.zip](https://github.com/FreeCAD/FreeCAD/files/10113635/PipeWithGrove.FCStd.zip)
[PipeWithGrove-recomputed.FCStd.zip](h

[2022-11-29 14:56] #7853 closed

[2022-11-29 16:04] luzpaz commented on #7873
Please open this ticket in the A2plus repo https://github.com/kbwbe/A2plus

[2022-11-29 16:04] #7873 closed

[2022-11-29 16:06] luzpaz commented on #7772
Can someone reproduce on the weekly Conda macos build  ?

[2022-11-29 16:48] adrianinsaval commented on #7853
It's pointless, ubuntu does not update these things, only on new releases they pull whatever debian has. At most the freecad ppa version could be updated but I think FalcoGer is using the one from the ubuntu repos.

[2022-11-29 16:50] luzpaz commented on #6159
@donovaly can you take a look if you have a moment?

[2022-11-29 17:09] luzpaz commented on #7853
Yea, they should just remove FC from the Ubuntu downloads. It's a time-suck for everyone...especially the users who are trying to learn FC and get a very bad impression because of packaging issues.

[2022-11-29 17:41] luzpaz commented on #6289
@adrianinsaval any idea what commit(s) associated with this ticket?

[2022-11-29 17:41] #6289 closed

[2022-11-29 17:43] adrianinsaval commented on #7675
this looks like the same issue as #7745 I suggest closing this one as #7745 is better described, has a bounty and some relevant discussions towards solving this.

[2022-11-29 17:44] luzpaz commented on #7675
Duplicate per :point_up:

[2022-11-29 17:44] #7675 closed

[2022-11-29 17:54] #7805 closed

[2022-11-29 17:56] luzpaz commented on #7489
@balrobs and @Syres916 please respond at your convenience :point_up:

[2022-11-29 18:08] mskf1383 commented on #7882
It always happen. Also it is important that when I move a toolbox vertical, it save. but when I move it horizontal, It reset at next startup. I think this is a problem with RTL.

I don't know. QT apps I have are from KDE and don't let user to move toolboxes.

Yes

[2022-11-29 20:39] Roy-043 commented on #5890
This issue has meanwhile been fixed.
See: https://forum.freecadweb.org/viewtopic.php?p=293533#p293533
[code]

[2022-11-29 20:39] #5890 closed

[2022-11-29 22:18] adrianinsaval commented on #6289
19230c83ef4d6659bb12140f1d182df4036a7649 I guess

[2022-11-29 22:25] adrianinsaval commented on #7894
I did not notice this was reported for 0.19, please test in the latest stable release (currently 0.20.1) before creating an issue, older versions will not receive any bugfixing anymore so it's pointless. If the bug has been fixed already please close this issue.

[2022-11-30 00:58] FalcoGer commented on #7853
That's not correct. I use the freecad ppa at https://ppa.launchpadcontent.net/freecad-maintainers/freecad-stable/ubuntu/ for jammy.

[2022-11-30 01:22] adrianinsaval commented on #7853
Ok I was confused because the ppa has opencascade 7.5.2 and your version info says 7.5.1, but you're right it seems there isn't a package for ubuntu 22.04 (btw please use numbers, these version names are meaningless to most people that aren't actively using ubuntu).

well we have snap and flatpak packages too, both using occt 7.6, these are very easily updated. And the appimage (which also uses oc

[2022-11-30 01:43] chennes commented on #7878
It looks like the final grouping, "Group001", is getting a placement put on it, and it shouldn't. If I zero out that transform everything looks fine.

[2022-11-30 03:00] ningjiazun opened #7910 "[Problem] Sketch export to DXF"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

PartDesign

### Problem description

0.20.1 Export 2D graphics error，
But redrawing the same graphics in 0.19.3 works fine。

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-11-30 06:48] FalcoGer commented on #7853
I used the name jammy because that's what the directory in the ppa is actually called and that is missing from the weird dependency repository. I don't know about any of the versions of dependencies. I simply added the ppa to my sources and ran `apt install freecad`, and that is what I got.

[2022-11-30 08:03] BloodRaven77 opened #7912 "Version 0.20 - Internet connection problems - BIM Workbench[Issue]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

_No response_

### Version

0.20 (Release)

### Full version info

[code]

### Subproject(s) affected?

_No response_

### Issue description

I installed the BIM workbench. After that I went through the setup they recommended. Then when I wanted to go through the tutorial, it says I have to

[2022-11-30 12:01] luzpaz commented on #7910
Please add an example file or we will close this ticket. Note: It's best to ask on the forum before opening a ticket.

[2022-11-30 12:04] luzpaz commented on #7882
This is a bigger issue. This needs to be discussed on the UI/UX subforum as a dedicated thread for RTL UI/UX

[2022-11-30 15:25] donovaly commented on #6159
Not the next weeks. Sorry.

[2022-11-30 17:25] acp693 opened #7913 "[Problem] CAM: pocket made with splines fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion

https://forum.freecad.org/viewtopic.php?f=15&t=74016

### Version

0.21 (Development)

### Full version info

[code]

### Subproject(s) affected?

Path

### Issue description

Path generated for a pocket made with splines fails to generate path that reaches the bottom of the pocket

### Anyt

[2022-11-30 17:35] adrianinsaval commented on #7853
I understand why you would use the name, I am just recommending to use numbers in the future

[2022-11-30 18:25] adrianinsaval commented on #7910
@luzpaz IMO issues like this should be closed directly and then reopened only if proper reproduction steps are provided, otherwise who knows if someone will remember to actually close this later, makes for easier maintenance IMO.
also note that the forum first policy is no longer in place so I don't know if we should keep recommending that, tbh sometimes it complicates things when you have to go b

[2022-11-30 18:53] mowley-bob opened #7914 "[Bug] [TechDraw] `Unsupported sub shape type` exception appears in versions after r30988"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Forums discussion
https://forum.freecadweb.org/viewtopic.php?f=3&t=74042

### Version

0.21 (Development)

### Full version info

**Working Version**
[code]

**Non-working version**
[code]

### Subproject(s) affected?

_No response_

### Issue description

The Dimension on the Technical Drawing called Battery-

[2022-11-30 20:38] xxxajk commented on #6538
Only thought now is to figure out how the "work around" can be implemented within the resize function, or I could preprocess the wires if a circle would end up a bug tripper.
I already do some processing anyway, but the idea I originally had just used OCC to do that sort of thing...
I don't really understand why it would fault -- totally doesn't make any sense whatsoever.

[2022-11-30 22:19] LarryWoestman opened #7918 "Path: Be able to replace command or parameter strings in the "refactored" postprocesors"
### Is there an existing request for this?

- [X] I have searched the existing requests

### Forums discussion

https://forum.freecadweb.org/viewtopic.php?f=15&t=73915

### Subproject(s) affected?

Path

### Idea description

It would help a lot if the "refactored" postprocessors could be configured to replace the command strings ("G01", for example) and/or the parameter strings ("Q", for example)